---
export type Props = { content: Record<string, string> }
const { content = {} } = Astro.props as Props;

---

<section>
	<h4>Whats Next</h4>
	<ul>
		{Object.keys(content).map(key =>
		<li><a href={content[key]}>{key}</a></li>)}
	</ul>
</section>

<style>
	.content {
		padding: 0;
		max-width: 75ch;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.content>section {
		margin-bottom: 4rem;
	}

	.block {
		display: block;
	}

	@media (min-width: 50em) {
		.sm\:hidden {
			display: none;
		}
	}
</style>