---
import heroBg from "../assets/hero-bg.png"
import button from "@chainlink/design-system/button.module.css"
import { clsx } from "../../../lib";
---

<div class="hero-cta">
    <div id="hero-search">
        <h3>Welcome to the Chainlink Documentation</h3>
    </div>
    <div id="hero-link">
        <div class="container">
            <h5>New to Chainlink and Smart Contracts?</h5>
            <p>Learn the basics in the Getting Started Guide.</p>
            <a href="#" class={clsx(button.primary)}>Get Started</a>
        </div>
    </div>
</div>


<style>
    #hero-search {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #hero-search h3 {
        color: var(--color-text-contrast)
    }

    #hero-search:before {
        content: "";
        background-image: url(../assets/hero-bg.png);
        position: absolute;
        height: 100%;
        display: block;
        width: 200%;
        z-index: -1;
        left: -100%;
    }

    #hero-link {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #hero-link .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px;
        box-sizing: content-box;
    }

    #hero-link:before {
        content: "";
        background: var(--blue-100);
        position: absolute;
        height: 100%;
        display: block;
        width: 200%;
        z-index: -1;
        right: -100%;
    }

    .hero-cta {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        min-height: 284px;
    }

    #hero-link .container>* {
        display: block;
        margin: 1rem 0 0 0;
    }

    #hero-link .container>* :first-child {
        margin-top: 0;
    }
</style>