---
import stackOverflow from "../assets/stack-overflow.svg"
import discord from "../assets/discord.svg"
import devExpert from "../assets/dev-expert.svg"

const data = [
  {
    title: "Need integration support?",
    description: "Talk to an expert",
    link: "https://chainlinkcommunity.typeform.com/to/OYQO67EF?page=docs-footer",
    image: devExpert,
  },
  {
    title: "Discord",
    description: "Join the community",
    link: "https://discord.gg/aSK4zew",
    image: discord,
  },
  {
    title: "Stack overflow",
    description: "Get technical support",
    link: "https://stackoverflow.com/questions/tagged/chainlink",
    image: stackOverflow,
  },
]
---

<div class="community-links-cta">
  {data.map((item) => (
    <section class="card">
      <div class="text">
        <h5>{item.title}</h5>
        <a href={item.link}>{item.description}</a>
      </div>
      <div class="img-circle">
        <img src={item.image} />
      </div>
    </section>
  ))}
</div>

<style>
  .community-links-cta {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-4x);
  }
  @media (min-width: 50em) {
    .community-links-cta {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: var(--space-8x);
    }
  }

  .community-links-cta .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .community-links-cta .card .text > * {
    margin: 0;
    padding: 0;
  }

  .community-links-cta .card .text > a {
    margin-top: var(--space-2x);
  }

  .img-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--color-background-secondary);
    width: 64px;
    height: 64px;
    flex-shrink: 0;
  }
</style>
