<div class="resources-cta">
  <h3>Useful resources</h3>
  <div>
    <a href="#">Fund Your Contracts</a><a href="#">Acquire testnet LINK</a>
  </div>
  <div>
    <a href="#">LINK Token Contracts</a><a href="#">Hackathon Resources</a>
  </div>
  <div><a href="#">Selecting Quality Data Feeds</a></div>
</div>

<style>
  .resources-cta {
    background: var(--color-background-secondary);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-4x);
    padding: var(--space-8x);
    border-radius: var(--border-radius-primary);
  }
  @media (min-width: 50em) {
    .resources-cta {
      background: var(--color-background-secondary);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: var(--space-8x);
    }
  }

  .resources-cta div a {
    display: block;
    margin-top: var(--space-4x);
  }

  .resources-cta div a:first-child {
    margin-top: var(--space-0x);
  }
</style>
