---
import { StreamsNetworkAddressesTable } from "@features/feeds/components/Tables.tsx"
import Layout from "~/layouts/DocsLayout.astro"

const initialSearch = Astro.url.searchParams.get("streamsNetwork") ?? ""

const frontmatter = {
  section: "dataLink",
  date: "Last Modified",
  title: "DataLink Verifier Proxy Addresses",
  whatsnext: {
    "Learn about DataLink": "/datalink",
    "View available DataLink feeds": "/datalink/provider-catalog",
  },
}
---

<Layout {frontmatter}>
  <p>
    DataLink uses the same verifier proxy addresses as <a href="/data-streams">Chainlink Data Streams</a>. Below is the
    list of supported networks and their corresponding addresses.
  </p>
  <p style="margin-bottom: 2rem;">
    For more information about how to verify data onchain, see the <a
      href="/datalink/pull-delivery/tutorials/onchain-verification-evm">Onchain Verification</a
    > guide.
  </p>
  <StreamsNetworkAddressesTable client:load initialSearch={initialSearch} />
</Layout>
