.nav {
  padding-bottom: calc(2 * var(--doc-padding));
  width: 100%;
  height: calc(100vh - var(--space-16x)); /* Subtract header height */
  position: sticky;
  top: var(--space-16x); /* Header height */
  overflow: hidden; /* Prevent nav overflow */
}

.navGroups {
  padding: 0 var(--space-10x) var(--space-10x) 0;
  height: calc(100vh - var(--space-16x) - var(--space-16x)); /* Subtract header and footer height */

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--gray-300) transparent;
}

.navGroups::-webkit-scrollbar {
  width: 6px;
}

.navGroups::-webkit-scrollbar-track {
  background: transparent;
}

.navGroups::-webkit-scrollbar-thumb {
  background-color: var(--gray-300);
  border-radius: 3px;
}

.navGroups li {
  list-style: none;
}

.navGroups > li {
  padding-top: var(--space-1x);
}

.navGroups > li:first-of-type {
  padding-top: 0;
}

.navGroups > li[aria-hidden="true"] {
  display: none;
}

.navGroupTitle {
  margin-bottom: var(--space-2x);
  margin-top: var(--space-1x);
  color: var(--muted-foreground);
  line-height: 24px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: var(--space-2x);
  cursor: pointer;
  list-style: none;
  position: relative;
}

.navGroupTitle::after {
  content: "";
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  border-right: 1.5px solid var(--gray-500);
  border-bottom: 1.5px solid var(--gray-500);
  transform: rotate(-45deg);
  transition: transform 0.15s ease;
  position: absolute;
  top: calc(50% - 4px);
  right: var(--space-2x);
}

details[open] > .navGroupTitle::after {
  transform: rotate(45deg);
  top: calc(50% - 5px);
}

.navGroupEntries {
  margin-bottom: 0;
}

details {
  margin-bottom: 0;
  position: relative;
}

details > summary {
  margin-bottom: var(--space-1x);
}

details summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details[open] > .navGroupTitle {
  margin-bottom: var(--space-2x);
}

:global(:root.theme-dark) .navLink[aria-current="page"] {
  color: hsla(var(--color-base-white), 100%, 1);
}

.link {
  display: flex;
  align-items: center;
  padding: var(--space-3x) var(--space-2x);
  gap: var(--space-2x);
  margin-right: var(--space-2x);

  color: var(--gray-900, #141921);
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.quickLinks {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: var(--space-2x);
}

.headerLink {
  font-size: 14px;
  color: var(--color-text-link);
  padding: var(--space-1x) var(--space-2x);
}

.headerLink * {
  margin: 0;
  max-width: 100%;
  color: inherit;
  font: inherit;
}

.headerLink.active,
.headerLink:hover,
.headerLink:focus {
  color: var(--theme-accent);
  fill: var(--theme-accent);
}

.headerLink:focus-within {
  color: var(--theme-text-light);
  fill: var(--theme-text-light);
}

.headerLink a {
  display: inline-flex;
  gap: var(--space-2x);
  width: 100%;
  padding: 0.15em 0 0.15em 0;
  text-decoration: none;
}

.headerLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}
