---
import { MarkdownHeading } from "astro"
import { QuickstartsFrontmatter } from "~/content/config"
interface Props {
  frontmatter: QuickstartsFrontmatter
}
const { frontmatter } = Astro.props
---

<a>Back</a>
<article>
  <header>
    <h1>{frontmatter.title}</h1>
    <h3>{frontmatter.summary}</h3>
  </header>
  <section class="content">
    <!-- https://docs.astro.build/en/core-concepts/astro-components/#slots -->
    <!-- MDX content will be injected into the page where your <slot /> component is written -->
    <slot />
  </section>
</article>

<style>
  article {
    margin-top: var(--space-10x);
  }

  header * {
    margin-bottom: 0;
  }

  header h3 {
    color: #252e42;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: var(--space-6x);
  }

  .content {
    margin-top: var(--space-20x);
  }

  .content :global(*) {
    margin-top: 0;
    margin-bottom: 0;
  }

  .content :global(:where(h2, h2 + *, summary + *)) {
    margin-top: var(--space-6x);
  }

  .content :global(li) {
    line-height: 1.5;
  }

  .content :global(ol > li:first-of-type) {
    border-top: 1px solid var(--gray-300, #ced0d5);
  }

  .content :global(ol > li) {
    padding: 12px 0px;
    border-bottom: 1px solid var(--gray-300, #ced0d5);
  }

  .content :global(summary) {
    cursor: pointer;
    color: var(--blue-800, #1a2b6b);
    font-size: 20px;
  }
</style>
