---
import { MarkdownHeading } from "astro"
import { QuickstartsFrontmatter } from "~/content/config"
interface Props {
  frontmatter: QuickstartsFrontmatter
}
const { frontmatter } = Astro.props
---

<a>Back</a>
<article>
  <header>
    <h1>{frontmatter.title}</h1>
    <h3>{frontmatter.summary}</h3>
  </header>
  <section class="content">
    <!-- https://docs.astro.build/en/core-concepts/astro-components/#slots -->
    <!-- MDX content will be injected into the page where your <slot /> component is written -->
    <slot />
  </section>
</article>

<style>
  article {
    margin-top: var(--space-10x);
  }
  header h1 {
    margin-bottom: 0;
  }
  header h3 {
    color: #252e42;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: var(--space-6x);
    margin-bottom: 0;
  }

  article > .content {
    margin-top: var(--space-20x);
  }

  article > .content :global(h2, p) {
    margin-bottom: 0;
  }

  article > .content :global(h2 + *) {
    margin-top: var(--space-6x);
  }

  article > .content :global(h2) {
    margin-top: var(--space-6x);
  }

  article > .content :global(li) {
    margin: 0;
    line-height: 1.5;
  }
</style>
