.bar {
  background: rgb(255, 255, 255, 1);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 40%);
  position: sticky;
  top: var(--theme-navbar-height);
  z-index: 1;
  height: calc(var(--space-16x) + var(--space-4x));
  margin-top: calc(var(--space-4x) * -1 - var(--space-2x)) !important;
  margin-bottom: calc(var(--space-12x) * -1 - var(--space-10x) - var(--space-2x)) !important;
  transition: opacity 250ms ease;
  opacity: 1;
  backdrop-filter: blur(0.5px);
}

.bar[disabled] {
  opacity: 0;
}

@media (min-width: 50em) {
  .bar {
    top: 0;
    height: calc(var(--space-20x));
    margin-top: calc(var(--space-10x) * -1 + var(--space-4x)) !important;
    margin-bottom: calc(var(--space-20x) * -1) !important;
  }
}
