---
import { QuickstartsFrontmatter } from "~/content/config"
import NavArrowLeftIcon from "./NavArrowLeftIcon.astro"
interface Props {
  frontmatter: QuickstartsFrontmatter
}
const { frontmatter } = Astro.props
---

<a class="back text-200" href="https://dev.chain.link/resources/quickstarts">
  <NavArrowLeftIcon />
  Back to QuickStarts</a
>
<h1 class="title">{frontmatter.title}</h1>
<h3 class="description">{frontmatter.description}</h3>

<style>
  .back {
    display: flex;
    align-items: center;
    gap: var(--space-2x);
    color: var(--color-text-link);
    stroke: var(--color-text-link);
  }

  .back:hover {
    color: var(--color-text-link-hover);
    stroke: var(--color-text-link-hover);
  }

  * {
    max-width: 640px;
    margin-bottom: 0;
  }

  .title,
  .description {
    margin-top: var(--space-6x);
  }

  .description {
    color: #555c6c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
  }

  @media (min-width: 48em) {
    .description {
      color: #252e42;
    }
  }
</style>
