---
import { QuickstartsFrontmatter } from "~/content/config"
import NavArrowLeftIcon from "./NavArrowLeftIcon.astro"
interface Props {
  frontmatter: QuickstartsFrontmatter
}
const { frontmatter } = Astro.props
---

<section id="article">
  <a class="back text-200" href="./">
    <NavArrowLeftIcon />
    Back</a
  >
  <h1 id="overview">{frontmatter.title}</h1>
  <h3 id="description">{frontmatter.description}</h3>
</section>

<style>
  .back {
    display: flex;
    align-items: center;
    gap: var(--space-2x);
    color: var(--color-text-link);
    stroke: var(--color-text-link);
  }

  .back:hover {
    color: var(--color-text-link-hover);
    stroke: var(--color-text-link-hover);
  }

  section * {
    margin-bottom: 0;
    max-width: 640px;
  }

  section :where(#overview, #description) {
    margin-top: var(--space-6x);
  }

  #description {
    color: #555c6c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
  }

  @media (min-width: 48em) {
    #overview {
      margin-top: var(--space-10x);
    }

    #description {
      color: #252e42;
    }
  }
</style>
