.networks__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-2x);
}

@media (min-width: 992px) {
  .networks__grid {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-6x);
  }
}
