.responsiveContainer {
  width: 100%;
}

.tableContainer {
  display: block;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: center;
  font-size: 0.9rem;
}

th {
  background-color: var(--gray-100);
  font-weight: bold;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: var(--gray-100);
  border-bottom: 2px solid var(--gray-200);
}

.networkHeaderCell {
  width: 15%;
  text-align: center;
}

.productHeaderCell {
  text-align: center;
  font-size: 1rem;
  padding: 18px 0;
}

.productHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
  width: 100%;
}

.networkHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  padding-top: 12px;
  padding-left: 12px;
}

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.productCell {
  width: 10%;
  text-align: center;
  transition: background-color 0.4s ease;
}

.productCell:hover {
  background-color: var(--blue-100);
}

.productLink {
  text-decoration: none;
  color: inherit;
}

.productLink:hover {
  color: var(--blue-600);
}

.supportedContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoLink {
  margin-left: 8px;
  margin-top: 6px;
  vertical-align: middle;
}

.linkIcon {
  width: 22px;
  height: 22px;
  display: inline-block;
}

.linkTokenHeaderCell {
  text-align: center;
  font-size: 1rem;
  padding: 15px 0;
}

.cellLink {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.4s ease;
}

.cellLink:hover {
  background-color: var(--blue-100);
}

.cardContainer {
  display: none;
  padding: 20px 0;
}

.card {
  background-color: var(--gray-100);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-4px);
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 12px;
}

.cardTitle {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.networkIcon {
  width: 24px;
  height: 24px;
}

.productLinks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.productItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  background-color: var(--blue-50);
  border-radius: 8px;
  padding: 8px;
  transition: background-color 0.2s ease;
}

.productLink:hover {
  background-color: var(--blue-100);
}

.icon {
  width: 22px;
  height: 22px;
}

.linkTokenIcon {
  width: 22px;
  height: 22px;
  padding-top: 4px;
}

.linkIcon {
  width: 16px;
  height: 16px;
}

@media (max-width: 1080px) {
  .tableContainer {
    display: none;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
  }
}
