.quickLinksHero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: var(--space-8x) 0 var(--space-4x);
}

.quickLinksHero h2,
.quickLinksHero h2 span {
  font-family: Circular, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.02em;
}

.quickLinksHero h2 span {
  color: #375bd2;
}

.quickLinksHero p {
  color: #252e42;
  font-family: Circular, Tahoma, sans-serif;
  font-size: 19px;
  line-height: 28.5px;
}

.quickLinksHero a {
  padding: 8px 24px;
  line-height: 24px;
  box-shadow: 0 12px 32px -12px rgba(12, 22, 44, 0.32);
}

.quickLinksHero a + a {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .quickLinksHero {
    flex-wrap: nowrap;
  }
}
