.quickLinksHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: var(--space-8x);

  border-radius: 8px;
}

.quickLinksHero h2,
.quickLinksHero h2 span {
  font-family: Circular, Tahoma, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.quickLinksHero h2 span {
  color: var(--blue-600);
}

.quickLinksHero p {
  color: var(--gray-700);
  font-family: Circular, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  max-width: 540px;
}

.backLink {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: var(--blue-800);
  text-decoration: none;
  margin-bottom: 16px;
  transition: color 0.3s ease;
}

.backLink:hover {
  color: var(--blue-600);
}

@media screen and (min-width: 768px) {
  .quickLinksHero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-10x) 0;
  }

  .quickLinksHero p {
    max-width: 480px;
  }
}
