.ccip-hero__search {
  background-color: white;
  padding: 18px;
  display: flex;
  gap: var(--space-4x);
  width: 100%;
  max-width: 640px;
  border: 1px solid var(--gray-200);
  border-radius: var(--space-1x);
  position: relative;
}

.ccip-hero__search-overlay {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 3;
}

.ccip-hero__search.open,
.ccip-hero__search.active {
  border-color: var(--gray-400);
  z-index: 3;
}

.ccip-hero__search input {
  padding: 0;
  border: none;
  outline: none;
}

.ccip-hero__search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(/assets/icons/close-small.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}
.ccip-hero__search input:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
}

.ccip-hero__search-results__lane-images {
  display: flex;
  align-items: center;
}

.ccip-hero__search-results__lane-images img:nth-child(2) {
  margin-left: -6px;
}

.ccip-hero__search-results {
  position: absolute;
  top: 110%;
  left: -1px;
  right: -1px;
  background-color: white;
  border: 1px solid var(--gray-400);
  border-radius: var(--space-1x);
  z-index: 1;
  max-height: 400px;
  overflow-y: auto;
  font-style: normal;
  font-weight: 600;
  font-size: var(--space-4x);
  color: #000000;
}

.ccip-hero__search-results a {
  color: #000000;
}

.ccip-hero__search-results ul {
  list-style: none;
  margin-top: 10px;
}

.ccip-hero__search-results li a {
  display: flex;
  gap: var(--space-4x);
  align-items: center;
  padding-top: var(--space-3x);
  padding-bottom: var(--space-3x);
  cursor: pointer;
  padding-left: var(--space-6x);
  padding-right: var(--space-6x);
}

.ccip-hero__search-results--small a {
  padding-left: var(--space-6x) !important;
  padding-right: var(--space-6x) !important;
}

.ccip-hero__search-results--small .ccip-hero__search-results__title {
  padding-left: var(--space-6x) !important;
  padding-right: var(--space-6x) !important;
}

.ccip-hero__search-results li:hover {
  background-color: var(--gray-50);
}

.ccip-hero__search-results li img {
  width: var(--space-6x);
  height: var(--space-6x);
}

.ccip-hero__search-results li span {
  flex: 1;
  text-align: end;
  color: var(--gray-500);
}

.ccip-hero__search-results__title,
.ccip-hero__search-results__no-result {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: var(--gray-500);
  padding-left: var(--space-6x);
  padding-right: var(--space-6x);
  padding-top: var(--space-6x);
}

.ccip-hero__search-results__no-result {
  padding-bottom: var(--space-6x);
}

@media (min-width: 992px) {
  .ccip-hero__search.small {
    padding: var(--space-2x);
  }

  .ccip-hero__search-results li a {
    display: flex;
    gap: var(--space-4x);
    align-items: center;
    padding-top: var(--space-3x);
    padding-bottom: var(--space-3x);
    cursor: pointer;
    padding-left: var(--space-10x);
    padding-right: var(--space-10x);
  }

  .ccip-hero__search-results__title,
  .ccip-hero__search-results__no-result {
    padding-left: var(--space-10x);
    padding-right: var(--space-10x);
    padding-top: var(--space-6x);
    padding-bottom: var(--space-2x);
  }
}
