<a href="#article" class="sr-only focus:not-sr-only skiplink">Skip to Content</a>

<style>
  .skiplink,
  .skiplink:focus,
  .skiplink:focus-visible {
    position: absolute;
    padding: 0.25em;
    font-size: large;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    display: block;
    text-align: center;
    background-color: var(--color-fill-highlight);
    color: var(--color-text-contrast);
    border-radius: 0.25em;
    outline-offset: 0;
  }
</style>
