<table>
  <thead>
    <tr>
      <th rowspan="2">Service</th>
      <th rowspan="2">Lanes</th>
      <th colspan="2">
        Fee Token
        <tr>
          <td>(Wrapped) Gas Token</td>
          <td>LINK</td>
        </tr>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Token Transfers with/without messaging</td>
      <td>All lanes</td>
      <td>0.07 %</td>
      <td>0.063 %</td>
    </tr>
    <tr>
      <td rowspan="2">Messaging</td>
      <td>Ethereum</td>
      <td>0.50 USD</td>
      <td>0.45 USD</td>
    </tr>
    <tr>
      <td>Non-Ethereum</td>
      <td>0.10 USD</td>
      <td>0.09 USD</td>
    </tr>
  </tbody>
</table>

<style>
  th,
  td {
    text-align: center;
  }
</style>
