<table>
  <thead>
    <tr>
      <th rowspan="2">Use case</th>
      <th rowspan="2">Lanes</th>
      <th rowspan="2">Token Pool Mechanism</th>
      <th colspan="2">Fee Token</th>
    </tr>
    <tr>
      <th>(Wrapped) Gas Token</th>
      <th>LINK</th>
    </tr>
  </thead>
  <tbody>
    <!-- Token Transfers with/without messaging -->
    <tr>
      <td rowspan="6">
        <ul style="list-style-type:none; margin:0; padding:0;">
          <li>Token Transfers</li>
          <li>Programmable Token Transfers</li>
        </ul>
      </td>
      <td rowspan="2">From:&nbsp;Ethereum</td>
      <td>Lock and Unlock</td>
      <td>0.07&nbsp;%</td>
      <td>0.063&nbsp;%</td>
    </tr>
    <tr>
      <td>Lock and Mint<br />Burn and Mint<br />Burn and Unlock</td>
      <td>0.50&nbsp;USD</td>
      <td>0.45&nbsp;USD</td>
    </tr>
    <tr>
      <td rowspan="2">To:&nbsp;Ethereum</td>
      <td>Lock and Unlock</td>
      <td>0.07&nbsp;%</td>
      <td>0.063&nbsp;%</td>
    </tr>
    <tr>
      <td>Lock and Mint<br />Burn and Mint<br />Burn and Unlock</td>
      <td>5.00&nbsp;USD</td>
      <td>4.50&nbsp;USD</td>
    </tr>
    <tr>
      <td rowspan="2">Non-Ethereum</td>
      <td>Lock and Unlock</td>
      <td>0.07&nbsp;%</td>
      <td>0.063&nbsp;%</td>
    </tr>
    <tr>
      <td>Lock and Mint<br />Burn and Mint<br />Burn and Unlock</td>
      <td>0.25&nbsp;USD</td>
      <td>0.225&nbsp;USD</td>
    </tr>
    <!-- Messaging -->
    <tr>
      <td rowspan="2">Messaging</td>
      <td>From/To:&nbsp;Ethereum</td>
      <td>N/A</td>
      <td>0.50&nbsp;USD</td>
      <td>0.45&nbsp;USD</td>
    </tr>
    <tr>
      <td>Non-Ethereum</td>
      <td>N/A</td>
      <td>0.10&nbsp;USD</td>
      <td>0.09&nbsp;USD</td>
    </tr>
  </tbody>
</table>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
  }
</style>
