<table>
  <thead>
    <tr>
      <th rowspan="2">Service</th>
      <th rowspan="2">Lanes</th>
      <th rowspan="2">Token Pool Type</th>
      <th colspan="2">Fee Token</th>
    </tr>
    <tr>
      <!-- These now serve as headers for the two fee token types -->
      <th>(Wrapped) Gas Token</th>
      <th>LINK</th>
    </tr>
  </thead>
  <tbody>
    <!-- Token Transfers with/without messaging -->
    <tr>
      <td rowspan="9">Token Transfers with/without messaging</td>
      <td rowspan="3">Source: Ethereum</td>
      <td>Lock and Unlock</td>
      <td>0.07 %</td>
      <td>0.063 %</td>
    </tr>
    <tr>
      <td>Lock and Mint</td>
      <td>0.50 USD</td>
      <td>0.45 USD</td>
    </tr>
    <tr>
      <td>Burn and Mint</td>
      <td>0.50 USD</td>
      <td>0.45 USD</td>
    </tr>
    <tr>
      <td rowspan="3">Destination: Ethereum</td>
      <td>Lock and Unlock</td>
      <td>0.07 %</td>
      <td>0.063 %</td>
    </tr>
    <tr>
      <td>Lock and Mint</td>
      <td>5.00 USD</td>
      <td>4.50 USD</td>
    </tr>
    <tr>
      <td>Burn and Mint</td>
      <td>5.00 USD</td>
      <td>4.50 USD</td>
    </tr>
    <tr>
      <td rowspan="3">Non-Ethereum</td>
      <td>Lock and Unlock</td>
      <td>0.07 %</td>
      <td>0.063 %</td>
    </tr>
    <tr>
      <td>Lock and Mint</td>
      <td>0.25 USD</td>
      <td>0.225 USD</td>
    </tr>
    <tr>
      <td>Burn and Mint</td>
      <td>0.25 USD</td>
      <td>0.225 USD</td>
    </tr>
    <!-- Messaging -->
    <tr>
      <td rowspan="3">Messaging</td>
      <td>Source: Ethereum</td>
      <td>N/A</td>
      <td>0.50 USD</td>
      <td>0.45 USD</td>
    </tr>
    <tr>
      <td>Destination: Ethereum</td>
      <td>N/A</td>
      <td>0.50 USD</td>
      <td>0.45 USD</td>
    </tr>
    <tr>
      <td>Non-Ethereum</td>
      <td>N/A</td>
      <td>0.10 USD</td>
      <td>0.09 USD</td>
    </tr>
  </tbody>
</table>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    text-align: center;
  }

  tbody tr:hover {
    background-color: #eaeaea; /* Highlighting effect on hover */
  }
</style>
