.mint-component {
  display: flex;
  margin-top: 1em;
  border: 0.2em solid var(--color-border-primary);
  border-radius: 0.3em;
  min-height: 5vw;
  flex-flow: column wrap;
  align-content: center;
}

.mint-component > p {
  font-size: 1.1em;
  text-align: center;
}
