details {
  display: contents;
}

.network-selector-summary {
  margin: 0 auto;
  width: 14rem;
  padding-top: 1rem;
}

.network-selector {
  padding: var(--space-2x);
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--space-10x);
  border-radius: var(--border-radius-primary);
  background-color: var(--white);
  border: solid var(--border-width-primary) var(--gray-300);
  user-select: none;
  cursor: pointer;
  width: 14rem;
}

.network-selector-container {
  margin-right: var(--space-4x);
}

.network-selector img,
.dropdown-container img {
  width: var(--space-6x);
  height: var(--space-6x);
}
.dropdown-container ul img:first-of-type {
  margin-right: var(--space-4x);
}

.option button > span,
.selected-option button > span {
  display: flex;
  align-items: center;
}

.selected-option button {
  display: flex;
  justify-content: space-between;
}

.network-selector span + img,
.selected-option img + img {
  width: var(--space-4x);
  height: var(--space-4x);
}

.network-selector span {
  margin-right: var(--space-2x);
  display: none;
  color: var(--color-text-value);
}

.dropdown-container {
  background-color: var(--white);
  z-index: 1;
  box-shadow: var(--shadow-mid-secondary);
  border: var(--border-width-primary) solid var(--color-border-primary);
}

.dropdown-container button {
  color: var(--gray-800);
  padding: var(--space-3x) 0;
  background: none;
  margin-bottom: var(--space-0x);
  display: flex;
  text-decoration: none;
  border: var(--border-width-reset);
  width: 100%;
}

.disabled {
  outline: 0;
  cursor: not-allowed;
  box-shadow: none;
}

.disabled summary {
  pointer-events: none;
}

.disabled div {
  background-color: var(--color-background-disabled);
  border-color: var(--color-border-disabled);
}

@media screen and (min-width: 768px) {
  .network-selector-container {
    display: contents;
  }

  .network-selector {
    padding: var(--space-2x) var(--space-4x);
  }

  .network-selector img,
  .dropdown-container img {
    width: var(--space-4x);
    height: var(--space-4x);
  }

  .dropdown-container ul img:first-of-type {
    margin-right: var(--space-2x);
  }

  .dropdown-container ul {
    padding-left: 0.7em;
  }

  .network-selector span {
    display: block;
  }

  .dropdown-container {
    margin: 0 auto;
    width: 14rem;
    padding: var(--space-2x);
    border-radius: var(--border-radius-primary);
    border-color: var(--gray-300);
  }

  .dropdown-container button {
    border: none;
    padding: var(--space-2x);
    color: var(--gray-700);
  }

  .dropdown-container span {
    /* Magic number needed to match original dropdown*/
    line-height: 22px;
    min-width: 240px;
  }

  .dropdown-container button:hover {
    background-color: var(--blue-100);
    color: var(--blue-800);
    border-radius: var(--border-radius-primary);
  }

  .selected-option {
    display: none;
  }

  .add-to-wallet-button {
    display: flex;
  }
}
