@keyframes slideIn {
  from {
    transform: translateX(100%); /* Slide in from the right */
    opacity: 0; /* Start with the toast hidden */
  }
  to {
    transform: translateX(0);
    opacity: 1; /* Slide in and fade in simultaneously */
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1; /* Start with the toast visible */
  }
  to {
    transform: translateX(100%); /* Slide out to the right */
    opacity: 0; /* Fade out while sliding */
  }
}

.toast {
  position: fixed;
  top: 16px;
  right: 16px;
  padding: 10px 20px;
  border-radius: var(--border-radius-primary);
  background-color: var(--white);
  z-index: 1;
  border: solid var(--border-width-primary) var(--gray-300);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.toast-content {
  font-size: 16px;
}

.slide-in {
  animation: slideIn 0.3s forwards;
}

.slide-out {
  animation: slideOut 0.3s forwards;
}
