.eventCardLink {
  display: flex;
  align-items: center;
  gap: var(--space-4x);
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
  background-color: var(--background);
}

.eventCardLink:hover .eventCardH {
  color: var(--brand) !important;
}

.eventCardLink:hover .linkArr {
  opacity: 1 !important;
}

.eventDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-2x) var(--space-5x);
  flex-shrink: 0;
  border: 1px solid var(--border);
  background-color: var(--muted);
}

.eventCardDesc {
  display: flex;
  flex-direction: column;
  gap: var(--space-2x);
  flex: 1;
  min-width: 0;
}

.eventCardCountry {
  display: flex;
  align-items: center;
  gap: var(--space-2x);
}

.eventCardFlag {
  width: 16px;
  max-width: 16px;
  height: 16px;
  border-radius: 100%;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}

.coverImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.eventCardCountryName {
  text-transform: uppercase;
  color: var(--gray-600);
}

.eventCardHWrap {
  display: flex;
  align-items: baseline;
  gap: var(--space-3x);
}

.linkArr {
  opacity: 0;
}

@media (max-width: 768px) {
  .eventCardLink {
    gap: var(--space-3x);
  }
}
