.bottomBar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 56px;
  width: 100%;
  background-color: var(--gray-200);
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--space-8x);
}

.bottomBar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-2x);
  width: calc(100% - 2 * var(--space-2x));
}

.bottomBar :is(button, a) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2x);
  height: 100%;
  width: 100%;
  position: relative;
  color: var(--gray-600);
  font-family: Circular, Tahoma, sans-serif;
  font-size: var(--space-4px);
  font-weight: 500;
}

.back {
  color: var(--color-text-link);
}

.back svg {
  fill: var(--color-text-link);
}
