.link {
  color: var(--blue-800);
  display: flex;
  align-items: center;
  gap: var(--space-3x);
  user-select: none;
  padding-block: var(--space-5x);
  width: 100%;
}

.label {
  composes: paragraph-100 from global;
  display: block;
  margin-bottom: var(--space-3x);
  font-family: Circular, Tahoma, sans-serif;
  font-size: var(--space-4x);
  font-weight: 500;
  line-height: var(--space-4x);
  text-align: center;
  color: var(--blue-800);
}

li.category:not(:first-of-type) {
  margin-top: var(--space-3x);
}
