.link {
  display: flex;
  align-items: center;
  gap: var(--space-2x);
  user-select: none;
  padding-block: var(--space-5x);
  width: calc(100% - var(--space-8x));
  margin-left: var(--space-8x);
}

.link span {
  color: var(--gray-800);
  font-weight: 600;
}

.link:hover,
.active span {
  color: var(--blue-700);
}

.label {
  composes: paragraph-100 from global;
  display: block;
  margin-bottom: var(--space-3x);
  text-align: center;

  color: var(--Page-Foreground-Muted, #6c7585);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px; /* 157.143% */
}

li.category:not(:first-of-type) {
  margin-top: var(--space-3x);
}

.divider {
  border-bottom: 1px solid var(--gray-200);
}
