.link {
  display: flex;
  align-items: center;
  gap: var(--space-2x);
  user-select: none;
  padding-block: var(--space-5x);
  width: calc(100% - var(--space-8x));
  margin-left: var(--space-8x);
}

.link span {
  color: var(--gray-800);
  font-weight: var(--font-weight-medium);
}

.link:hover,
.active {
  color: var(--blue-600);
}

.label {
  composes: paragraph-100 from global;
  display: block;
  margin-bottom: var(--space-3x);
  font-family: Circular, Tahoma, sans-serif;
  font-size: var(--space-4x);
  font-weight: 500;
  line-height: var(--space-4x);
  text-align: center;
  color: var(--blue-800);
}

li.category:not(:first-of-type) {
  margin-top: var(--space-3x);
}

.divider {
  border-bottom: 1px solid var(--gray-200);
}
