.nav {
  position: sticky;
  top: var(--space-16x);
  background-color: var(--gray-100);
  height: var(--space-16x);
  box-shadow: var(--space-0x) var(--space-1x) var(--space-3x) var(--space-0x) #0000000f;
  z-index: 10;
  transition: top 0.5s ease;
}

.hidden {
  top: 0 !important;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: calc(100% - 2 * var(--space-6x));
}

.links {
  display: flex;
  gap: var(--space-4x);
  margin-right: var(--space-2x);
}

.link {
  transition: color 0.2s ease;
  font-size: var(--space-4x);
  color: var(--gray-600);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-0x) var(--space-0x) var(--space-0x) var(--space-2x);
  gap: var(--space-2x);
  font-weight: var(--font-weight-medium);
}

.link:hover {
  color: var(--blue-600);
}

@media screen and (min-width: 992px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: calc(100% - 2 * var(--space-8x));
  }
}
