.back {
  color: var(--color-text-link);
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  gap: var(--space-2x);
  padding: var(--space-1x) 0 var(--space-3x);
}

.back svg {
  fill: var(--color-text-link);
}

.section {
  padding-top: var(--space-4x);
  composes: text-400 from global;
}

.link {
  display: block;
  padding: var(--space-2x) 0 var(--space-2x) var(--space-5x);
}
