.modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
}

.hideOverflow {
  overflow: hidden;
}

/* Overrides the top-level of the import (modal) */
.searchWrapper > * {
  z-index: unset !important;
  background-color: unset !important;
  position: unset !important;
}

.searchWrapper :is(ul, ol) {
  padding-left: var(--space-5x);
}

/* Design system overrides */
.searchWrapper :is(p, h2) {
  margin-bottom: unset;
}

.searchWrapper :is(p, li) {
  font-family: var(--font-family-text);
}

.searchWrapper ul {
  overflow: auto;
  margin-top: var(--space-2x);
  margin-bottom: var(--space-2x);
}

@media screen and (max-width: 480px) {
  .searchWrapper button {
    white-space: nowrap;
  }
}
