dist
.cache
.test
node_modules
.github
.changeset

scripts/**/*.js
data-source
typechain-types
public/snippets

public/samples

**/*.json

/src/pages/chainlink-functions/resources/example-source.js
/src/env.d.ts

src/graphql/generated.ts
