dist
_site
.test
data-source
.firebase/
node_modules
addresses.json
.DS_Store
.github
.changeset
docs/**/*.html

# ignore non solidity examples
_includes/snippets
_includes/**/*.html
_includes/**/*.js
_includes/**/*.ts

# only test ts versions
_src/**/*.js
_src/reference/chainsToBe.json
