dist
.cache
.test
node_modules
.github
.changeset
src/features/abi/*.json
src/features/redirects/redirects.json
scripts/reference/chainsToBe.json
src/scripts/reference/linkNameSymbol.json
src/scripts/reference/chains.json
src/config/data/chains.json
src/config/data/chain-to-technology.json
src/features/chainlink-automation/data/chainlink-automation-addresses.json
src/features/chainlink-automation/data/chainlink-automation-config.json
scripts/reference/linkNameSymbol.json
scripts/reference/chains.json
scripts/**/*.js
data-source
typechain-types
public/snippets
public/search-index.json
public/samples
package.json
package-lock.json
vercel.json
tsconfig.json

/src/pages/chainlink-functions/resources/example-source.js
/src/env.d.ts