# build output
dist/
.astro/
.vercel/

# dependencies
node_modules/

temp/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
server.log

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Docs scripts files
data-source/
addresses.json
scripts/*.js
src/config/*.js

public/search-index.json

*configTOBE.json
chainsToBe.json
.test/
typechain-types/

.tmp

.cache
.idea
.vercel
