shamefully-hoist=true
node-linker=hoisted
strict-peer-dependencies=false
auto-install-peers=true
prefer-offline=true
compression-level=0
side-effects-cache=true
resolve-peers-from-workspace-root=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=prettier-plugin-* 