dist
_site
.test
data-source
.firebase/
node_modules
addresses.json
.DS_Store
.github
.changeset
docs/**/*.html
_includes/snippets
_includes/**/*.html

# only keep ts version
_src/index.js
_src/keepers-configuration.js
_src/animate-chain-transitions.js
_src/link-to-wallet.js
_src/reference/chainsToBe.json
