---
permalink: search-index.json
eleventyExcludeFromCollections: true
---
{"search" : [
{%- for item in collections.all -%}
  {% if not item.data.hidden %}
  {

    "url" : "{{ item.url }}",
    "title" : "{{ item.data.title }}",
    "titleText" : "{{ item.data.title | squash }}",
    "text" : "{{ (item.data.title + " " + item.templateContent) | squash }}"
  }
  
  {% if not loop.last %},{% else %}{%- endif -%}
  {% endif %}
{%- endfor -%}
]}