.link {
  color: var(--blue-800);
  display: flex;
  gap: var(--space-4x);
  align-items: center;
  user-select: none;
  padding: var(--space-4x) var(--space-2x);
  border-radius: var(--border-radius-primary);
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}

.link:hover {
  color: var(--blue-600);
  background: var(--blue-100);
}

.item p {
  padding-inline: var(--space-2x);
  margin-bottom: var(--space-2x);
}

.item span + .link {
  margin-top: var(--space-3x);
}

.item:not(:first-of-type) {
  margin-top: var(--space-3x);
}
