.megaMenuContainer {
  z-index: 50;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
}

.wrapper {
  max-width: 1360px;
  width: 100%;
  background-color: white;
  height: fit-content;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  overflow: hidden;
  box-shadow: 4.6px 9.3px 54px 1px rgba(152, 160, 185, 0.04), 2.1px 4.3px 32px -0.7px rgba(152, 160, 185, 0.31),
    1px -1px 3px -0.3px rgba(152, 160, 185, 0.21), 0.3px 0.5px 0.8px 0px rgba(152, 160, 185, 0.12);
}

.wrapper h2 {
  padding-bottom: var(--space-4x);
  color: var(--gray-500);
  text-transform: uppercase;
  border-bottom: 1px solid var(--gray-200);
  margin-bottom: var(--space-8x);
}

.wrapper h3 {
  font-family: var(--font-family-text);
  color: var(--gray-900);
}

.wrapper p {
  color: var(--gray-500);
  margin-top: var(--space-2x);
  margin-bottom: var(--space-3x);
  line-height: var(--space-6x);
}

.resourcesMenuContentMain {
  padding-top: var(--space-16x);
  padding-left: var(--space-16x);
  padding-bottom: var(--space-16x);
  padding-right: var(--space-8x);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-16x);
}

.resourcesMenuContentRow {
  display: flex;
  flex-direction: column;
}

.verticalDivider {
  border-left: 1px solid var(--gray-300);
  margin: 0 var(--space-3x);
}

.links {
  margin-bottom: var(--space-10x);
}

.links a {
  font-weight: var(--font-weight-medium);
  color: var(--color-text-link);
}

.resourcesMenuContentFeatured {
  padding-top: var(--space-16x);
  padding-left: var(--space-8x);
  padding-bottom: var(--space-16x);
  padding-right: var(--space-16x);
  background-color: var(--gray-100);
}

.megaMenuLink {
  display: flex;
  align-items: center;
  gap: var(--space-2x);
}

.megaMenuLink h3 {
  margin-bottom: 0;
}

.megaMenuLink img {
  width: var(--space-5x);
  height: var(--space-5x);
}

.featuredImage {
  width: 100%;
}

.divider {
  border-bottom: 1px solid var(--gray-200);
  margin: var(--space-8x) auto;
}

.bottomLinks {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-3x);
}

.bottomLinks div {
  display: flex;
  align-items: center;
  gap: var(--space-2x);
  line-height: var(--space-6x);
}

.bottomLinks a {
  color: var(--gray-900);
}

/* TODO: change with a var when avaialble in the chainlink repo */
.bottomLink a:hover {
  color: #0847f7;
}

@media screen and (min-width: 768px) {
  .megaMenuContainer {
    display: flex;
  }
}
