.megaMenuContainer {
  z-index: 50;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
}

/* applies shadow to dropdown version of mega-menu */
.megaMenuContainer > .wrapper {
  box-shadow:
    4.6px 9.3px 54px 1px rgba(152, 160, 185, 0.04),
    2.1px 4.3px 32px -0.7px rgba(152, 160, 185, 0.31),
    1px -1px 3px -0.3px rgba(152, 160, 185, 0.21),
    0.3px 0.5px 0.8px 0px rgba(152, 160, 185, 0.12);
}

.wrapper {
  max-width: 1500px;
  width: 100%;
  background-color: white;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  border: 1px solid var(--border);
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid var(--border);
}

.row:last-child {
  border-bottom: none;
}

.wrapper header {
  display: flex;
  align-items: center;
  gap: var(--space-3x);
  padding: var(--space-4x) var(--space-6x);
}

.wrapper p {
  margin-bottom: 0;
}

.section {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border);
}

.section:last-child {
  border-right: none;
}

.section header {
  border-bottom: 1px solid var(--border);
}

.groupItem {
  display: flex;
  align-items: center;
  padding: var(--space-6x) var(--space-8x);
  gap: var(--space-4x);
  text-decoration: none;
  transition: background-color 0.2s;
}

.groupItem:hover {
  background-color: var(--muted);
}

.groupItemIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.itemList {
  display: flex;
  flex-direction: column;
}

.groupItemDescription {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.groupItemTitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 18px;
  font-weight: 500;
}

.wrapper.mobile {
  border: none;
  overflow: unset;

  & .row {
    grid-template-columns: 1fr;
    border-bottom: none;
  }

  & .section header {
    border-bottom: 1px solid var(--border);
    border-top: 1px solid var(--border);
  }

  & .section {
    border-right: none;
  }

  & .groupItemTitle {
    display: block;
    -webkit-line-clamp: unset;
    line-clamp: unset;
    -webkit-box-orient: unset;
    overflow: visible;
  }

  & .groupItemDescription {
    display: block;
    -webkit-line-clamp: unset;
    line-clamp: unset;
    -webkit-box-orient: unset;
    overflow: visible;
  }
}

@media screen and (min-width: 768px) {
  .megaMenuContainer {
    display: flex;
  }
}
