.content {
  width: 500px;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
}

.content ul {
  padding: var(--space-6x);
  list-style: none;
}

@media screen and (min-width: 992px) {
  .content {
    width: 550;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
  }
}

.callout {
  grid-row: 1 / 4;
  grid-column: 2;
}
.callout:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.link {
  color: var(--white);
  text-decoration: underline;
  text-decoration-thickness: var(--border-width-secondary);
  text-underline-position: under;
  line-height: 1.5rem;
  display: flex;
  padding-block: var(--space-2x);
}

.heading {
  color: white;
  display: flex;
  flex-direction: column;
}

.callout :is(p, h6) {
  color: var(--white);
}

.callout h6 {
  margin-top: var(--space-3x);
}

.callout p {
  margin-top: var(--space-4x);
}

.callout a {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  background-color: var(--blue-600);
  padding: var(--space-8x);
  user-select: none;
}
