.content {
  width: 355px;
}

.content ul {
  padding: var(--space-3x) var(--space-6x);
  list-style: none;
}

.link {
  color: var(--white);
  text-decoration: underline;
  text-decoration-thickness: var(--border-width-secondary);
  text-underline-position: under;
  line-height: 1.5rem;
  display: flex;
  padding-block: var(--space-2x);
}
