.trigger {
  composes: text-300 from global;
  line-height: 1.5rem;
  padding-block: var(--space-2x);
  user-select: none;
  display: flex;
  align-items: center;
  gap: var(--space-2x);
  width: fit-content;
  color: var(--blue-800);
}

.trigger:hover {
  color: var(--blue-600);
}

.trigger svg {
  fill: var(--color-text-primary);
  transition: transform 250ms ease;
}

.trigger:hover svg {
  fill: var(--blue-600);
}

[data-state="open"] .trigger svg {
  transform: rotate(-180deg);
}

.caretContainer {
  width: var(--space-4x);
  height: var(--space-4x);
  display: flex;
  align-items: center;
  justify-content: center;
}
