.trigger {
  composes: text-300 from global;
  line-height: 1.5rem;
  padding: var(--space-2x) var(--space-4x);
  outline: none;
  user-select: none;
  display: flex;
  align-items: center;
  gap: var(--space-2x);
  width: fit-content;
  color: var(--blue-800);
}

.trigger:hover {
  color: var(--blue-600);
}

.trigger svg {
  fill: var(--color-text-primary);
  transition: transform 250ms ease;
}

.trigger:hover svg {
  fill: var(--blue-600);
}

[data-state='open'] .trigger svg {
  transform: rotate(-180deg);
}
