.tableSearchInput {
  display: flex;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  padding: 0 10px;
  border: 1px solid var(--gray-200);
  border-radius: var(--space-1x);
  cursor: pointer;
  gap: var(--space-4x);
}

.tableSearchInput:has(input) {
  width: 100%;
}

.tableSearchInput input {
  padding: 0;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .tableSearchInput:has(input) {
    width: auto;
  }
}
