.ccip-table {
  border: none;
  text-align: start;
}

.ccip-table thead th {
  /* Body/Body Semi S */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  text-align: start;
  background-color: transparent;

  color: #6c7585;
}

.ccip-table tbody td {
  text-align: start;
  color: #141921;
  padding: var(--space-4x) 0;
}

.ccip-table__network-name {
  display: flex;
  align-items: center;
}

.ccip-table tbody td .ccip-table__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.ccip-table__status {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;

  background: #ddf8e6;
  border: 1px solid #95e5b0;
  border-radius: 24px;
  color: #267e46;
}

.ccip-table__logoContainer {
  position: relative;
}

.ccip-table__smallLogo {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
