.ccip-table {
  border: none;
  text-align: start;
  table-layout: fixed;
}

.ccip-table tbody tr:first-child {
  border: none;
}

.ccip-table__wrapper {
  overflow-x: auto;
  margin: 0 auto;
}

.ccip-table th,
.ccip-table td {
  width: 200px;
}

.ccip-table__drawer-container {
  padding: var(--space-6x);
}

.ccip-table tbody tr:hover {
  background-color: var(--gray-50);
}

.ccip-table thead th {
  /* Body/Body Semi S */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  text-align: start;
  background-color: transparent;
  padding: 0;
  color: var(--gray-500);
  padding-bottom: var(--space-4x);
  align-content: baseline;
}

.ccip-table tbody td {
  text-align: start;
  color: var(--gray-900);
  padding: var(--space-4x) 0;
}

.ccip-table__network-name {
  color: #000;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ccip-table tbody td .ccip-table__logo {
  width: var(--space-8x);
  height: var(--space-8x);
  margin-right: var(--space-4x);
}

.ccip-table__status {
  display: inline-flex;
  align-items: center;
  gap: var(--space-1x);
  font-size: 13px;
  padding: 6px var(--space-3x);
  background: #ddf8e6;
  border-radius: var(--space-6x);
  border: 1px solid var(--Page-Border-Border, #e4e8ed);
  background: var(--Page-Background-Muted, #f5f7fa);
  color: var(--gray-900);
  text-transform: capitalize;
}
.ccip-table__status img {
  width: var(--space-4x);
  height: var(--space-4x);
}

.ccip-table__status-operational {
  border: 1px solid var(--Success-Border, #95e5b0);
  background: var(--Success-Background, #ddf8e6);
  color: var(--Success-Foreground, #1e633a);
}
.ccip-table__status-operational svg {
  stroke: var(--Success-Foreground, #1e633a);
}

.ccip-table__status-maintenance {
  border: 1px solid var(--Warning-Border, #f8d34c);
  background: var(--Warning-Background, #fef3c7);
  color: var(--Warning-Foreground, #854d0e);
}
.ccip-table__status-maintenance svg {
  stroke: var(--Warning-Foreground, #854d0e);
}

.ccip-table__status-cursed {
  border: 1px solid var(--Error-Border, #fca5a5);
  background: var(--Error-Background, #fee2e2);
  color: var(--Error-Foreground, #b91c1c);
}
.ccip-table__status-cursed svg {
  stroke: var(--Error-Foreground, #b91c1c);
}

.ccip-table__logoContainer {
  position: relative;
}

.ccip-table__smallLogo {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: var(--space-4x);
  height: var(--space-4x);
  border-radius: 50%;
  background-color: #fff;
}

.ccip-table__drawer-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  padding: var(--space-2x);
  color: var(--gray-900);
  margin-bottom: 0px;
}

.ccip-table__filters {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-4x);
  margin-bottom: var(--space-6x);
  border-bottom: 1px solid var(--gray-200);
  padding-bottom: var(--space-4x);
}

.ccip-table__filters-title {
  color: var(--gray-900);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-size: 22px;
  line-height: var(--space-10x);
}

.ccip-table__filters-title span {
  color: var(--gray-400);
  font-weight: 600;
  letter-spacing: 0.5px;
}

.ccip-table__notFound {
  font-weight: var(--font-weight-medium);
  color: var(--gray-400);
  text-align: center;
  padding-top: var(--space-6x);
}

@media screen and (min-width: 768px) {
  .ccip-table__drawer-heading {
    padding: var(--space-6x) var(--space-10x);
  }

  .ccip-table__drawer-container {
    padding: var(--space-10x);
  }

  .ccip-table__wrapper {
    max-width: 100%;
  }

  .ccip-table th,
  .ccip-table td {
    width: auto;
  }
}
