.tableSearchInput {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 40px;
  min-height: 40px;
  padding: 0 10px;
  border: 1px solid var(--gray-200);
  border-radius: var(--space-1x);
  cursor: pointer;
  gap: var(--space-4x);
}

/* Do NOT expand to full width */
.tableSearchInput:has(input) {
  width: auto;
}

/* Control expanded size */
.tableSearchInput input {
  padding: 0;
  border: none;
  outline: none;
  width: 140px;
}
