.tabs {
  display: flex;
  align-items: center;
  gap: var(--space-6x);
}

.tabs__tab {
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: var(--space-4x);
  color: var(--gray-500);
  padding-bottom: 8px;
}

.tabs__tab--active {
  color: var(--gray-900);
  padding-bottom: 5px;
  border-bottom: 3px solid #2e7bff;
}

@media (max-width: 375px) {
  .tab {
    gap: var(--space-4x);
  }

  .tabs__tab {
    font-size: var(--space-4x);
  }
}
