---
import styles from "./toolsUtilities.module.css"

import { Link } from "./types"
import ToolItem from "./ToolItem.astro"
import { Typography } from "@chainlink/blocks"

interface Props {
  links: Link[]
}

const { links } = Astro.props
---

<section class={styles.wrapper}>
  <Typography
    variant="h2"
    style={{
      fontSize: "32px",
    }}>Tools & Utilities</Typography
  >

  <div class={styles.container}>
    {links.map((link) => <ToolItem {...link} />)}
  </div>
</section>
