.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--space-8x);
}

.card {
  padding: var(--space-6x);
  display: flex;
  gap: var(--space-4x);
  align-items: start;
}

.card:hover {
  background: var(--muted);
  & .arrow {
    opacity: 1;
  }
}

.imageContainer {
  min-width: 48px;
  height: 48px;
  background: var(--background-alt);
  border: 1px solid var(--border);
  border-radius: var(--space-1x);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;

  & > img {
    align-self: end;
  }
}

.arrow {
  opacity: 0;
}

@media screen and (max-width: 1135px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 525px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .container {
    margin-top: var(--space-6x);
  }
}
