---
import { SearchCTA } from "../components/SearchCTA"
---

<section id="hero-cta">
  <div>
    <h2>Welcome to <span>Chainlink Docs</span></h2>
    <p>Sub Paragraph</p>
  </div>
  <div>
    <img src="/images/hero-background.svg" alt="" />
  </div>
</section>

<style>
  #hero-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 32px;
    flex-wrap: wrap;
  }
  h2,
  h2 span {
    font-family: Circular, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.02em;
  }
  h2 span {
    color: #375bd2;
  }
  p {
    font-family: Circular, Tahoma, sans-serif;
    font-size: 19px;
    line-height: 28.5px;
  }
  @media screen and (min-width: 768px) {
    #hero-cta {
      flex-wrap: nowrap;
    }
  }
</style>
