---
import button from "@chainlink/design-system/button.module.css"
---

<section id="hero-cta">
  <div>
    <h2>Welcome to <span>Chainlink Docs</span></h2>
    <p>
      The go-to place for developers who want to learn how to build applications using Chainlink and for node operators
      wanting useful information on running a Chainlink node.
    </p>

    <a href="/getting-started/conceptual-overview" class={button.primary}> Get Started</a>
    <a href="/resources/create-a-chainlinked-project" class={button.secondary}> Starter Kits</a>
  </div>
  <div>
    <img src="/images/hero-background.svg" alt="" />
  </div>
</section>

<style>
  #hero-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: var(--space-8x) 0 var(--space-4x);
  }
  h2,
  h2 span {
    font-family: Circular, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.02em;
  }
  h2 span {
    color: #375bd2;
  }
  p {
    color: #252e42;
    font-family: Circular, Tahoma, sans-serif;
    font-size: 19px;
    line-height: 28.5px;
  }
  #hero-cta a {
    padding: 8px 24px;
    line-height: 24px;
    box-shadow: 0 12px 32px -12px rgba(12, 22, 44, 0.32);
  }

  a + a {
    margin-left: 16px;
  }
  @media screen and (min-width: 768px) {
    #hero-cta {
      flex-wrap: nowrap;
    }
  }
</style>
