.seeMore {
  height: 22px;
  font-size: 14px;
  line-height: 22px;
  color: #2e7bff;
  margin-top: var(--space-6x);
}
.seeMore__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
