.seeMore {
  height: 22px;
  font-size: 14px;
  line-height: 22px;
  color: var(--blue-700);
  margin-top: var(--space-6x);
}
.seeMore__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
