.headerLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  font-size: 14px;
  color: var(--blue-600, #375bd2);
}

.headerLink * {
  margin: 0;
  max-width: 100%;
  color: inherit;
  font: inherit;
}

.headerLink.active,
.headerLink:hover,
.headerLink:focus {
  color: var(--theme-accent);
  fill: var(--theme-accent);
}

.headerLink:focus-within {
  color: var(--theme-text-light);
  fill: var(--theme-text-light);
}

.llmsLink {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
  flex-grow: 1;
  width: 100%;
  padding: 0.15em 0 0.15em 0;
}
