---
import * as CONFIG from "../../config"
const { editHref } = Astro.props
const showMoreSection = CONFIG.COMMUNITY_INVITE_URL || editHref
---

{showMoreSection && <p class="heading">More</p>}
<ul>
  {
    editHref && (
      <li class="header-link">
        <a href={editHref} target="_blank">
          <svg
            aria-hidden="true"
            focusable="false"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 14 14"
            fill="currentColor"
          >
            <g>
              <path d="M7.5337 1.99301C7.51053 1.96962 7.48296 1.95105 7.45258 1.93835C7.42221 1.92565 7.38963 1.91908 7.3567 1.91901C7.32382 1.91901 7.29125 1.92551 7.26088 1.93812C7.23051 1.95073 7.20292 1.96922 7.1797 1.99251L1.7187 7.45501C1.67184 7.50189 1.64551 7.56547 1.64551 7.63176C1.64551 7.69805 1.67184 7.76162 1.7187 7.80851L4.1927 10.2825C4.23959 10.3294 4.30316 10.3557 4.36945 10.3557C4.43575 10.3557 4.49932 10.3294 4.5462 10.2825L10.0047 4.82401C10.0514 4.77714 10.0777 4.71367 10.0777 4.64751C10.0777 4.58134 10.0514 4.51787 10.0047 4.47101L7.5337 1.99301Z" />
              <path d="M1.215 8.40002C1.18356 8.36868 1.14433 8.34628 1.10136 8.33511C1.05839 8.32395 1.01322 8.32444 0.970502 8.33652C0.927713 8.34852 0.888896 8.37171 0.858048 8.4037C0.827201 8.43569 0.805438 8.47532 0.795002 8.51852L0.0420015 11.657C0.0320641 11.6986 0.0329596 11.742 0.0446022 11.7832C0.0562449 11.8243 0.0782456 11.8618 0.108502 11.892C0.138952 11.9219 0.176455 11.9436 0.217535 11.9552C0.258614 11.9667 0.301942 11.9677 0.343502 11.958L3.4795 11.208C3.52275 11.1977 3.56245 11.176 3.59451 11.1452C3.62658 11.1144 3.64985 11.0756 3.66192 11.0328C3.674 10.99 3.67444 10.9447 3.6632 10.9017C3.65197 10.8587 3.62946 10.8194 3.598 10.788L1.215 8.40002Z" />
              <path d="M11.5999 1.46202L10.5384 0.400024C10.3041 0.166143 9.98652 0.03479 9.65543 0.03479C9.32434 0.03479 9.00678 0.166143 8.77243 0.400024L8.06343 1.10852C8.01656 1.15541 7.99023 1.21898 7.99023 1.28527C7.99023 1.35156 8.01656 1.41514 8.06343 1.46202L10.5384 3.93652C10.5853 3.98339 10.6489 4.00972 10.7152 4.00972C10.7815 4.00972 10.845 3.98339 10.8919 3.93652L11.5999 3.22702C11.8335 2.99272 11.9647 2.67537 11.9647 2.34452C11.9647 2.01368 11.8335 1.69633 11.5999 1.46202Z" />
            </g>
          </svg>
          <p>Edit this page</p>
        </a>
      </li>
    )
  }
  {
    CONFIG.TRANSLATION_FEEDBACK_URL && (
      <li class="header-link">
        <a href={CONFIG.TRANSLATION_FEEDBACK_URL} target="_blank">
          <svg
            aria-hidden="true"
            focusable="false"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            fill="currentColor"
          >
            <g>
              <path d="M 11.894729,10.90672 10.929199,8.838903 C 11.651664,7.6079379 11.900864,6.1558871 11.629893,4.7544994 11.358998,3.3531191 10.586634,2.098506 9.4574131,1.2255414 8.3281181,0.35257383 6.9194586,-0.07890068 5.4950212,0.01189117 4.0705837,0.10268285 2.7280659,0.70951631 1.7187929,1.7187877 0.70951688,2.7280607 0.10268275,4.0705785 0.01189116,5.4950159 c -0.0907918,1.4244375 0.34068257,2.833142 1.21364794,3.9623618 0.8729721,1.1292933 2.1275778,1.9016583 3.528958,2.1725543 1.4013878,0.270896 2.8534759,0.02176 4.0844404,-0.700768 l 2.0687915,0.965081 c 0.138177,0.06426 0.292815,0.08446 0.44289,0.05791 0.149998,-0.02655 0.288327,-0.0986 0.396057,-0.206408 0.10773,-0.107805 0.1797,-0.246133 0.206183,-0.396207 0.02648,-0.150074 0.0063,-0.304636 -0.05813,-0.442816 z M 10.004516,3.2957978 c 0.01183,0.018875 0.01841,0.040592 0.01901,0.06288 6.74e-4,0.022286 -0.0047,0.044327 -0.01556,0.063838 -0.01077,0.019503 -0.02655,0.035761 -0.04578,0.047073 -0.01923,0.011312 -0.04115,0.017259 -0.06344,0.017229 H 8.7267234 C 8.6973199,3.4867646 8.6688142,3.4763284 8.6463705,3.4573483 8.6239267,3.4383613 8.6089642,3.4120564 8.6040223,3.3830744 8.517988,2.8681625 8.3949962,2.3601108 8.2359448,1.8628919 c -0.00792,-0.024277 -0.00816,-0.050386 -7.481e-4,-0.074805 0.00749,-0.024419 0.022219,-0.045972 0.042268,-0.061743 0.02005,-0.015771 0.044513,-0.025003 0.069949,-0.026446 0.025511,-0.00145 0.050798,0.00495 0.072568,0.018352 0.6424893,0.3969252 1.1847306,0.9367797 1.5845303,1.5775487 z m 0.734659,2.5700562 c 2.99e-4,0.4282492 -0.05574,0.8546805 -0.166606,1.2683188 -0.007,0.026492 -0.02267,0.049907 -0.04444,0.066598 -0.0217,0.016684 -0.04833,0.025714 -0.07579,0.025676 H 8.8827705 c -0.017214,-1.5e-5 -0.03419,-0.00359 -0.049975,-0.010504 -0.015783,-0.00691 -0.029925,-0.017005 -0.041596,-0.029655 -0.011671,-0.01265 -0.020571,-0.027577 -0.02618,-0.043841 -0.00564,-0.016264 -0.00778,-0.033516 -0.00641,-0.050663 0.031943,-0.3990051 0.049898,-0.8094713 0.049898,-1.22593 0,-0.4164513 -0.016459,-0.8413863 -0.049898,-1.2468776 -0.00137,-0.017019 8.225e-4,-0.034153 0.00633,-0.050312 0.00556,-0.016167 0.014364,-0.031017 0.025881,-0.043646 0.011449,-0.012628 0.025436,-0.022757 0.040997,-0.029753 0.015638,-0.007 0.032464,-0.010727 0.04953,-0.010953 h 1.5641035 c 0.02724,6.73e-5 0.05372,0.00902 0.07541,0.025489 0.0217,0.016474 0.0374,0.039568 0.04481,0.065783 0.115436,0.420364 0.17379,0.8543439 0.173565,1.2902688 z m -9.74760452,0 c -1.57e-4,-0.4361119 0.058392,-0.8702713 0.17406632,-1.2907625 0.00747,-0.026124 0.023236,-0.049115 0.044917,-0.065491 0.021688,-0.016369 0.048104,-0.025249 0.075277,-0.025286 h 1.5640825 c 0.017229,-5.99e-5 0.034286,0.00346 0.050079,0.010354 0.015793,0.00689 0.029977,0.016983 0.041656,0.029648 0.011678,0.012658 0.020596,0.027621 0.026185,0.043916 0.0056,0.016301 0.00772,0.033583 0.00627,0.050745 -0.032417,0.405985 -0.049877,0.8234388 -0.049877,1.2468775 0,0.4234388 0.016459,0.826925 0.049877,1.22593 0.00123,0.017117 -0.00106,0.034308 -0.00673,0.050506 -0.00567,0.016197 -0.014603,0.03107 -0.026236,0.043683 -0.011633,0.012614 -0.025728,0.022713 -0.041416,0.029678 -0.015688,0.00696 -0.03264,0.010631 -0.049803,0.010795 H 1.2798455 c -0.027404,3.75e-5 -0.054059,-0.009 -0.0758,-0.025676 C 1.1823052,7.1840787 1.166691,7.1606621 1.1596515,7.1341723 1.0479492,6.7206617 0.99143578,6.294193 0.99157048,5.865854 Z m 2.93065252,0 c 0,-0.43092 0.018957,-0.8563562 0.055361,-1.26882 C 3.980554,4.566166 3.994933,4.537521 4.017901,4.516677 4.040862,4.495835 4.070763,4.484298 4.101773,4.484312 h 3.5276712 c 0.031122,-1.197e-4 0.061121,0.011446 0.084164,0.032417 0.022968,0.020969 0.037256,0.049803 0.040025,0.080805 0.036434,0.4124639 0.055361,0.8379 0.055361,1.26882 0,0.4229376 -0.018478,0.8408925 -0.053341,1.24687 -0.00292,0.03101 -0.017207,0.059836 -0.040175,0.080857 -0.022968,0.02103 -0.052893,0.032745 -0.084015,0.032858 H 4.1002768 C 4.0690798,7.2270521 4.0389828,7.215419 4.0159708,7.194344 3.9929588,7.173277 3.9787208,7.144317 3.9760958,7.113224 3.9406796,6.7072472 3.922223,6.2897934 3.922223,5.865854 Z m 2.8393888,-4.788 c 0.017955,0.0032 0.034974,0.010376 0.049817,0.020985 0.014843,0.010615 0.027126,0.024404 0.035962,0.040361 0.3578805,0.6898386 0.6054426,1.4314998 0.7336487,2.1979912 0.00359,0.018113 0.00314,0.036793 -0.00127,0.054703 -0.00449,0.017917 -0.012868,0.034624 -0.024538,0.048919 -0.011671,0.014304 -0.026334,0.025841 -0.043017,0.033793 -0.016684,0.00795 -0.034863,0.012128 -0.053348,0.012209 H 4.2728467 c -0.018501,-1.49e-5 -0.036778,-0.00413 -0.053498,-0.012045 -0.016728,-0.00792 -0.031481,-0.019451 -0.043219,-0.033763 -0.011731,-0.014312 -0.020148,-0.03104 -0.024636,-0.048995 -0.00449,-0.017947 -0.00495,-0.036674 -0.00134,-0.054823 0.1281688,-0.7672097 0.3759028,-1.5095591 0.7341575,-2.1999812 0.00884,-0.015966 0.021127,-0.029753 0.03597,-0.040361 0.014835,-0.010615 0.031854,-0.017783 0.049817,-0.020985 0.5920736,-0.11037839 1.199439,-0.11037839 1.7915126,0 z m -3.4503525,0.6394 c 0.021764,-0.013272 0.047057,-0.019586 0.072509,-0.018096 0.025451,0.00149 0.049833,0.010721 0.069897,0.026446 0.020064,0.015726 0.034848,0.037205 0.042374,0.061556 0.00753,0.024351 0.00745,0.050423 -2.47e-4,0.074731 -0.1594777,0.4972787 -0.2824994,1.0055249 -0.3680775,1.5206913 -0.00484,0.029154 -0.019892,0.055646 -0.042456,0.074737 -0.022563,0.019092 -0.051172,0.029544 -0.08073,0.029498 h -1.172066 c -0.022219,-3e-5 -0.044028,-0.00599 -0.063164,-0.017275 -0.019144,-0.011281 -0.034923,-0.027479 -0.045704,-0.046908 -0.010781,-0.019429 -0.016174,-0.041386 -0.015628,-0.063599 5.535e-4,-0.022212 0.00703,-0.04387 0.018763,-0.062745 0.39976,-0.6411591 0.9419786,-1.1815073 1.5845284,-1.5790375 z m -1.596005,6.6967138 c -0.011769,-0.018853 -0.018276,-0.040474 -0.018845,-0.062693 -5.611e-4,-0.022144 0.00483,-0.04414 0.015629,-0.063516 0.010803,-0.019451 0.026604,-0.035536 0.045763,-0.046757 0.019166,-0.011222 0.04099,-0.017131 0.063194,-0.017057 h 1.18004 c 0.029424,-7.47e-5 0.057913,0.010324 0.080386,0.029326 0.022466,0.019003 0.037459,0.045412 0.042306,0.074439 0.086379,0.5227149 0.2107243,1.0384727 0.372065,1.5430815 0.00788,0.02432 0.00812,0.05043 6.957e-4,0.07481 -0.00743,0.02446 -0.022174,0.04601 -0.042239,0.06172 -0.020065,0.01578 -0.044491,0.02506 -0.069972,0.02648 -0.025481,0.0014 -0.050798,-0.0049 -0.072524,-0.01834 C 2.661438,9.6132827 2.1139228,9.064907 1.7127633,8.4139635 Z m 3.2573362,2.2443742 c -0.017955,-0.0032 -0.034974,-0.01039 -0.049817,-0.02095 -0.014843,-0.01063 -0.027126,-0.02446 -0.035962,-0.04039 C 4.5250778,9.8993743 4.2759447,9.1490058 4.1486587,8.3735738 c -0.00381,-0.018179 -0.00349,-0.036958 9.319e-4,-0.054987 0.00441,-0.01803 0.012816,-0.034862 0.024591,-0.049226 0.011769,-0.014364 0.026611,-0.025886 0.043421,-0.03374 0.016818,-0.00786 0.035184,-0.011821 0.053745,-0.011671 h 3.1920025 c 0.018561,-1.496e-4 0.03689,0.00381 0.053724,0.011671 0.016832,0.00786 0.031646,0.019377 0.043466,0.03374 0.011746,0.014364 0.020124,0.031196 0.024538,0.049226 0.00441,0.01803 0.00479,0.036808 9.785e-4,0.054987 -0.1275621,0.775432 -0.3764933,1.5259505 -0.7376581,2.2239502 -0.00889,0.01586 -0.021202,0.02963 -0.03603,0.04024 -0.014828,0.01063 -0.031818,0.01781 -0.049757,0.0211 -0.2952774,0.05468 -0.5949464,0.0823 -0.8952587,0.0823 -0.3010605,-4.48e-4 -0.6014327,-0.0288 -0.8972488,-0.08484 z m 4.045897,-0.7451317 c -0.076988,-0.03583 -0.1618183,-0.05139 -0.246432,-0.04533 -0.084688,0.0062 -0.166383,0.03373 -0.23738,0.08028 -0.037931,0.0244 -0.076309,0.04983 -0.1142388,0.07227 -0.021695,0.01339 -0.047056,0.01983 -0.072493,0.01841 -0.025511,-0.0014 -0.049901,-0.0107 -0.06995,-0.02648 -0.020124,-0.01578 -0.034862,-0.03733 -0.042268,-0.06172 -0.0074,-0.02446 -0.00718,-0.05057 6.733e-4,-0.07481 0.1618943,-0.5055832 0.2866067,-1.0223129 0.3730904,-1.5461499 0.0047,-0.029027 0.019674,-0.055436 0.042194,-0.074513 0.022521,-0.019003 0.051026,-0.029326 0.080498,-0.029176 h 1.1850298 c 0.02215,-7.48e-5 0.04391,0.00577 0.06306,0.016982 0.01908,0.011147 0.03493,0.027232 0.04578,0.046534 0.01085,0.019301 0.01638,0.041146 0.01601,0.063291 -3.74e-4,0.022144 -0.0066,0.043765 -0.0181,0.062693 -0.025,0.039874 -0.04989,0.079825 -0.07534,0.1187274 -0.04661,0.071071 -0.07429,0.1528424 -0.08035,0.2376045 -0.0062,0.084765 0.0095,0.169675 0.04541,0.2466573 l 0.6384498,1.3670484 c 0.0107,0.02326 0.01407,0.04929 0.0096,0.07451 -0.0045,0.02521 -0.01654,0.04848 -0.03456,0.06665 -0.0181,0.01803 -0.0413,0.03008 -0.06643,0.03441 -0.02521,0.0045 -0.05109,9.41e-4 -0.07421,-0.01 z" />
            </g>
          </svg>
          <p>Report a translation issue</p>
        </a>
      </li>
    )
  }
  {
    CONFIG.COMMUNITY_INVITE_URL && (
      <li class="header-link">
        <a href={CONFIG.COMMUNITY_INVITE_URL} target="_blank">
          <svg
            aria-hidden="true"
            focusable="false"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            width="1em"
            viewBox="1 1 14 14"
            fill="currentColor"
          >
            <path d="M13.3143 3.99339C13.3143 3.99339 11.7733 2.77282 9.96651 2.66669L9.80709 2.98509C11.4544 3.40964 12.1984 3.94032 12.9424 4.6302C11.6139 3.94032 10.2853 3.3035 7.94719 3.3035C5.60902 3.3035 4.33366 3.99339 3.00516 4.68327C3.80226 3.99339 4.6525 3.35657 6.14042 2.98509L5.981 2.66669C4.1211 2.87896 2.68632 3.99339 2.68632 3.99339C2.68632 3.99339 0.985833 6.48758 0.666992 11.3168C2.36748 13.2803 5.02448 13.3334 5.02448 13.3334L5.55588 12.5904C4.6525 12.272 3.5897 11.6882 2.68632 10.68C3.74912 11.476 5.39646 12.3251 8.00033 12.3251C10.6042 12.3251 12.2515 11.476 13.3143 10.68C12.411 11.7413 11.3482 12.272 10.4448 12.5904L10.9762 13.3334C10.9762 13.3334 13.58 13.3334 15.3337 11.3168C15.0148 6.48758 13.3143 3.99339 13.3143 3.99339ZM5.82158 9.99007C5.1839 9.99007 4.6525 9.40632 4.6525 8.66337C4.6525 7.92042 5.1839 7.33667 5.82158 7.33667C6.45926 7.33667 6.99066 7.92042 6.99066 8.66337C6.99066 9.40632 6.45926 9.99007 5.82158 9.99007ZM10.1791 9.99007C9.54139 9.99007 9.00999 9.40632 9.00999 8.66337C9.00999 7.92042 9.54139 7.33667 10.1791 7.33667C10.8168 7.33667 11.3482 7.92042 11.3482 8.66337C11.3482 9.40632 10.8168 9.99007 10.1791 9.99007Z" />
          </svg>
          <p>Join our community</p>
        </a>
      </li>
    )
  }
</ul>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-1x);
    margin-top: var(--space-3x);
    list-style: none;
  }

  .heading {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: var(--color-text-heading);
  }

  .header-link {
    font-size: 14px;
    color: var(--blue-600, #375bd2);
  }

  .header-link * {
    margin: 0;
    max-width: 100%;
    color: inherit;
    font: inherit;
  }

  .header-link.active,
  .header-link:hover,
  .header-link:focus {
    color: var(--theme-accent);
    fill: var(--theme-accent);
  }

  .header-link:focus-within {
    color: var(--theme-text-light);
    fill: var(--theme-text-light);
  }

  .header-link a {
    display: inline-flex;
    gap: var(--space-2x);
    width: 100%;
    padding: 0.15em 0 0.15em 0;
    text-decoration: none;
  }
</style>
