---
import * as CONFIG from "../../config"
const { editHref } = Astro.props
const showMoreSection = CONFIG.COMMUNITY_INVITE_URL || editHref
---

{showMoreSection && <p class="heading">More</p>}
<ul>
  {
    editHref && (
      <li class="header-link">
        <a href={editHref} target="_blank">
          <svg
            aria-hidden="true"
            focusable="false"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 14 14"
            fill="currentColor"
          >
            <g>
              <path d="M7.5337 1.99301C7.51053 1.96962 7.48296 1.95105 7.45258 1.93835C7.42221 1.92565 7.38963 1.91908 7.3567 1.91901C7.32382 1.91901 7.29125 1.92551 7.26088 1.93812C7.23051 1.95073 7.20292 1.96922 7.1797 1.99251L1.7187 7.45501C1.67184 7.50189 1.64551 7.56547 1.64551 7.63176C1.64551 7.69805 1.67184 7.76162 1.7187 7.80851L4.1927 10.2825C4.23959 10.3294 4.30316 10.3557 4.36945 10.3557C4.43575 10.3557 4.49932 10.3294 4.5462 10.2825L10.0047 4.82401C10.0514 4.77714 10.0777 4.71367 10.0777 4.64751C10.0777 4.58134 10.0514 4.51787 10.0047 4.47101L7.5337 1.99301Z" />
              <path d="M1.215 8.40002C1.18356 8.36868 1.14433 8.34628 1.10136 8.33511C1.05839 8.32395 1.01322 8.32444 0.970502 8.33652C0.927713 8.34852 0.888896 8.37171 0.858048 8.4037C0.827201 8.43569 0.805438 8.47532 0.795002 8.51852L0.0420015 11.657C0.0320641 11.6986 0.0329596 11.742 0.0446022 11.7832C0.0562449 11.8243 0.0782456 11.8618 0.108502 11.892C0.138952 11.9219 0.176455 11.9436 0.217535 11.9552C0.258614 11.9667 0.301942 11.9677 0.343502 11.958L3.4795 11.208C3.52275 11.1977 3.56245 11.176 3.59451 11.1452C3.62658 11.1144 3.64985 11.0756 3.66192 11.0328C3.674 10.99 3.67444 10.9447 3.6632 10.9017C3.65197 10.8587 3.62946 10.8194 3.598 10.788L1.215 8.40002Z" />
              <path d="M11.5999 1.46202L10.5384 0.400024C10.3041 0.166143 9.98652 0.03479 9.65543 0.03479C9.32434 0.03479 9.00678 0.166143 8.77243 0.400024L8.06343 1.10852C8.01656 1.15541 7.99023 1.21898 7.99023 1.28527C7.99023 1.35156 8.01656 1.41514 8.06343 1.46202L10.5384 3.93652C10.5853 3.98339 10.6489 4.00972 10.7152 4.00972C10.7815 4.00972 10.845 3.98339 10.8919 3.93652L11.5999 3.22702C11.8335 2.99272 11.9647 2.67537 11.9647 2.34452C11.9647 2.01368 11.8335 1.69633 11.5999 1.46202Z" />
            </g>
          </svg>
          <p>Edit this page</p>
        </a>
      </li>
    )
  }
  {
    CONFIG.TRANSLATION_FEEDBACK_URL && (
      <li class="header-link">
        <a href={CONFIG.TRANSLATION_FEEDBACK_URL} target="_blank">
          <svg
            aria-hidden="true"
            focusable="false"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 14 14"
            fill="currentColor"
          >
            <g>
              <path
                d="m 7.0625765,13.519788 c 3.5662365,0 6.4572115,-2.890975 6.4572115,-6.4572115 0,-3.5662211 -2.890975,-6.45721152 -6.4572115,-6.45721152 -3.5662372,0 -6.45721152,2.89099042 -6.45721152,6.45721152 0,3.5662365 2.89097432,6.4572115 6.45721152,6.4572115 z"
                stroke="#375BD2"
                stroke-width="1.21073"
                stroke-linecap="round"
                stroke-linejoin="round"
                id="path2"
                style="fill:none;stroke:currentColor"
              />
              <path
                d="M 0.60536498,7.0625765 H 13.519788"
                stroke="#375BD2"
                stroke-width="1.21073"
                stroke-linecap="round"
                stroke-linejoin="round"
                id="path3"
                style="fill:none;stroke:currentColor;stroke-opacity:1"
              />
              <path
                d="m 7.0625765,13.519788 c 1.337369,0 2.4214542,-2.890975 2.4214542,-6.4572115 0,-3.5662211 -1.0840852,-6.45721152 -2.4214542,-6.45721152 -1.3373693,0 -2.4214544,2.89099042 -2.4214544,6.45721152 0,3.5662365 1.0840851,6.4572115 2.4214544,6.4572115 z"
                stroke="#375BD2"
                stroke-width="1.21073"
                stroke-linecap="round"
                stroke-linejoin="round"
                id="path4"
                style="fill:none;stroke:currentColor"
              />
            </g>
          </svg>
          <p>Report a translation issue</p>
        </a>
      </li>
    )
  }
  {
    CONFIG.COMMUNITY_INVITE_URL && (
      <li class="header-link">
        <a href={CONFIG.COMMUNITY_INVITE_URL} target="_blank">
          <svg
            aria-hidden="true"
            focusable="false"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            width="1em"
            viewBox="1 1 14 14"
            fill="currentColor"
          >
            <path d="M13.3143 3.99339C13.3143 3.99339 11.7733 2.77282 9.96651 2.66669L9.80709 2.98509C11.4544 3.40964 12.1984 3.94032 12.9424 4.6302C11.6139 3.94032 10.2853 3.3035 7.94719 3.3035C5.60902 3.3035 4.33366 3.99339 3.00516 4.68327C3.80226 3.99339 4.6525 3.35657 6.14042 2.98509L5.981 2.66669C4.1211 2.87896 2.68632 3.99339 2.68632 3.99339C2.68632 3.99339 0.985833 6.48758 0.666992 11.3168C2.36748 13.2803 5.02448 13.3334 5.02448 13.3334L5.55588 12.5904C4.6525 12.272 3.5897 11.6882 2.68632 10.68C3.74912 11.476 5.39646 12.3251 8.00033 12.3251C10.6042 12.3251 12.2515 11.476 13.3143 10.68C12.411 11.7413 11.3482 12.272 10.4448 12.5904L10.9762 13.3334C10.9762 13.3334 13.58 13.3334 15.3337 11.3168C15.0148 6.48758 13.3143 3.99339 13.3143 3.99339ZM5.82158 9.99007C5.1839 9.99007 4.6525 9.40632 4.6525 8.66337C4.6525 7.92042 5.1839 7.33667 5.82158 7.33667C6.45926 7.33667 6.99066 7.92042 6.99066 8.66337C6.99066 9.40632 6.45926 9.99007 5.82158 9.99007ZM10.1791 9.99007C9.54139 9.99007 9.00999 9.40632 9.00999 8.66337C9.00999 7.92042 9.54139 7.33667 10.1791 7.33667C10.8168 7.33667 11.3482 7.92042 11.3482 8.66337C11.3482 9.40632 10.8168 9.99007 10.1791 9.99007Z" />
          </svg>
          <p>Join our community</p>
        </a>
      </li>
    )
  }
</ul>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-1x);
    margin-top: var(--space-3x);
    list-style: none;
  }

  .heading {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: var(--color-text-heading);
  }

  .header-link {
    font-size: 14px;
    color: var(--blue-600, #375bd2);
  }

  .header-link * {
    margin: 0;
    max-width: 100%;
    color: inherit;
    font: inherit;
  }

  .header-link.active,
  .header-link:hover,
  .header-link:focus {
    color: var(--theme-accent);
    fill: var(--theme-accent);
  }

  .header-link:focus-within {
    color: var(--theme-text-light);
    fill: var(--theme-text-light);
  }

  .header-link a {
    display: inline-flex;
    gap: var(--space-2x);
    width: 100%;
    padding: 0.15em 0 0.15em 0;
    text-decoration: none;
  }
</style>
