---
import * as CONFIG from "../../config"
import { CopyPageLink } from "./CopyPageLink"

const { editHref } = Astro.props

const showMoreSection = CONFIG.COMMUNITY_INVITE_URL || editHref
---

{showMoreSection && <h2 class="heading">More</h2>}
<ul>
  {
    editHref && (
      <li class="header-link">
        <a href={editHref} target="_blank">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_8806_115917)">
              <path
                d="M9.5337 3.99301C9.51053 3.96962 9.48296 3.95105 9.45258 3.93835C9.42221 3.92565 9.38963 3.91908 9.3567 3.91901C9.32382 3.91901 9.29125 3.92551 9.26088 3.93812C9.23051 3.95073 9.20292 3.96922 9.1797 3.99251L3.7187 9.45501C3.67184 9.50189 3.64551 9.56547 3.64551 9.63176C3.64551 9.69805 3.67184 9.76162 3.7187 9.80851L6.1927 12.2825C6.23959 12.3294 6.30316 12.3557 6.36945 12.3557C6.43575 12.3557 6.49932 12.3294 6.5462 12.2825L12.0047 6.82401C12.0514 6.77714 12.0777 6.71367 12.0777 6.64751C12.0777 6.58134 12.0514 6.51787 12.0047 6.47101L9.5337 3.99301Z"
                fill="#0D5DFF"
              />
              <path
                d="M3.215 10.4C3.18356 10.3687 3.14433 10.3463 3.10136 10.3351C3.05839 10.324 3.01322 10.3244 2.9705 10.3365C2.92771 10.3485 2.8889 10.3717 2.85805 10.4037C2.8272 10.4357 2.80544 10.4753 2.795 10.5185L2.042 13.657C2.03206 13.6986 2.03296 13.742 2.0446 13.7832C2.05624 13.8243 2.07825 13.8618 2.1085 13.892C2.13895 13.9219 2.17646 13.9436 2.21753 13.9552C2.25861 13.9667 2.30194 13.9677 2.3435 13.958L5.4795 13.208C5.52275 13.1977 5.56245 13.176 5.59451 13.1452C5.62658 13.1144 5.64985 13.0756 5.66192 13.0328C5.674 12.99 5.67444 12.9447 5.6632 12.9017C5.65197 12.8587 5.62946 12.8194 5.598 12.788L3.215 10.4Z"
                fill="#0D5DFF"
              />
              <path
                d="M13.5999 3.46202L12.5384 2.40002C12.3041 2.16614 11.9865 2.03479 11.6554 2.03479C11.3243 2.03479 11.0068 2.16614 10.7724 2.40002L10.0634 3.10852C10.0166 3.15541 9.99023 3.21898 9.99023 3.28527C9.99023 3.35156 10.0166 3.41514 10.0634 3.46202L12.5384 5.93652C12.5853 5.98339 12.6489 6.00972 12.7152 6.00972C12.7815 6.00972 12.845 5.98339 12.8919 5.93652L13.5999 5.22702C13.8335 4.99272 13.9647 4.67537 13.9647 4.34452C13.9647 4.01368 13.8335 3.69633 13.5999 3.46202Z"
                fill="#0D5DFF"
              />
            </g>
            <defs>
              <clipPath id="clip0_8806_115917">
                <rect width="12" height="12" fill="white" transform="translate(2 2)" />
              </clipPath>
            </defs>
          </svg>

          <p>Edit this page</p>
        </a>
      </li>
    )
  }
  <li class="header-link">
    <CopyPageLink client:load />
  </li>
  <li class="header-link">
    <a href="/builders-quick-links" target="_blank" id="quick-links-sidebar-link">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2.5 9.20055L7.18129 2H12.2965L9.62194 5.59959H13.5L5.97787 14H4.50671L7.18135 9.20055H2.5Z"
          fill="#0D5DFF"></path>
      </svg>
      <p>Quick links for builders</p>
    </a>
  </li>
  {
    CONFIG.COMMUNITY_INVITE_URL && (
      <li class="header-link">
        <a href={CONFIG.COMMUNITY_INVITE_URL} target="_blank">
          <svg
            viewBox="0 0 28 28"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            fill="#0D5DFF"
            stroke="#0D5DFF"
            width="16"
            height="16"
          >
            <>
              <g stroke-width="0" />
              <g stroke-linecap="round" stroke-linejoin="round" />
              <g>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="people_community" fill="#0D5DFF" fill-rule="nonzero">
                    <path d="M17.75,18 C18.7164983,18 19.5,18.7835017 19.5,19.75 L19.5,21.7519766 L19.4921156,21.8604403 C19.1813607,23.9866441 17.2715225,25.0090369 14.0667905,25.0090369 C10.8736123,25.0090369 8.93330141,23.9983408 8.51446278,21.8965776 L8.5,21.75 L8.5,19.75 C8.5,18.7835017 9.28350169,18 10.25,18 L17.75,18 Z M18.2439108,11.9999135 L24.25,12 C25.2164983,12 26,12.7835017 26,13.75 L26,15.7519766 L25.9921156,15.8604403 C25.6813607,17.9866441 23.7715225,19.0090369 20.5667905,19.0090369 L20.3985759,19.007437 C20.0900029,17.9045277 19.1110503,17.0815935 17.9288034,17.0057197 L17.75,17 L16.8277704,17.0007255 C17.8477843,16.1757619 18.5,14.9140475 18.5,13.5 C18.5,12.9740145 18.4097576,12.4691063 18.2439108,11.9999135 Z M3.75,12 L9.75608915,11.9999135 C9.59024243,12.4691063 9.5,12.9740145 9.5,13.5 C9.5,14.8308682 10.0777413,16.0267978 10.996103,16.8506678 L11.1722296,17.0007255 L10.25,17 C8.9877951,17 7.92420242,17.85036 7.60086562,19.0094363 L7.5667905,19.0090369 C4.37361228,19.0090369 2.43330141,17.9983408 2.01446278,15.8965776 L2,15.75 L2,13.75 C2,12.7835017 2.78350169,12 3.75,12 Z M14,10 C15.9329966,10 17.5,11.5670034 17.5,13.5 C17.5,15.4329966 15.9329966,17 14,17 C12.0670034,17 10.5,15.4329966 10.5,13.5 C10.5,11.5670034 12.0670034,10 14,10 Z M20.5,4 C22.4329966,4 24,5.56700338 24,7.5 C24,9.43299662 22.4329966,11 20.5,11 C18.5670034,11 17,9.43299662 17,7.5 C17,5.56700338 18.5670034,4 20.5,4 Z M7.5,4 C9.43299662,4 11,5.56700338 11,7.5 C11,9.43299662 9.43299662,11 7.5,11 C5.56700338,11 4,9.43299662 4,7.5 C4,5.56700338 5.56700338,4 7.5,4 Z" />
                  </g>
                </g>
              </g>
            </>
          </svg>

          <p>Join our community</p>
        </a>
      </li>
    )
  }
</ul>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-1x);
    margin-top: var(--space-3x);
    list-style: none;
  }

  .heading {
    color: var(--gray-900, #141921);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 500;
    line-height: 130%; /* 13px */
  }

  .header-link {
    font-size: 14px;
    color: var(--blue-600, #375bd2);
  }

  .header-link * {
    margin: 0;
    max-width: 100%;
    color: inherit;
    font: inherit;
  }

  .header-link.active,
  .header-link:hover,
  .header-link:focus {
    color: var(--theme-accent);
    fill: var(--theme-accent);
  }

  .header-link:focus-within {
    color: var(--theme-text-light);
    fill: var(--theme-text-light);
  }

  .header-link a {
    display: inline-flex;
    gap: var(--space-2x);
    width: 100%;
    padding: 0.15em 0 0.15em 0;
    text-decoration: none;
  }

  .header-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
  }

  .llms-link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
  }
</style>
