---
import MoreMenu from "./MoreMenu.astro"
import { Feedback } from "../PageContent/Feedback"
import { MarkdownHeading } from "astro"
import TableOfContents from "~/components/TableOfContents/TableOfContents"

export type Props = {
  githubEditUrl: string
  headings: MarkdownHeading[]
}
const { githubEditUrl, headings } = Astro.props
---

<section class="sidebar-nav" aria-labelledby="grid-right" data-sticky>
  <h2 class="heading">On this page</h2>
  <div class="toc-wrapper">
    <TableOfContents client:media="(min-width: 50em)" initialHeadings={headings} />
  </div>
  <MoreMenu editHref={githubEditUrl} />
  <h2 class="heading feedback-title">Feedback</h2>
  <div class="feedback-wrapper">
    <Feedback client:idle />
  </div>
</section>

<style>
  .sidebar-nav {
    height: fit-content;
    padding: var(--doc-padding) 0;
    position: sticky;
    top: 0;
    min-width: calc(315px - var(--space-16x));
  }

  .heading {
    margin-bottom: 0;
    color: var(--gray-900, #141921);
    font-size: 10px;
    font-weight: 500;
    line-height: 130%; /* 13px */
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .feedback-title {
    margin-top: var(--space-8x);
  }

  .feedback-wrapper {
    margin-top: var(--space-3x);
  }

  .toc-wrapper {
    padding: 0;
    margin-bottom: var(--space-8x);
  }
</style>
