---
import MoreMenu from "./MoreMenu.astro"
import { Feedback } from "../PageContent/Feedback"
import { MarkdownHeading } from "astro"
import TableOfContents from "~/components/TableOfContents/TableOfContents"

export type Props = {
  githubEditUrl: string
  headings: MarkdownHeading[]
}
const { githubEditUrl, headings } = Astro.props
---

<div id="sidebar-container" data-sticky>
  <div id="sidebar-toggle">{"<"}</div>
  <aside id="sidebar-nav" hidden="true">
    <h2 class="heading">On this page</h2>
    <div class="toc-wrapper">
      <TableOfContents client:media="(min-width: 50em)" initialHeadings={headings} />
    </div>
    <MoreMenu editHref={githubEditUrl} />
    <h2 class="heading feedback-title">Feedback</h2>
    <div class="feedback-wrapper">
      <Feedback client:idle />
    </div>
  </aside>
</div>

<style>
  #sidebar-container {
    display: flex;
    width: fit-content;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    background: white;
  }

  #sidebar-toggle {
    display: flex;
    align-self: center;
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    /* content: url(https://smartcontract.imgix.net/icons/Caret.svg?auto=compress%2Cformat);
    width: var(--space-6x);
    height: var(--space-6x); */
  }
  #sidebar-nav {
    height: fit-content;
    padding: var(--doc-padding) 0 calc(2 * var(--doc-padding)) 0;
  }

  .heading {
    color: var(--color-text-heading);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .feedback-title {
    margin-top: var(--space-8x);
  }

  .feedback-wrapper {
    margin-top: var(--space-3x);
  }

  .toc-wrapper {
    padding: 0;
    margin-bottom: var(--space-8x);
  }

  @media (max-width: 50em) {
    #sidebar-container,
    #sidebar-nav {
      display: none;
    }
  }
</style>

<script>
  const c = document.getElementById("sidebar-container")
  const t = document.getElementById("sidebar-toggle")
  const nav = document.getElementById("sidebar-nav")
  if (c && t && nav) {
    t.onclick = (e) => {
      nav.hidden = !nav.hidden
    }
  }
</script>
