.container {
  background-color: var(--tertiary-foreground);
  padding: var(--space-10x) var(--space-16x);
  margin: 86px 0;
}

.title {
  margin-bottom: var(--space-8x);
  color: var(--background);
}

.secondaryBtn {
  color: var(--muted-on-surface);
}

.contentFooter {
  display: flex;
  gap: var(--space-6x);
  margin-top: 55px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: var(--space-24x);
}

.accordionItem {
  border-bottom: none;
  border-top: 1px solid var(--segment-button-foreground);
  display: flex;
  flex-direction: column;

  * {
    transition: all 0.2s linear;
  }
}

.contentLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  color: var(--muted-more-foreground);
}

.indicator {
  color: var(--segment-button-foreground);
}

.accordionTrigger {
  color: var(--muted-more-foreground);
  padding: var(--space-4x) 0;
  border: none;
  outline: none;
  & p {
    color: var(--muted-more-foreground);
  }

  & svg {
    display: none;
  }

  & span {
    word-wrap: normal;
  }
}

.image {
  width: 100%;
  max-height: 412px;
  overflow-y: auto;
  border-bottom: 1.5px solid var(--stepper-counter-pending-foreground);
  border-radius: 6.317px;
}

.accordionItem[data-state="open"] {
  border-top: 2px solid var(--link);

  & .accordionTrigger {
    color: var(--background);
  }
  & .indicator {
    color: var(--link);
  }
}

.body {
  max-width: var(--fullwidth-max-width);
  width: 100%;
  margin: 0 auto;
}

.contentFooterMobile {
  display: none;
  gap: var(--space-6x);
}

@media screen and (max-width: 425px) {
  .contentFooterMobile {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    gap: var(--space-8x);
  }

  .title {
    font-size: 28px;
  }
  .contentFooter {
    display: none;
  }

  .contentFooterMobile {
    display: flex;
  }
}
