.modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
}

.hideOverflow {
  position: fixed;
  overflow-y: scroll;
}

/* Overrides the top-level of the import (modal) */
.searchWrapper > * {
  z-index: unset;
  background-color: unset;
  position: unset;
}

/* Design system overrides */
.searchWrapper :is(p, h2) {
  margin-bottom: unset;
}

.searchWrapper :is(p, li) {
  font-family: var(--font-family-text);
}

.searchWrapper ul {
  overflow: auto;
  margin-top: var(--space-2x);
  margin-bottom: var(--space-2x);
}

.searchWrapper button * {
  max-width: unset;
  margin-bottom: unset;
  color: unset;
}

.searchWrapper button span {
  display: inline-flex;
}

@media screen and (max-width: 480px) {
  .searchWrapper button {
    padding-left: var(--space-4x);
    padding-right: var(--space-4x);
    white-space: nowrap;
  }
}
