<div
  id="resultsBox"
  style="
    display: none;
    position: absolute;
    top: 10vh;
    right: 0;
    height: 50vh;
    width: 50vw;
    padding: 16px;
    z-index: 10000;
    background: #ccc;
    overflow-y: scroll;
  "
>
  Search Results:
  <div id="resultsOutput"></div>
</div>

<script>
  const button = document.getElementById('search-link');
  let searchIndex;
  const showResults = (response) => {
    searchIndex = response;
    const query = document.getElementById('search-query').value;
    const searchString = query.toLowerCase();
    const matches = [];
    const titleMatches = [];
    for (const item of searchIndex.search) {
      const found = item.text.indexOf(searchString);
      if (found !== -1) {
        const foundInTitle = item.titleText.indexOf(searchString);
        if (foundInTitle !== -1) {
          titleMatches.push(item);
        } else {
          matches.push(item);
        }
      }
    }
    const resultBox = document.getElementById('resultsBox');

    // Show the box and allow the user to close it
    resultBox.style.display = 'block';
    document.body.addEventListener('click', (event) => {
      console.log(event);
      if (resultBox !== event.target && !resultBox.contains(event.target)) {
        resultBox.style.display = 'none';
      }
    });

    document.getElementById('resultsOutput').innerHTML =
      titleMatches
        .map(
          (result) =>
            `<a href="${result.url}#:~:text=${query}" style="display:block;font-weight:bold;font-size:1.2em;">${result.title}</a>`
        )
        .join('') +
      matches
        .map(
          (result) =>
            `<a href="${result.url}#:~:text=${query}" style="display:block;">${result.title}</a>`
        )
        .join('');

    // Log to analytics
    gtag('event', 'search', {
      'event_category': 'docs-engagement', 
      'search_term': query,
    });
  };

  listner = document
    .getElementById('search-form')
    .addEventListener('submit', (event) => {
      console.log('search form submit event');
      event.preventDefault();
      if (!searchIndex) {
        fetch('/search-index.json')
          .then((response) => {
            return response.json();
          })
          .then((response) => {
            searchIndex = response;
            showResults(searchIndex);
          });
      } else {
        showResults(searchIndex);
      }
    });
</script>
