<button id="searchbox-button">
  <svg style="width:16px;height:16px;margin-right:8px;" viewBox="0 0 24 24"><path fill="currentColor" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" /></svg>
  Search
</button>

<div id="resultsBox">
  <form id="search-form" style="display:flex;">
    <svg style="width:16px;height:16px;margin:0 18px;" viewBox="0 0 24 24"><path fill="currentColor" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" /></svg>
    <input type="search" id="search-query">
  </button>
  </a>
  </form>  
  <div id="resultsOutput">
    <div style="height:100%;display:flex;align-items:center;justify-content:center">Start typing to search...</div>
  </div>
</div>

<script>
  
  const button = document.getElementById('search-link');
  const resultBox = document.getElementById('resultsBox');

  let searchIndex;

  const closeResultsBox = () => {
    resultBox.style.display = 'none';
  }
  const showResultsBox = (event) => {
    event.stopPropagation();
    
    // Show the box and allow the user to close it
    resultBox.style.display = 'flex';
    document.getElementById('search-query').focus();
    document.getElementById('search-query').select();
   
    let clickListener = document.body.addEventListener('click', (event) => {
      if (resultBox !== event.target && !resultBox.contains(event.target)) {
        closeResultsBox();
        document.body.removeEventListener('click',clickListener);
      }
    });

    // Load the search index
    if (!searchIndex) {
        fetch('/search-index.json')
          .then((response) => {
            return response.json();
          })
          .then((response) => {
            searchIndex = response;
          });
      }


  };
 
  let searchTimeout;
  const performSearch = (event) => {
      if(!(event instanceof KeyboardEvent)) {
        event.preventDefault();
      }

    const query = document.getElementById('search-query').value;
    const searchString = query.toLowerCase();
    const matches = [];
    const titleMatches = [];

    for (const item of searchIndex.search) {
      const found = item.text.indexOf(searchString);
      if (found !== -1) {
        const foundInTitle = item.titleText.indexOf(searchString);
        if (foundInTitle !== -1) {
          titleMatches.push(item);
        } else {
          matches.push(item);
        }
      }
    }


    document.getElementById('resultsOutput').innerHTML =
      (titleMatches.length > 0 ? '<h3>Title Matches</h3>' : '') + titleMatches
        .map(
          (result) =>
            `<a href="${result.url}#:~:text=${query}" style="display:block;">${result.title}</a>`
        )
        .join('') +
      (matches.length > 0 ? '<h3>Content Matches</h3>' : '') + 
      matches
        .map(
          (result) =>
            `<a href="${result.url}#:~:text=${query}" style="display:block;">${result.title}</a>`
        )
        .join('');

    // Log to analytics
    if(searchTimeout) {
      clearTimeout(searchTimeout);
    }
      searchTimeout = setTimeout(() => {
        dataLayer.push('event', 'search', {
          'event_category': 'docs-engagement', 
          'search_term': query,
        });
        const path = 'https://docs2-cl-default-rtdb.firebaseio.com/search.json';
        const data = {query,time:Date.now(),url:window.location.href};
        SULX.post(path, JSON.stringify(data));
        searchTimeout = null;
      },1000);
      
  }

  document.addEventListener('DOMContentLoaded', () =>
      document.getElementById('searchbox-button').addEventListener('click', 
      showResultsBox));

  document.getElementById('search-form')
    .addEventListener('keyup',performSearch );
  document.getElementById('search-form')
    .addEventListener('submit',performSearch );
</script>
