---
layout: ./nodes.liquid
section: ethereum
---

<h2>Deprecation of Chainlink Data Feeds</h2>

<p>
The smart contract ecosystem is constantly evolving. As a result, Data Feeds within the Chainlink ecosystem are continuously evaluated for their usage and economic viability across all the blockchains and layer-2 networks they are deployed on.
</p>

<p>
Data Feeds without publicly known active users may be scheduled for deprecation. Doing so not only helps preserve blockchains as public goods by optimizing blockspace usage, but it helps reduce unnecessary costs incurred by Chainlink node operators. This process is part of a broader ecosystem shift towards Chainlink Economics 2.0, designed to maximize the adoption of the Chainlink protocol while optimizing for cost-efficiency and long-term economic sustainability. Over time, new Data Feeds may be launched or relocated to alternative blockchains/layer-2s that better reflect current user demand.
</p>

<p>
For status updates regarding Data Feeds, users should join the official Chainlink Discord and subscribe to the data-feeds-user-notifications channel: <a href="https://discord.gg/Dqy5N9UbsR">https://discord.gg/Dqy5N9UbsR</a>
</p>

<p>
Users with additional questions are encouraged to reach out <a href="https://chainlinkcommunity.typeform.com/s/dataFeedQs">here</a>.
</p>

<p>
A list of data feeds designated for deprecation along with their corresponding shutdown date can be found below.
</p>

<style>
    table {
        border-collapse: collapse;
        width:100%;
    }
    th, td {
        border: 1px solid #dfe2e5;
        padding: 6px;
    }
    thead tr {
        background-color: #f6f8fa;
    }
    tr:nth-child(2n) {
        background-color: rgb(251, 252, 253);
    }
    .detail-hidden {
        display: none;
    }
    input {
        margin-right:8px;
    }

    .hovertext {
    position: relative;
    }

    .hovertext:before {
      content: attr(data-hover);
      visibility: hidden;
      opacity: 0;
      background-color: white;
      color: #375bd2;
      text-align: center;
      padding: 4px;
      outline: 1px solid #375bd2;
      font-color: #375bd2;
      border-radius: 2px;
      position: absolute;
      z-index: 1;
      bottom: 120%;
    }

    .hovertext:hover:before {
      opacity: 1;
      visibility: visible;
    }

    .proxy-pair-column {
      display: inline-flex;
    }

    .feed-category {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2px;
    }

    .proxy-pair {
      min-width: 107px;
    }

    hr.shutDate {
        margin: 2px;
        border: 0;
        height: 1px;
        background: #dfe2e5;
    }

    div.shutDate {
        font-size: 11px;
        text-align: center;
        line-height: 1.25em;
    }

</style>

<div id="feed-data">
    Loading feeds...
</div>

<script>
    dest = document.getElementById('feed-data');
    let feedCategories = {
        "verified": '<span class="hovertext feed-category" data-hover="Verified"><a href="/docs/selecting-data-feeds/#🟢-verified-feeds" alt="Verified" target="_blank">🟢</a></span>',
        "monitored": '<span class="hovertext feed-category" data-hover="Monitored"><a href="/docs/selecting-data-feeds/#🟡-monitored-feeds" alt="Monitored" target="_blank">🟡</a></span>',
        "custom": '<span class="hovertext feed-category" data-hover="Custom"><a href="/docs/selecting-data-feeds/#-custom-feeds" alt="Custom" target="_blank">🔵</a></span>',
        "specialized": '<span class="hovertext feed-category" data-hover="Specialized"><a href="/docs/selecting-data-feeds/#-specialized-feeds" alt="Specialized" target="_blank">⚫</a></span>',
        "deprecating": '<span class="hovertext feed-category" data-hover="Deprecating"><a href="#categories" alt="Deprecating" target="_blank">⭕</a></span>'
    }
    render = (data) => {
        let html = '';
        for(key in data){
            if(data[key]) {
                for(let network of data[key].networks) {
                    let proxyList = '';
                    let shutdownFound = false;
                    for(let proxy of network.proxies) {
                        if(proxy.shutdownDate){
                            shutdownFound = true;
                            proxyList += `
                            <tr id="${network.name} ${proxy.pair}">
                                <td><div class="proxy-pair-column">${feedCategories[proxy.feedCategory] || ''}<code class="proxy-pair">${proxy.pair}</code></div>
                                ${ proxy.shutdownDate ? '<hr class="shutDate"></hr><div class="shutDate">Deprecating:<br/>' + proxy.shutdownDate + '</div>' : '' }
                                </td>
                                <td><code>${proxy.assetName}</code></td>
                                <td><code>${proxy.feedType}</code></td>
                                <td><a href="${network.url.replace('%s',proxy.proxy)}"><code>${proxy.proxy}</code></a></td>
                            </tr>`;
                        }
                    }
                    if(shutdownFound){
                        html += `
                        <h2 id="${network.name}">${network.name} feeds being deprecated<a class="anchor" href="#${network.name}"><img src="/images/link.svg" alt="Link to this section"></a></h2>
                        <p>
                        <table>
                            <thead>
                                <tr>
                                    <th>Pair</th>
                                    <th>Asset</th>
                                    <th>Type</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>${proxyList}</tbody>
                        </table>`;
                    }
                }
            } else {
                html = `<em style="color:red;">Couldn't render the feed list, it may still be processing. Feeds are updated about every half hour..</em>`;
            }
        }

        dest.innerHTML = html;
    }

    // If you are developing locally, use a local version of this file,
    // Otherwise pull from the cron-generated web version
    let path = 'https://cl-docs-addresses.web.app/addresses.json';
    if(window.location.host === 'localhost:4200') {
        path = '/addresses/addresses.json';
    }else if(window.location.host.includes('chainlinklabs.vercel.app')){
        path = 'https://raw.githubusercontent.com/smartcontractkit/documentation/addresses-preview/_src/addresses/addresses-preview.json';
    }
    fetch(path)
    .then(response => response.json())
    .then(json => {
        render(json);
    });
</script>
