---
layout: ./main.liquid
---
<style> navigation a {display:block;}
</style>
<div style="display:flex">
    <navigation style="padding:16px;max-width:250px;">
        <div>
            <strong>NODE OPERATORS</strong>
            <a href="">Overview</a>
            <a href="">Running a Chainlink Node</a>
            <a href="">Fulfilling Requests</a>
            <a href="">Run an Ethereum Client</a>
            <a href="">Performing System Maintenance</a>
            <a href="">Connecting to a Remote Database</a>
            <a href="">Configuration Variables</a>
            <a href="">Enabling HTTPS Connections</a>
            <a href="">Miscellaneous</a>
            <a href="">Best Security and Operating Practices</a>
            <a href="">FluxAggregator Uses</a>
        </div>
        <div>
        <strong>ORACLE JOBS</strong>
        <a href="">Job Specifications</a>
        <a href="">Core Adapters</a>
        <a href="">Initiators</a>
        </div>
        <div>
        <strong>EXTERNAL ADAPTERS</strong>
        <a href="">Introduction</a>
        <a href="">External Adapters in Solidity</a>
        <a href="">Building External Adapters</a>
        <a href="">Bridges: Adding External Adapters to Nodes</a>

    </div>
    <div>
        <strong>EXTERNAL INITIATORS</strong>
        <a href="">Introduction</a>
        <a href="">Building External Initiators</a>
        <a href="">Adding External Initiators to Nodes</a>

    </div>
    <div>
        <strong>DATA PROVIDER NODES</strong>
        <a href="">Chainlink Alarm Clock (Testnet)</a>
        <a href="">LCX (Testnet)</a>
        <a href="">Kraken Rates Oracle Node</a>
        <a href="">Tiingo EOD Stock Price Oracle</a>
        <a href="">GeoDB Oracle Node</a>
        <a href="">TheRunDown Oracle Node</a>
        <a href="">DNS Ownership Oracle</a>
        <a href="">WatchSignals Luxury Watch Price Oracle</a>
        
    </navigation>
    <div style="max-width:800px;margin: 0px auto; padding:16px;">
    {% include banner %}
    {{content}}
    </div>
</div>