<div class="cl-box cl-box-blue">
    <h2>Still have questions?</h2>
    <p style="margin-bottom:0;">Find answers to our most commonly asked questions.</p>
    <div>
        <a class="cl-button--ghost" href="/docs/faq">FAQ</a>
        <a class="cl-button--ghost" href="https://discord.gg/2YHSAey">Discord</a>
        <a class="cl-button--ghost" href="https://github.com/smartcontractkit/chainlink">Github</a>
    </div>
    <h3>中文开发者社区</h3>
    <img height="auto" src="https://files.readme.io/f639125-qr.png" width="30%"/>
</div>