{
  "openapi": "3.0.4",
  "info": {
    "title": "Chainlink ACE Coordinator API",
    "version": "0.1.0",
    "description": "The Coordinator API is the control plane for ACE. Use it to create and manage all ACE resources for your organization."
  },
  "servers": [
    {
      "url": "https://ace.api.chain.link/v1",
      "description": "Production"
    }
  ],
  "components": {
    "schemas": {
      "ActionValidatorResponse": {
        "type": "object",
        "required": ["chain_selector", "validator_address"],
        "properties": {
          "chain_selector": {
            "type": "string",
            "description": "Chain selector identifying the network"
          },
          "validator_address": {
            "type": "string",
            "description": "Deployed CertifiedActionDONValidator contract address on this chain"
          }
        }
      },
      "AnyPolicyImplementationResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/PolicyImplementation"
          },
          {
            "$ref": "#/components/schemas/OffchainPolicyImplementation"
          }
        ]
      },
      "AnyPolicyResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/Policy"
          },
          {
            "$ref": "#/components/schemas/OffchainPolicyResponse"
          }
        ],
        "discriminator": {
          "propertyName": "policy_kind",
          "mapping": {
            "onchain": "#/components/schemas/Policy",
            "offchain": "#/components/schemas/OffchainPolicyResponse"
          }
        }
      },
      "ApiErrorResponse": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Message of the response"
          },
          "error": {
            "type": "string",
            "description": "Error type",
            "enum": [
              "Already exists",
              "Internal error",
              "Not found",
              "Bad request",
              "Unauthorized",
              "Forbidden",
              "Method not allowed"
            ]
          }
        }
      },
      "ApplyOnchainPolicy": {
        "type": "object",
        "required": ["chain_selector", "current_policy_config_version"],
        "properties": {
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "current_policy_config_version": {
            "type": "string",
            "format": "uint64",
            "description": "Current policy config version on chain"
          }
        }
      },
      "ChainSelector": {
        "type": "string",
        "format": "uint64",
        "description": "Chain selector"
      },
      "ConfigureDataValidatorChains": {
        "type": "object",
        "required": ["chain_selector", "current_config_version"],
        "properties": {
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "current_config_version": {
            "type": "string",
            "format": "uint64",
            "description": "Expected current config version on-chain (optimistic concurrency)"
          }
        }
      },
      "ContractConfigSchema": {
        "type": "object",
        "additionalProperties": {},
        "description": "JSON Schema draft-07 document defining configurable parameters for an on-chain contract\nimplementation.\n"
      },
      "ContractTypeSummary": {
        "type": "object",
        "required": ["id", "name"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the contract type"
          }
        }
      },
      "ContractType": {
        "type": "object",
        "required": ["id", "name", "contract_type_functions", "created_at", "updated_at"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the contract type"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Optional description of the contract type"
          },
          "org_id": {
            "$ref": "#/components/schemas/OrgId"
          },
          "contract_type_functions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContractTypeFunction"
            }
          },
          "extractors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Extractor"
            }
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          },
          "archived_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp when archived (null if not archived)",
            "nullable": true
          }
        }
      },
      "ContractTypeFunctionType": {
        "type": "string",
        "description": "Whether the function is a view/pure read or a state-changing write",
        "enum": ["view", "write"]
      },
      "ContractTypeFunction": {
        "type": "object",
        "required": ["id", "function_signature", "type", "function_abi", "created_at", "updated_at"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "function_signature": {
            "type": "string",
            "description": "Canonical function signature, e.g. \"mint(address,uint256)\""
          },
          "type": {
            "$ref": "#/components/schemas/ContractTypeFunctionType"
          },
          "function_abi": {
            "$ref": "#/components/schemas/FunctionABI"
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          }
        }
      },
      "FunctionABI": {
        "type": "object",
        "required": ["type", "name", "inputs", "outputs", "state_mutability"],
        "properties": {
          "type": {
            "type": "string",
            "description": "ABI fragment type, e.g. \"function\""
          },
          "name": {
            "type": "string",
            "description": "Function name"
          },
          "inputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FunctionParameter"
            }
          },
          "outputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FunctionParameter"
            }
          },
          "state_mutability": {
            "type": "string",
            "description": "Function state mutability",
            "enum": ["pure", "view", "nonpayable", "payable"]
          }
        }
      },
      "FunctionParameter": {
        "type": "object",
        "required": ["name", "type"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Parameter name"
          },
          "type": {
            "type": "string",
            "description": "Solidity type, e.g. \"address\", \"uint256\", \"tuple\", \"tuple[]\""
          },
          "internal_type": {
            "type": "string",
            "description": "Solidity ABI internalType"
          },
          "components": {
            "type": "array",
            "description": "For tuple and tuple array types, the ABI definition of each field, in order.",
            "items": {
              "$ref": "#/components/schemas/FunctionParameter"
            }
          }
        }
      },
      "ContractTypePatchStatus": {
        "type": "string",
        "description": "Status for contract type PATCH (archive only)",
        "enum": ["archived"]
      },
      "PatchContractTypeRequest": {
        "type": "object",
        "required": ["status"],
        "description": "Set status to \"archived\" to archive the contract type.",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/ContractTypePatchStatus",
            "description": "Set to \"archived\" to archive."
          }
        }
      },
      "CreateContractTypeFunctionsRequest": {
        "type": "object",
        "required": ["function_abis"],
        "properties": {
          "function_abis": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FunctionABI"
            }
          }
        }
      },
      "CreateContractTypeRequest": {
        "type": "object",
        "required": ["name", "contract_type_functions"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name of the contract type"
          },
          "description": {
            "type": "string",
            "description": "Optional description of the contract type"
          },
          "contract_type_functions": {
            "$ref": "#/components/schemas/CreateContractTypeFunctionsRequest"
          },
          "extractor_ids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Id"
            }
          }
        }
      },
      "ListContractTypesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListResponseData"
          },
          {
            "type": "object",
            "required": ["contract_types"],
            "properties": {
              "contract_types": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContractType"
                }
              }
            }
          }
        ]
      },
      "CreateAnyPolicyRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CreatePolicyRequest"
          },
          {
            "$ref": "#/components/schemas/CreateOffchainPolicyRequest"
          }
        ],
        "description": "Create an onchain or offchain policy. `policy_kind` is optional and defaults to `\"onchain\"` if omitted. Set `policy_kind` to `\"offchain\"` to create an offchain policy.\n"
      },
      "CreateCredentialInput": {
        "type": "object",
        "required": ["credential_type_id"],
        "properties": {
          "credential_type_id": {
            "$ref": "#/components/schemas/Id"
          },
          "credential_data": {
            "description": "Required when the credential type is linked to a data schema (JSON object or array per data schema)"
          },
          "external_unique_id": {
            "type": "string",
            "description": "External unique identifier for the credential"
          },
          "expires_at": {
            "type": "integer",
            "format": "int64",
            "description": "Expiration timestamp of the credential"
          }
        }
      },
      "CreateCredentialRegistryInput": {
        "type": "object",
        "required": ["name", "chain_selector", "description"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the credential registry"
          },
          "address": {
            "$ref": "#/components/schemas/EthAddress",
            "description": "Optional address. If not provided, the registry will be deployed and status will be creation_pending"
          },
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "description": {
            "type": "string",
            "description": "Description of the credential registry"
          }
        }
      },
      "CreateDataValidatorRequest": {
        "type": "object",
        "required": ["name", "data_validator_implementation_id"],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "data_validator_implementation_id": {
            "$ref": "#/components/schemas/Id"
          },
          "onchain_data_validators": {
            "type": "array",
            "description": "On-chain deployments; each chain_selector may appear at most once",
            "items": {
              "$ref": "#/components/schemas/CreateOnchainDataValidatorRequest"
            }
          }
        }
      },
      "CreateExtractorRequest": {
        "type": "object",
        "required": ["name", "supported_function_signatures", "outputs"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name of the extractor"
          },
          "supported_function_signatures": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Function signatures that the extractor supports"
          },
          "outputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExtractorOutputInput"
            }
          },
          "onchain_extractors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainExtractorInput"
            }
          }
        }
      },
      "CreateIdentitiesBatchRequest": {
        "type": "object",
        "required": ["identities"],
        "properties": {
          "identities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateIdentityRequest"
            },
            "description": "List of identities to create"
          }
        }
      },
      "CreateIdentitiesBatchResponse": {
        "type": "object",
        "required": ["results"],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateIdentityResult"
            },
            "description": "List of identity creation results"
          }
        }
      },
      "CreateIdentityRegistryInput": {
        "type": "object",
        "required": ["name", "chain_selector", "description"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the identity registry"
          },
          "address": {
            "$ref": "#/components/schemas/EthAddress",
            "description": "Optional address. If not provided, the registry will be deployed and status will be creation_pending"
          },
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "description": {
            "type": "string",
            "description": "Description of the identity registry"
          }
        }
      },
      "CreateIdentityRequest": {
        "type": "object",
        "required": ["title", "entity_id", "registry_id", "onchain_identities"],
        "properties": {
          "title": {
            "type": "string",
            "description": "Human-readable title of the identity"
          },
          "description": {
            "type": "string",
            "description": "Description of the identity"
          },
          "entity_id": {
            "type": "string",
            "description": "Entity ID of the identity"
          },
          "registry_id": {
            "$ref": "#/components/schemas/Id"
          },
          "onchain_identities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainIdentityInput"
            },
            "description": "Onchain identities to register with the identity"
          },
          "credentials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateCredentialInput"
            },
            "description": "Optional list of credentials to create for the new identity"
          }
        }
      },
      "CreateIdentityResult": {
        "type": "object",
        "required": ["status"],
        "properties": {
          "identity": {
            "$ref": "#/components/schemas/Identity"
          },
          "status": {
            "$ref": "#/components/schemas/CreateIdentityResultStatus"
          },
          "error": {
            "type": "string",
            "description": "Error message if creation failed"
          }
        }
      },
      "CreateIdentityResultStatus": {
        "type": "string",
        "description": "Status of the identity creation",
        "enum": ["created", "failed"]
      },
      "CreateOffchainPolicyRequest": {
        "type": "object",
        "required": ["type", "name", "policy_engine_id", "onchain_policies", "config"],
        "properties": {
          "policy_kind": {
            "type": "string",
            "enum": ["offchain"],
            "description": "Optional. Set to \"offchain\" to create an offchain policy. Defaults to \"onchain\" if omitted."
          },
          "type": {
            "type": "string",
            "enum": ["wallet_risk_scoring"],
            "description": "Managed offchain policy MVP type. ACE Beta supports wallet_risk_scoring. Contact your Chainlink representative for setup assistance."
          },
          "name": {
            "type": "string",
            "description": "Human-readable policy name"
          },
          "policy_engine_id": {
            "$ref": "#/components/schemas/Id",
            "description": "ID of the onchain PolicyEngine this policy is associated with"
          },
          "onchain_policies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateOnchainTargetProtectionRequest"
            },
            "minItems": 1,
            "description": "Chain selectors to deploy the CertifiedActionDONValidator on (one deployment per chain)"
          },
          "config": {
            "type": "object",
            "additionalProperties": true,
            "description": "Wallet screening configuration. Use secret_name, addresses_to_check, risk_threshold, block_unknown, optional category_filters, and optional fail_mode."
          }
        }
      },
      "CreateOnchainDataValidatorRequest": {
        "type": "object",
        "required": ["chain_selector"],
        "properties": {
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "initial_config": {
            "type": "object",
            "description": "Initial configuration for schema-derived keys",
            "additionalProperties": true
          }
        }
      },
      "CreateOnchainPolicyRequest": {
        "type": "object",
        "required": ["chain_selector"],
        "properties": {
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "initial_config": {
            "type": "object",
            "description": "Initial configuration values for properties listed in initial_configs",
            "additionalProperties": true
          }
        }
      },
      "CreateOnchainTargetProtectionRequest": {
        "type": "object",
        "required": ["chain_selector"],
        "properties": {
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          }
        }
      },
      "CreatePolicyEngineRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name of the policy engine"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the policy engine"
          },
          "extractor_ids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Id"
            }
          },
          "contract_type_ids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Id"
            },
            "description": "Contract Types to register on this engine."
          },
          "onchain_policy_engines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainPolicyEngineInput"
            }
          }
        },
        "required": ["name", "onchain_policy_engines"]
      },
      "CreatePolicyRequest": {
        "type": "object",
        "required": ["name", "policy_implementation_id", "policy_engine_id"],
        "properties": {
          "policy_kind": {
            "type": "string",
            "enum": ["onchain"],
            "description": "Optional. Identifies this as an onchain policy creation request. Defaults to \"onchain\" if omitted."
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the policy instance"
          },
          "description": {
            "type": "string",
            "description": "Description of the policy instance"
          },
          "policy_implementation_id": {
            "$ref": "#/components/schemas/Id"
          },
          "policy_engine_id": {
            "$ref": "#/components/schemas/Id"
          },
          "onchain_policies": {
            "type": "array",
            "description": "On-chain deployments; each chain_selector may appear at most once",
            "items": {
              "$ref": "#/components/schemas/CreateOnchainPolicyRequest"
            }
          }
        }
      },
      "CreateRegistryAccessGrantRequest": {
        "type": "object",
        "required": ["grantee_org_id"],
        "properties": {
          "grantee_org_id": {
            "$ref": "#/components/schemas/OrgId",
            "description": "Organization ID to grant registry access to"
          }
        }
      },
      "CreateRegistryRequest": {
        "type": "object",
        "required": ["name", "description"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the registry"
          },
          "description": {
            "type": "string",
            "description": "Description of the registry"
          },
          "identity_registries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateIdentityRegistryInput"
            },
            "description": "List of identity registries to create and associate with this registry"
          },
          "credential_registries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateCredentialRegistryInput"
            },
            "description": "List of credential registries to create and associate with this registry"
          }
        }
      },
      "CreateTargetProtectionRequest": {
        "type": "object",
        "required": ["function_signature", "policy_instance_id"],
        "description": "`policy_instance_id` is the `id` of the policy to protect and `policy_kind` identifies which kind of policy that ID belongs to: omit `policy_kind` (or set it to \"onchain\") to reference an onchain Policy, or set it to \"offchain\" to reference an offchain (CADV) Policy.\n",
        "properties": {
          "function_signature": {
            "type": "string",
            "description": "Function signature of the target protection"
          },
          "policy_instance_id": {
            "$ref": "#/components/schemas/Id",
            "description": "ID of the policy to protect, matching the `id` of the onchain or offchain policy identified by `policy_kind`."
          },
          "policy_kind": {
            "type": "string",
            "enum": ["onchain", "offchain"],
            "description": "Kind of policy being protected. Defaults to \"onchain\" if omitted."
          },
          "desired_position": {
            "type": "integer",
            "description": "Desired position of the target protection"
          },
          "onchain_target_protections": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CreateOnchainTargetProtectionRequest"
            }
          },
          "extractor_output_ids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Id"
            }
          }
        }
      },
      "CreateWalletRequest": {
        "type": "object",
        "required": ["owner_address", "chain_selector"],
        "properties": {
          "owner_address": {
            "$ref": "#/components/schemas/EthAddress"
          },
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "address": {
            "type": "array",
            "description": "ECDSA signer addresses allowed to sign transactions for this wallet. Only required for self-sign organizations.",
            "items": {
              "$ref": "#/components/schemas/EthAddress"
            }
          }
        }
      },
      "CreateWalletsRequest": {
        "type": "object",
        "required": ["wallets"],
        "properties": {
          "wallets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateWalletRequest"
            }
          }
        }
      },
      "CreatedAt": {
        "type": "integer",
        "format": "int64",
        "description": "Timestamp of the creation"
      },
      "Credential": {
        "type": "object",
        "required": [
          "id",
          "credential_type_id",
          "external_unique_id",
          "identity_id",
          "chain_selectors",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "credential_type_id": {
            "$ref": "#/components/schemas/Id"
          },
          "credential_type": {
            "$ref": "#/components/schemas/CredentialType"
          },
          "credential_data": {
            "nullable": true,
            "description": "Validated credential payload JSON when the credential type is linked to a data schema; null otherwise"
          },
          "external_unique_id": {
            "type": "string",
            "description": "External unique identifier for the credential"
          },
          "expires_at": {
            "type": "integer",
            "format": "int64",
            "description": "Expiration timestamp of the credential"
          },
          "identity_id": {
            "$ref": "#/components/schemas/Id"
          },
          "onchain_credentials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainCredential"
            }
          },
          "chain_selectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainSelector"
            }
          },
          "archived_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp when the credential was archived (null if not archived)"
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          }
        }
      },
      "CredentialRegistry": {
        "type": "object",
        "required": [
          "id",
          "address",
          "name",
          "description",
          "created_at",
          "updated_at",
          "org_id",
          "chain_selector",
          "registry_id",
          "status"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "address": {
            "$ref": "#/components/schemas/EthAddress"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the credential registry"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the credential registry"
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          },
          "org_id": {
            "$ref": "#/components/schemas/OrgId"
          },
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "registry_id": {
            "$ref": "#/components/schemas/Id"
          },
          "status": {
            "$ref": "#/components/schemas/RegistryStatus"
          }
        }
      },
      "CredentialStatus": {
        "type": "string",
        "description": "Status of the credential (active or archived)",
        "enum": ["active", "archived"]
      },
      "CredentialType": {
        "type": "object",
        "required": [
          "id",
          "registry_id",
          "title",
          "credential_type_hash",
          "chain_selectors",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "registry_id": {
            "$ref": "#/components/schemas/Id"
          },
          "title": {
            "type": "string",
            "description": "Title of the credential type"
          },
          "description": {
            "type": "string",
            "description": "Description of the credential type"
          },
          "credential_type": {
            "type": "string",
            "description": "Type of the credential (e.g., \"common.KYC\")"
          },
          "credential_type_hash": {
            "type": "string",
            "description": "Hash of the credential type"
          },
          "archived_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp when archived (null if not archived)",
            "nullable": true
          },
          "chain_selectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainSelector"
            }
          },
          "data_schema": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/CredentialTypeEmbeddedDataSchema"
              }
            ]
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          }
        }
      },
      "CredentialTypeEmbeddedDataSchema": {
        "type": "object",
        "description": "Data schema linked to a credential type for credential payload validation",
        "required": ["id", "name", "description", "schema"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "schema": {
            "$ref": "#/components/schemas/PolicyConfigSchema"
          }
        }
      },
      "CredentialTypePatchStatus": {
        "type": "string",
        "description": "Status for credential type PATCH (archive only)",
        "enum": ["archived"]
      },
      "DataValidator": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "data_validator_implementation_id",
          "onchain_configs",
          "chain_selectors"
        ],
        "description": "A data validator instance (deployment aggregate across chains).",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "data_validator_implementation_id": {
            "$ref": "#/components/schemas/Id"
          },
          "onchain_configs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataValidatorOnchainConfig"
            }
          },
          "onchain_data_validators": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainDataValidatorInstance"
            },
            "description": "Deprecated — prefer onchain_configs for config grouping; retained for backward compatibility."
          },
          "chain_selectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainSelector"
            }
          },
          "ongoing_config_changes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OngoingConfigChange"
            }
          },
          "archived_at": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "Unix timestamp when archived"
          }
        }
      },
      "DataValidatorOnchainConfig": {
        "type": "object",
        "required": ["id", "chain_selectors", "config_json"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id",
            "description": "Data validator config log ID"
          },
          "chain_selectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainSelector"
            },
            "description": "Chain selectors sharing this config log"
          },
          "config_json": {
            "type": "object",
            "additionalProperties": true,
            "description": "Configuration JSON for this log"
          }
        }
      },
      "DataValidatorPatchStatus": {
        "type": "string",
        "description": "PATCH body for archiving a data validator instance",
        "enum": ["archived"]
      },
      "EthAddress": {
        "type": "string",
        "pattern": "^0x[a-fA-F0-9]{40}$",
        "description": "Ethereum address"
      },
      "Extractor": {
        "type": "object",
        "required": [
          "id",
          "name",
          "supported_function_signatures",
          "chain_selectors",
          "outputs",
          "assigned_contract_types",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the extractor"
          },
          "org_id": {
            "$ref": "#/components/schemas/OrgId"
          },
          "supported_function_signatures": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Function signatures that the extractor supports"
          },
          "outputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExtractorOutput"
            }
          },
          "onchain_extractors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainExtractor"
            }
          },
          "chain_selectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainSelector"
            }
          },
          "assigned_contract_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContractTypeSummary"
            },
            "description": "Contract types that use this extractor"
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          },
          "archived_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp when archived (null if not archived)",
            "nullable": true
          }
        }
      },
      "ExtractorOutput": {
        "type": "object",
        "required": ["id", "extractor_id", "name", "type", "created_at", "updated_at"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "extractor_id": {
            "$ref": "#/components/schemas/Id"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the extractor output"
          },
          "type": {
            "type": "string",
            "description": "Type of the extractor output, e.g. \"address\", \"uint256\", \"bytes32\""
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          }
        }
      },
      "ExtractorOutputInput": {
        "type": "object",
        "required": ["name", "type"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name of the extractor output"
          },
          "type": {
            "type": "string",
            "description": "Type of the extractor output, e.g. \"address\", \"uint256\", \"bytes32\""
          }
        }
      },
      "ExtractorPatchStatus": {
        "type": "string",
        "description": "Status for extractor PATCH (archive only)",
        "enum": ["archived"]
      },
      "ExtractorRegistration": {
        "type": "object",
        "required": [
          "id",
          "extractor_id",
          "policy_engine_id",
          "onchain_extractor_registrations",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "extractor_id": {
            "$ref": "#/components/schemas/Id"
          },
          "policy_engine_id": {
            "$ref": "#/components/schemas/Id"
          },
          "onchain_extractor_registrations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainExtractorRegistration"
            }
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          }
        }
      },
      "HealthCheck": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "ok"
          }
        },
        "required": ["status"]
      },
      "Id": {
        "type": "string",
        "format": "uuid",
        "description": "ID"
      },
      "Identity": {
        "type": "object",
        "required": ["id", "title", "ccid", "chain_selectors", "created_at", "updated_at"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "title": {
            "type": "string",
            "description": "Human-readable title of the identity"
          },
          "description": {
            "type": "string",
            "description": "Description of the identity"
          },
          "entity_id": {
            "type": "string",
            "description": "Entity ID of the identity"
          },
          "ccid": {
            "type": "string",
            "description": "CCID of the identity"
          },
          "registryId": {
            "$ref": "#/components/schemas/Id"
          },
          "onchain_identities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainIdentity"
            }
          },
          "chain_selectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainSelector"
            }
          },
          "archived_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp when the identity was archived (null if not archived)"
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          }
        }
      },
      "IdentityPatchStatus": {
        "type": "string",
        "description": "Status for identity PATCH (archive only)",
        "enum": ["archived"]
      },
      "IdentityRegistry": {
        "type": "object",
        "required": [
          "id",
          "address",
          "name",
          "description",
          "created_at",
          "updated_at",
          "org_id",
          "chain_selector",
          "registry_id",
          "status"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "address": {
            "$ref": "#/components/schemas/EthAddress"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the identity registry"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the identity registry"
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          },
          "org_id": {
            "$ref": "#/components/schemas/OrgId"
          },
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "registry_id": {
            "$ref": "#/components/schemas/Id"
          },
          "status": {
            "$ref": "#/components/schemas/RegistryStatus"
          }
        }
      },
      "IdentityStatus": {
        "type": "string",
        "description": "Status of the identity",
        "enum": ["creation_pending", "creation_failed", "created", "removal_pending", "removal_failed", "removed"]
      },
      "JsonPatchOperation": {
        "type": "object",
        "required": ["op", "path"],
        "properties": {
          "op": {
            "type": "string",
            "description": "JSON Patch operation type",
            "enum": ["add", "remove", "replace", "move", "copy", "test"]
          },
          "path": {
            "type": "string",
            "description": "JSON pointer path to patch (RFC 6902)"
          },
          "value": {
            "description": "Value for the operation (can be any JSON type: string, number, boolean, object, array, or null)",
            "nullable": true
          },
          "from": {
            "type": "string",
            "description": "Source path for move/copy operations (RFC 6902)"
          }
        }
      },
      "ListCredentialTypesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListResponseData"
          },
          {
            "type": "object",
            "required": ["credential_types"],
            "properties": {
              "credential_types": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CredentialType"
                }
              }
            }
          }
        ]
      },
      "ListCredentialsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListResponseData"
          },
          {
            "type": "object",
            "required": ["credentials"],
            "properties": {
              "credentials": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          }
        ]
      },
      "ListDataValidatorsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListResponseData"
          },
          {
            "type": "object",
            "properties": {
              "data_validators": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DataValidator"
                }
              }
            }
          }
        ]
      },
      "ListExtractorsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListResponseData"
          },
          {
            "type": "object",
            "required": ["extractors"],
            "properties": {
              "extractors": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Extractor"
                }
              }
            }
          }
        ]
      },
      "ListIdentitiesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListResponseData"
          },
          {
            "type": "object",
            "required": ["identities"],
            "properties": {
              "identities": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Identity"
                }
              }
            }
          }
        ]
      },
      "ListNetworksResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListResponseData"
          },
          {
            "type": "object",
            "required": ["networks"],
            "properties": {
              "networks": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Network"
                }
              }
            }
          }
        ]
      },
      "ListOffchainPolicyProtectionsResponse": {
        "type": "object",
        "required": ["protections", "total", "total_pages", "page"],
        "properties": {
          "protections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OffchainPolicyProtectionResponse"
            }
          },
          "total": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          }
        }
      },
      "ListPoliciesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListResponseData"
          },
          {
            "type": "object",
            "properties": {
              "policies": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AnyPolicyResponse"
                }
              }
            }
          }
        ]
      },
      "ListPolicyEnginesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListResponseData"
          },
          {
            "type": "object",
            "required": ["policy_engines"],
            "properties": {
              "policy_engines": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PolicyEngine"
                }
              }
            }
          }
        ]
      },
      "ListPolicyImplementationsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListResponseData"
          },
          {
            "type": "object",
            "required": ["implementations"],
            "properties": {
              "implementations": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AnyPolicyImplementationResponse"
                }
              }
            }
          }
        ]
      },
      "ListRegistriesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListResponseData"
          },
          {
            "type": "object",
            "required": ["registries"],
            "properties": {
              "registries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Registry"
                }
              }
            }
          }
        ]
      },
      "ListRegistryAccessGrantsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListResponseData"
          },
          {
            "type": "object",
            "required": ["access_grants"],
            "properties": {
              "access_grants": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RegistryAccessGrant"
                }
              }
            }
          }
        ]
      },
      "ListResponseData": {
        "type": "object",
        "required": ["total", "total_pages", "page"],
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of items"
          },
          "total_pages": {
            "type": "integer",
            "description": "Total number of pages"
          },
          "page": {
            "type": "integer",
            "description": "Current page"
          }
        }
      },
      "ListTargetProtectionsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListResponseData"
          },
          {
            "type": "object",
            "required": ["target_protections"],
            "properties": {
              "target_protections": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TargetProtection"
                }
              }
            }
          }
        ]
      },
      "ListTargetsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListResponseData"
          },
          {
            "type": "object",
            "required": ["targets"],
            "properties": {
              "targets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Target"
                }
              }
            }
          }
        ]
      },
      "ListWalletsResponse": {
        "type": "object",
        "required": ["wallets"],
        "properties": {
          "wallets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Wallet"
            }
          }
        }
      },
      "MergeTargetRequest": {
        "type": "object",
        "required": ["source_target_ids"],
        "properties": {
          "source_target_ids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Id"
            },
            "minItems": 1,
            "description": "The IDs of the source targets whose onchain targets will be transferred to the destination target."
          }
        }
      },
      "Network": {
        "type": "object",
        "required": [
          "id",
          "name",
          "chain_id",
          "chain_selector",
          "chain_family",
          "is_testnet",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the network"
          },
          "chain_id": {
            "type": "string",
            "description": "Chain ID of the network"
          },
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "chain_family": {
            "type": "string",
            "description": "Chain family of the network"
          },
          "is_testnet": {
            "type": "boolean",
            "description": "Whether this network is a testnet (not mainnet)"
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          }
        }
      },
      "OffchainPolicyImplementation": {
        "type": "object",
        "required": ["id", "name", "type", "config", "created_at", "updated_at"],
        "properties": {
          "policy_kind": {
            "type": "string",
            "enum": ["offchain"],
            "description": "Discriminator identifying this as an offchain policy implementation"
          },
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Unique managed policy type identifier, for example wallet_risk_scoring"
          },
          "config": {
            "type": "object",
            "additionalProperties": true,
            "description": "Implementation config including provider, provider_url, and config_schema"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OffchainPolicyProtectionResponse": {
        "type": "object",
        "required": ["id", "offchain_policy_id", "function_signature", "function_selector", "status", "created_at"],
        "properties": {
          "id": {
            "type": "string"
          },
          "offchain_policy_id": {
            "type": "string"
          },
          "function_signature": {
            "type": "string"
          },
          "function_selector": {
            "type": "string",
            "description": "4-byte hex selector, e.g. \"0xa9059cbb\""
          },
          "status": {
            "type": "string",
            "enum": ["pending", "active", "failed", "removing", "removed"]
          },
          "onchain_target_protections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainTargetProtection"
            },
            "description": "Per-chain status of the addPolicyAt() registration on the PolicyEngine"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OffchainPolicyResponse": {
        "type": "object",
        "required": ["id", "type", "name", "config", "deployment_status", "created_at", "policy_kind"],
        "properties": {
          "policy_kind": {
            "type": "string",
            "enum": ["offchain"],
            "description": "Discriminator identifying this as an offchain policy"
          },
          "id": {
            "type": "string",
            "description": "Policy ID"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "additionalProperties": true
          },
          "policy_engine_id": {
            "type": "string",
            "description": "ID of the onchain PolicyEngine this policy is associated with"
          },
          "policy_implementation_id": {
            "type": "string",
            "description": "ID of the offchain policy implementation (template) used to create this policy"
          },
          "action_validators": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActionValidatorResponse"
            },
            "description": "Per-chain CADV deployment info (chain selector + contract address). Populated once deployment_status is active."
          },
          "deployment_status": {
            "type": "string",
            "enum": ["pending", "deploying", "active", "failed", "removing", "removed", "config_updating"]
          },
          "workflow_id": {
            "type": "string"
          },
          "workflow_name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OnChainCredentialStatus": {
        "type": "string",
        "description": "Status of the onchain credential\n",
        "enum": [
          "creation_pending",
          "creation_failed",
          "created",
          "update_pending",
          "update_failed",
          "removal_pending",
          "removal_failed",
          "removed"
        ]
      },
      "OnchainConfig": {
        "type": "object",
        "required": ["id", "chain_selectors", "config_json"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id",
            "description": "Policy config log ID"
          },
          "chain_selectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainSelector"
            },
            "description": "Array of chain selectors that use this config"
          },
          "config_json": {
            "type": "object",
            "additionalProperties": true,
            "description": "The policy configuration as JSON"
          }
        }
      },
      "OnchainCredential": {
        "type": "object",
        "required": ["id", "chain_selector", "status"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "status": {
            "$ref": "#/components/schemas/OnChainCredentialStatus"
          },
          "expires_at": {
            "type": "integer",
            "format": "int64",
            "description": "Expiration timestamp of the credential"
          }
        }
      },
      "OnchainDataValidatorInstance": {
        "type": "object",
        "required": ["id", "chain_selector", "data_validator_config_version", "status"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "address": {
            "$ref": "#/components/schemas/EthAddress"
          },
          "data_validator_config_version": {
            "type": "string",
            "format": "uint64",
            "description": "Version of the data validator configuration on-chain"
          },
          "status": {
            "$ref": "#/components/schemas/OnchainDataValidatorInstanceStatus"
          }
        }
      },
      "OnchainDataValidatorInstanceStatus": {
        "type": "string",
        "description": "Status of an on-chain data validator deployment",
        "enum": ["creation_pending", "creation_failed", "created", "update_pending", "update_failed"]
      },
      "OnchainExtractor": {
        "type": "object",
        "required": ["id", "extractor_id", "chain_selector", "address", "created_at", "updated_at"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "extractor_id": {
            "$ref": "#/components/schemas/Id"
          },
          "chain_selector": {
            "type": "string",
            "description": "Chain selector"
          },
          "address": {
            "type": "string",
            "description": "Ethereum address"
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          }
        }
      },
      "OnchainExtractorInput": {
        "type": "object",
        "required": ["chain_selector", "address"],
        "properties": {
          "chain_selector": {
            "type": "string",
            "description": "Chain selector"
          },
          "address": {
            "type": "string",
            "description": "Ethereum address"
          }
        }
      },
      "OnchainExtractorRegistration": {
        "type": "object",
        "required": ["id", "chain_selector", "status", "created_at", "updated_at"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "status": {
            "$ref": "#/components/schemas/OnchainStatus"
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          }
        }
      },
      "OnchainIdentity": {
        "type": "object",
        "required": ["id", "chain_selector", "identity_id", "address", "status", "created_at", "updated_at"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "identity_id": {
            "$ref": "#/components/schemas/Id"
          },
          "address": {
            "$ref": "#/components/schemas/EthAddress"
          },
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "status": {
            "$ref": "#/components/schemas/IdentityStatus"
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          }
        }
      },
      "OnchainIdentityInput": {
        "type": "object",
        "required": ["chain_selector", "address"],
        "properties": {
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "address": {
            "$ref": "#/components/schemas/EthAddress"
          }
        }
      },
      "OnchainPolicyEngine": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "address": {
            "$ref": "#/components/schemas/EthAddress"
          },
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "status": {
            "$ref": "#/components/schemas/OnchainPolicyEngineStatus"
          }
        },
        "required": ["id", "address", "chain_selector", "status"]
      },
      "OnchainPolicyEngineInput": {
        "type": "object",
        "properties": {
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          }
        },
        "required": ["chain_selector"]
      },
      "OnchainPolicyEngineStatus": {
        "type": "string",
        "description": "Status of the onchain policy engine",
        "enum": ["creation_pending", "creation_failed", "created"]
      },
      "OnchainPolicyImplementation": {
        "type": "object",
        "required": ["chain_selector", "address"],
        "properties": {
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "address": {
            "$ref": "#/components/schemas/EthAddress"
          }
        }
      },
      "OnchainPolicyInstance": {
        "type": "object",
        "required": ["id", "chain_selector", "policy_config_version", "out_of_sync", "status"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "address": {
            "$ref": "#/components/schemas/EthAddress"
          },
          "policy_config_version": {
            "type": "string",
            "format": "uint64",
            "description": "Version of the policy configuration"
          },
          "out_of_sync": {
            "type": "boolean",
            "description": "Whether the policy configuration is out of sync due to an external configuration change"
          },
          "status": {
            "$ref": "#/components/schemas/OnchainPolicyInstanceStatus"
          }
        }
      },
      "OnchainPolicyInstanceStatus": {
        "type": "string",
        "description": "Status of the onchain policy instance",
        "enum": ["creation_pending", "creation_failed", "created", "update_pending", "update_failed"]
      },
      "OnchainStatus": {
        "type": "string",
        "description": "Status of the onchain entity",
        "enum": ["active", "inactive"]
      },
      "OnchainTarget": {
        "type": "object",
        "required": ["id", "chain_selector", "address"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "address": {
            "$ref": "#/components/schemas/EthAddress"
          },
          "default_allow": {
            "type": "boolean",
            "description": "Default policy allow state on chain",
            "default": true
          }
        }
      },
      "OnchainTargetProtection": {
        "type": "object",
        "required": ["id", "chain_selector"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "position": {
            "type": "integer",
            "description": "Position of the target protection in for this specific chain"
          },
          "status": {
            "$ref": "#/components/schemas/TargetProtectionStatus"
          }
        }
      },
      "OngoingConfigChange": {
        "type": "object",
        "required": ["chain_selectors", "patches"],
        "properties": {
          "chain_selectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainSelector"
            },
            "description": "Array of chain selectors for this configuration change"
          },
          "patches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonPatchOperation"
            },
            "description": "Array of JSON patch operations to apply"
          }
        }
      },
      "OrgId": {
        "type": "string",
        "description": "Organization ID (e.g. from CRE). Alphanumeric and limited symbols, max 100 characters.",
        "pattern": "^[a-zA-Z0-9._-]{1,100}$"
      },
      "PatchCredentialRequest": {
        "type": "object",
        "description": "Either status (to archive) OR update fields (external_unique_id, expires_at). Mutually exclusive.\n- If status is passed, other fields must not be passed (400).\n- If status=archived and credential is already archived, returns 400.\n- Only status=archived triggers archive; status=active is invalid for PATCH.\n- If external_unique_id or expires_at are set, reuses update logic.\n",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/CredentialStatus",
            "description": "Set to \"archived\" to archive. Mutually exclusive with update fields."
          },
          "external_unique_id": {
            "type": "string",
            "description": "External unique identifier. Mutually exclusive with status."
          },
          "expires_at": {
            "type": "integer",
            "format": "int64",
            "description": "Expiration timestamp. Mutually exclusive with status."
          }
        }
      },
      "PatchCredentialTypeRequest": {
        "type": "object",
        "description": "Either status (to archive) OR update fields (title, description). Mutually exclusive.\n- If status is passed, other fields must not be passed (400).\n- If status=archived and credential type is already archived, returns 400.\n- Only status=archived triggers archive.\n- If title or description are set, internally calls UpdateCredentialType (PUT).\n",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/CredentialTypePatchStatus",
            "description": "Set to \"archived\" to archive. Mutually exclusive with update fields."
          },
          "title": {
            "type": "string",
            "description": "Human-readable title. Mutually exclusive with status."
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the credential type. Mutually exclusive with status."
          }
        }
      },
      "PatchDataValidatorConfigsRequest": {
        "type": "object",
        "properties": {
          "patches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonPatchOperation"
            },
            "description": "JSON Patch operations (RFC 6902)"
          },
          "on_chains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConfigureDataValidatorChains"
            },
            "description": "Chains to apply patches on (must include at least one entry)"
          }
        }
      },
      "PatchDataValidatorRequest": {
        "type": "object",
        "required": ["status"],
        "properties": {
          "status": {
            "$ref": "#/components/schemas/DataValidatorPatchStatus"
          }
        }
      },
      "PatchExtractorRequest": {
        "type": "object",
        "required": ["status"],
        "description": "Set status to \"archived\" to archive the extractor.",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/ExtractorPatchStatus",
            "description": "Set to \"archived\" to archive."
          }
        }
      },
      "PatchIdentityRequest": {
        "type": "object",
        "description": "Either status (to archive) OR update fields (title, description, onchain_identities). Mutually exclusive.\n- If status is passed, other fields must not be passed (400).\n- If status=archived and identity is already archived, returns 400.\n- Only status=archived triggers archive.\n- If title, description, or onchain_identities are set, internally calls UpdateIdentity (PUT).\n",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/IdentityPatchStatus",
            "description": "Set to \"archived\" to archive. Mutually exclusive with update fields."
          },
          "title": {
            "type": "string",
            "description": "Human-readable title. Mutually exclusive with status."
          },
          "description": {
            "type": "string",
            "description": "Description of the identity. Mutually exclusive with status."
          },
          "onchain_identities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainIdentityInput"
            },
            "description": "Onchain identities to register. Mutually exclusive with status."
          }
        }
      },
      "PatchPolicyConfigsRequest": {
        "type": "object",
        "properties": {
          "patches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonPatchOperation"
            },
            "description": "Array of JSON Patch operations to apply"
          },
          "apply_onchain_policies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplyOnchainPolicy"
            },
            "description": "Array of onchain policies to apply the patches to"
          }
        }
      },
      "PatchPolicyEngineRequest": {
        "type": "object",
        "required": ["status"],
        "description": "Set status to \"archived\" to archive the policy engine.",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/PolicyEnginePatchStatus",
            "description": "Set to \"archived\" to archive."
          }
        }
      },
      "PatchPolicyImplementationRequest": {
        "type": "object",
        "required": ["status"],
        "description": "Set status to \"archived\" to archive the policy implementation.",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/PolicyImplementationPatchStatus",
            "description": "Set to \"archived\" to archive."
          }
        }
      },
      "PatchPolicyRequest": {
        "type": "object",
        "required": ["status"],
        "description": "Set status to \"archived\" to archive the policy. Use policy_kind to distinguish onchain (default) from offchain policies.",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/PolicyPatchStatus",
            "description": "Set to \"archived\" to archive."
          },
          "policy_kind": {
            "type": "string",
            "enum": ["onchain", "offchain"],
            "description": "Kind of policy to archive. Defaults to \"onchain\" if omitted."
          }
        }
      },
      "PatchRegistryAccessGrantRequest": {
        "type": "object",
        "required": ["status"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["revoked"],
            "description": "Target status. Currently only \"revoked\" is accepted."
          }
        }
      },
      "PatchRegistryRequest": {
        "type": "object",
        "required": ["status"],
        "description": "Set status to \"archived\" to archive the registry.",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/RegistryPatchStatus",
            "description": "Set to \"archived\" to archive."
          }
        }
      },
      "PatchTargetProtectionRequest": {
        "type": "object",
        "required": ["status"],
        "description": "Set status to \"archived\" to archive the target protection.",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/TargetProtectionPatchStatus",
            "description": "Set to \"archived\" to archive."
          }
        }
      },
      "PatchTargetRequest": {
        "type": "object",
        "required": ["status"],
        "description": "Set status to \"archived\" to archive the target.",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/TargetPatchStatus",
            "description": "Set to \"archived\" to archive."
          }
        }
      },
      "Policy": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "policy_engine_id",
          "onchain_configs",
          "chain_selectors",
          "policy_kind"
        ],
        "properties": {
          "policy_kind": {
            "type": "string",
            "enum": ["onchain"],
            "description": "Discriminator identifying this as an onchain policy"
          },
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the policy instance"
          },
          "description": {
            "type": "string",
            "description": "Description of the policy instance"
          },
          "policy_implementation_id": {
            "$ref": "#/components/schemas/Id"
          },
          "policy_implementation_name": {
            "type": "string",
            "description": "Human-readable name of the policy implementation"
          },
          "policy_engine_id": {
            "$ref": "#/components/schemas/Id"
          },
          "onchain_configs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainConfig"
            },
            "description": "Array of onchain configurations grouped by config log ID"
          },
          "onchain_policies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainPolicyInstance"
            },
            "description": "Deprecated - use onchain_configs instead"
          },
          "chain_selectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainSelector"
            }
          },
          "ongoing_config_changes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OngoingConfigChange"
            },
            "description": "Array of ongoing configuration changes"
          },
          "archived_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp when archived (null if not archived)",
            "nullable": true
          }
        }
      },
      "PolicyConfigSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContractConfigSchema"
          }
        ],
        "description": "JSON Schema draft-07 document defining the configurable parameters of this policy\nimplementation.\n"
      },
      "PolicyEngine": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the policy engine"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the policy engine"
          },
          "type": {
            "$ref": "#/components/schemas/PolicyEngineType"
          },
          "onchain_policy_engines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainPolicyEngine"
            }
          },
          "chain_selectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainSelector"
            }
          },
          "extractor_registrations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExtractorRegistration"
            }
          },
          "contract_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContractTypeSummary"
            }
          },
          "archived_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp when archived (null if not archived)",
            "nullable": true
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          }
        },
        "required": ["id", "name", "type", "chain_selectors", "created_at", "updated_at"]
      },
      "PolicyEnginePatchStatus": {
        "type": "string",
        "description": "Status for policy engine PATCH (archive only)",
        "enum": ["archived"]
      },
      "PolicyEngineType": {
        "type": "string",
        "description": "Type of the policy engine",
        "enum": ["standard", "system"]
      },
      "PolicyImplementation": {
        "type": "object",
        "properties": {
          "policy_kind": {
            "type": "string",
            "enum": ["onchain"],
            "description": "Discriminator identifying this as an onchain policy implementation"
          },
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the policy implementation"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the policy implementation"
          },
          "type": {
            "$ref": "#/components/schemas/PolicyImplementationType"
          },
          "policy_config_schema": {
            "$ref": "#/components/schemas/PolicyConfigSchema"
          },
          "onchain_policy_implementations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainPolicyImplementation"
            }
          },
          "chain_selectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainSelector"
            }
          },
          "parameters": {
            "type": "array",
            "description": "Processed policy run parameters with server-generated fields",
            "items": {
              "$ref": "#/components/schemas/PolicyRunParametersResponse"
            }
          },
          "archived_at": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "Unix timestamp when archived; null if not archived"
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of the creation"
          },
          "updated_at": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of the last update"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "type",
          "policy_config_schema",
          "chain_selectors",
          "parameters",
          "created_at",
          "updated_at"
        ]
      },
      "PolicyImplementationPatchStatus": {
        "type": "string",
        "description": "Status for policy implementation PATCH (archive only)",
        "enum": ["archived"]
      },
      "PolicyImplementationType": {
        "type": "string",
        "description": "Type of the policy implementation; system types are predefined, custom for user-defined.",
        "enum": [
          "allow",
          "bypass",
          "certified_action_don_validator",
          "grouped_identity_validator",
          "identity_validator",
          "interval",
          "max",
          "only_authorized_sender",
          "pause",
          "reject",
          "role_based_access_control",
          "secure_mint",
          "volume",
          "volume_rate",
          "custom"
        ]
      },
      "PolicyPatchStatus": {
        "type": "string",
        "description": "Status for policy PATCH (archive only)",
        "enum": ["archived"]
      },
      "PolicyRunParametersResponse": {
        "type": "object",
        "description": "Policy parameter with server-generated fields (used in responses)",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the policy parameter"
          },
          "type": {
            "type": "string",
            "description": "Type of the policy parameter"
          },
          "position": {
            "type": "integer",
            "description": "Position of the policy parameter"
          },
          "max": {
            "type": "integer",
            "description": "Maximum number of values"
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of the creation"
          },
          "updated_at": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of the last update"
          }
        },
        "required": ["id", "name", "type", "position", "max", "created_at", "updated_at"]
      },
      "RegisterCredentialRequest": {
        "type": "object",
        "required": ["credential_type_id", "identity_id"],
        "properties": {
          "credential_type_id": {
            "$ref": "#/components/schemas/Id"
          },
          "credential_data": {
            "description": "Required when the credential type is linked to a data schema (JSON object or array per data schema)"
          },
          "external_unique_id": {
            "type": "string",
            "description": "External unique identifier for the credential"
          },
          "expires_at": {
            "type": "integer",
            "format": "int64",
            "description": "Expiration timestamp of the credential"
          },
          "identity_id": {
            "$ref": "#/components/schemas/Id"
          }
        }
      },
      "RegisterCredentialTypeRequest": {
        "type": "object",
        "required": ["registry_id", "title", "credential_type"],
        "properties": {
          "registry_id": {
            "$ref": "#/components/schemas/Id"
          },
          "title": {
            "type": "string",
            "description": "Human-readable title of the credential type"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the credential type"
          },
          "credential_type": {
            "type": "string",
            "description": "Type of the credential (e.g., \"common.KYC\")"
          },
          "data_schema_id": {
            "$ref": "#/components/schemas/Id",
            "description": "Optional shared or org-scoped data schema used to validate credential payload data"
          }
        }
      },
      "RegisterOnchainTargetRequest": {
        "type": "object",
        "required": ["chain_selector", "address"],
        "properties": {
          "chain_selector": {
            "$ref": "#/components/schemas/ChainSelector"
          },
          "address": {
            "$ref": "#/components/schemas/EthAddress"
          }
        }
      },
      "RegisterPolicyImplementationRequest": {
        "type": "object",
        "required": ["name", "description", "policy_config_schema"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name of the policy implementation"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the policy implementation"
          },
          "policy_config_schema": {
            "$ref": "#/components/schemas/PolicyConfigSchema"
          },
          "onchain_policy_implementations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainPolicyImplementation"
            }
          }
        }
      },
      "RegisterTargetRequest": {
        "type": "object",
        "required": ["title", "policy_engine_id"],
        "properties": {
          "title": {
            "type": "string",
            "description": "Human-readable title of the target"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the target"
          },
          "policy_engine_id": {
            "$ref": "#/components/schemas/Id"
          },
          "protected_methods": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Protected methods of the target"
          },
          "contract_type_ids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Id"
            }
          },
          "onchain_targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RegisterOnchainTargetRequest"
            }
          },
          "desired_default_allow": {
            "type": "boolean",
            "description": "Whether to allow transactions by default if no policy explicitly returns an Allow or Reject. Defaults to true.",
            "default": true
          },
          "metadata": {
            "type": "object",
            "description": "JSON metadata associated with the target",
            "additionalProperties": true
          }
        }
      },
      "Registry": {
        "type": "object",
        "required": ["id", "name", "description", "org_id", "created_at", "updated_at", "chain_selectors", "mode"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "name": {
            "type": "string",
            "description": "Name of the registry"
          },
          "description": {
            "type": "string",
            "description": "Description of the registry"
          },
          "org_id": {
            "$ref": "#/components/schemas/OrgId"
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          },
          "identity_registries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IdentityRegistry"
            },
            "description": "List of identity registries associated with this registry"
          },
          "credential_registries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CredentialRegistry"
            },
            "description": "List of credential registries associated with this registry"
          },
          "chain_selectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainSelector"
            }
          },
          "mode": {
            "$ref": "#/components/schemas/RegistryMode"
          },
          "archived_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp when archived (null if not archived)",
            "nullable": true
          },
          "access_type": {
            "type": "string",
            "enum": ["owned", "granted"],
            "description": "Whether the caller owns this registry or has been granted access by another org. Only present when the caller is a grantee or when include_granted=true is used on the list endpoint.",
            "nullable": true
          }
        }
      },
      "RegistryAccessGrant": {
        "type": "object",
        "required": ["id", "grantee_org_id", "grantor_org_id", "status", "granted_at"],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "grantee_org_id": {
            "$ref": "#/components/schemas/OrgId"
          },
          "grantor_org_id": {
            "$ref": "#/components/schemas/OrgId"
          },
          "status": {
            "type": "string",
            "enum": ["active", "revoked"],
            "description": "Current status of the access grant"
          },
          "granted_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp when the grant was created"
          },
          "revoked_at": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "Unix timestamp when the grant was revoked, null if still active"
          }
        }
      },
      "RegistryMode": {
        "type": "string",
        "description": "Mode of the registry",
        "enum": ["managed", "read_only"]
      },
      "RegistryPatchStatus": {
        "type": "string",
        "description": "Status for registry PATCH (archive only)",
        "enum": ["archived"]
      },
      "RegistryStatus": {
        "type": "string",
        "description": "Status of the registry",
        "enum": ["creation_pending", "creation_failed", "created"]
      },
      "SigningMode": {
        "type": "string",
        "description": "Signing mode for onchain operations.\n- delegated: ACE signs operations using a delegated key (default; existing behavior).\n- self_sign: ACE creates unsigned operation drafts; the tenant signs and finalizes directly with CREC.\nImmutable after org creation.\n",
        "enum": ["delegated", "self_sign"]
      },
      "Target": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "title": {
            "type": "string",
            "description": "Human-readable title of the target"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the target"
          },
          "policy_engine_id": {
            "$ref": "#/components/schemas/Id"
          },
          "protected_methods": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Protected methods of the target"
          },
          "contract_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContractType"
            }
          },
          "onchain_targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainTarget"
            }
          },
          "chain_selectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainSelector"
            }
          },
          "desired_default_allow": {
            "type": "boolean",
            "description": "Whether to allow transactions by default if no policy explicitly returns an Allow or Reject. Defaults to true.",
            "default": true
          },
          "metadata": {
            "type": "object",
            "description": "JSON metadata associated with the target",
            "additionalProperties": true
          },
          "archived_at": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "Unix timestamp when archived; null if not archived"
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          },
          "owner_org_id": {
            "$ref": "#/components/schemas/OrgId",
            "description": "Owning organization. Present when include_granted=true; for granted targets this is the grantor org."
          },
          "access_type": {
            "type": "string",
            "enum": ["owned", "granted"],
            "description": "Whether the caller owns this target or has been granted evaluation access. Only present when include_granted=true."
          }
        },
        "required": [
          "id",
          "title",
          "description",
          "policy_engine_id",
          "protected_methods",
          "desired_default_allow",
          "chain_selectors",
          "created_at",
          "updated_at"
        ]
      },
      "TargetPatchStatus": {
        "type": "string",
        "description": "Status for target PATCH (archive only)",
        "enum": ["archived"]
      },
      "TargetProtection": {
        "type": "object",
        "required": [
          "id",
          "function_selector",
          "target_id",
          "policy_instance_id",
          "chain_selectors",
          "extractor_output_ids",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "function_signature": {
            "type": "string",
            "description": "Function signature of the target protection"
          },
          "function_selector": {
            "type": "string",
            "description": "Function selector of the target protection"
          },
          "target_id": {
            "$ref": "#/components/schemas/Id"
          },
          "policy_instance_id": {
            "$ref": "#/components/schemas/Id"
          },
          "desired_position": {
            "type": "integer",
            "description": "Desired position of the target protection"
          },
          "onchain_target_protections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnchainTargetProtection"
            }
          },
          "chain_selectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainSelector"
            }
          },
          "extractor_output_ids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Id"
            }
          },
          "created_at": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "updated_at": {
            "$ref": "#/components/schemas/UpdatedAt"
          },
          "archived_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp when archived (null if not archived)",
            "nullable": true
          }
        }
      },
      "TargetProtectionPatchStatus": {
        "type": "string",
        "description": "Status for target protection PATCH (archive only)",
        "enum": ["archived"]
      },
      "TargetProtectionStatus": {
        "type": "string",
        "description": "Status of the target protection",
        "enum": ["creation_pending", "creation_failed", "created", "removal_pending", "removal_failed", "removed"]
      },
      "UpdateCredentialRequest": {
        "type": "object",
        "required": ["external_unique_id"],
        "properties": {
          "external_unique_id": {
            "type": "string",
            "description": "External unique identifier for the credential"
          },
          "expires_at": {
            "type": "integer",
            "format": "int64",
            "description": "Expiration timestamp of the credential"
          }
        }
      },
      "UpdateCredentialTypeRequest": {
        "type": "object",
        "required": ["title"],
        "properties": {
          "title": {
            "type": "string",
            "description": "Human-readable title of the credential type"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the credential type"
          }
        }
      },
      "UpdateDataValidatorRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "onchain_data_validators": {
            "type": "array",
            "description": "On-chain deployments; each chain_selector may appear at most once",
            "items": {
              "$ref": "#/components/schemas/CreateOnchainDataValidatorRequest"
            }
          }
        }
      },
      "UpdateExtractorRequest": {
        "type": "object",
        "required": ["name", "supported_function_signatures", "outputs"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name of the extractor"
          },
          "supported_function_signatures": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Function signatures that the extractor supports"
          },
          "outputs": {
            "type": "array",
            "items": {
[...]
