.loading-text {
  text-align: center;
}

.table-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.keyhash-radio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.keyhash-radio-container label {
  padding: 0.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.warning-container {
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .keyhash-radio-container {
    flex-direction: row;
    justify-content: center;
  }

  .radio-inputs {
    width: auto;
  }

  .keyhash-radio-container label {
    min-width: 5.7rem;
  }
}
