.table-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
