---
import { Icon } from "~/components"
import { MethodCheckbox } from "./MethodCheckbox"
import { Props } from "astro"
---

<div>
  <MethodCheckbox client:load>
    <Icon type="caution" slot="icon" />
  </MethodCheckbox>
</div>
