.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropInput {
  padding: 16px;
  font-size: 16px;
  border: none;
  border: 2px solid var(--blue-600);
  border-radius: var(--border-radius-primary);
  width: 12.75rem;
  cursor: pointer;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 2px solid var(--blue-600);
  border-radius: var(--border-radius-primary);
}

.dropdown-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: var(--blue-600);
  color: var(--white);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content-container {
  display: flex;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9;
  width: 12.75rem;
}

.dropdown-content a {
  padding: 0.75rem;
  text-decoration: none;
  display: flex;
  cursor: pointer;
}

.dropown-main-menu-content:hover {
  background-color: #ddd;
}

.dropown-main-menu-content img {
  margin-left: 0.5rem;
}

.show {
  display: block;
}

.dropdown-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-left;
}

.dropown-main-menu-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.sub-icon-container {
  top: 20px;
}

.dropdown-sub-menu-content {
  display: hidden;
  flex-grow: 1;
}

.subdropdown-menu-container:hover {
  background-color: #ddd;
}

/* Change color of dropdown links on hover */
.subdropdown-menu-container:hover {
  background-color: #ddd;
}
