.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropInput {
  padding: 16px;
  font-size: 16px;
  border: none;
  border: 2px solid var(--blue-600);
  border-radius: var(--border-radius-primary);
  text-align: center;
}

/* .dropInput:hover,
.dropInput:focus {
  background-color: var(--blue-600);
  color: var(--white);
} */

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 2px solid var(--blue-600);
  border-radius: var(--border-radius-primary);
}

.dropdown-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: var(--blue-600);
  color: var(--white);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content-container {
  display: flex;
  justify-content: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
  width: 100%;
}

.dropdown-item-container {
  display: flex;
  flex-direction: row;
}

.droprown-main-menu-content {
  display: flex;
  flex-direction: row;
}

.sub-icon-container {
  top: 20px;
}

.dropdown-sub-menu-content {
  display: hidden;
}
