---
import { Aside } from "~/components"
import { MethodCheckbox } from "./MethodCheckbox"
import { Props } from "astro"
---

<div>
  <MethodCheckbox client:load>
    <Aside type="caution" slot="aside">
      <p>
        Your chosen gas price is higher than the selected gas lane, which means that the request will not be fulfilled
        until the network gas price goes down to the maximum price for the selected gas lane. The estimated cost shown
        is for informational purposes only.
      </p>
    </Aside>
  </MethodCheckbox>
</div>
