---
import { MethodCheckbox } from "./MethodCheckbox"

const vrfApiBaseUrl =
  import.meta.env.MODE === "production"
    ? import.meta.env.VRF_CALCULATOR_API_URL
    : "http://localhost:3000/api/calculator"
---

<div>
  <MethodCheckbox client:load vrfApiBaseUrl={vrfApiBaseUrl} />
</div>
