.wrapper-container {
  display: flex;
  flex-direction: column;
}

.radio-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.radio-container input {
  margin: 0px;
}
/* For Safari, need to add further space on the left otherwise, it won't align like in Chrome. */
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  .radio-container input {
    margin-left: 2.2rem;
  }
}
