.docsPickerContainer {
  display: flex;
  align-items: center;
  padding-right: var(--space-16x);
  gap: var(--space-2x);
  isolation: isolate;
  z-index: 100;
  position: relative;
  color: var(--blue-800);
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  width: auto;
  height: var(--space-6x);
}

.docsPickerContainer span {
  color: var(--black);

  /* todo: This was manually set on request. Should be changed with Design System */
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.logo {
  width: var(--space-5x);
  height: var(--space-5x);
}

.caret {
  width: var(--space-4x);
  height: var(--space-4x);
  border-radius: 50%;
  position: absolute;
  right: var(--space-4x);
  display: flex;
  align-items: center;
  justify-content: center;
}

.caret span {
  width: var(--space-2x);
  height: var(--space-2x);
  border-right: 2px solid var(--gray-600);
  border-bottom: 2px solid var(--gray-600);
  transform: rotate(45deg);
  transition: transform 0.2s ease;
  margin-bottom: 1px;
}

.container:hover {
  border-color: var(--blue-300);
}

.container:hover .caret span {
  transform: rotate(-135deg);
  margin-bottom: -1px;
}

.menu {
  position: absolute;
  display: flex;
  top: 100%;
  left: 0;
  width: 100%;
  background: #ffffff;
  border: 1px solid var(--blue-200);
  border-radius: var(--space-2x);
  box-shadow: var(--space-0x) var(--space-1x) var(--space-2x) rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: all 0.2s ease;
  padding: var(--space-3x) var(--space-4x);
  gap: var(--space-16x);
  width: auto;
}

.menu ul li {
  width: 180px;
}

.icon {
  width: var(--space-5x);
  height: var(--space-5x);
}

.menu ul {
  list-style: none;
  padding: var(--space-2x);
  margin: 0;
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  align-items: center;
  padding: var(--space-3x) var(--space-2x);
  gap: var(--space-2x);
  margin-right: var(--space-2x);

  color: var(--gray-900, #141921);
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.link:hover {
  background: var(--Platform-Navigation-Background-Hover, #f5f7fa);
  border-radius: var(--sapce-2x);
}

.active {
  color: var(--Page-Foreground-Blue, #2e7bff);
}

.divider {
  border-bottom: 1px solid var(--gray-200);
}
