.nav {
  display: none;
  position: sticky;
  top: var(--space-16x);
  background: rgba(250, 250, 251, 0.8);
  padding-top: var(--space-4x);
  padding-bottom: var(--space-4x);
  box-shadow: var(--space-0x) var(--space-1x) var(--space-3x) var(--space-0x) #0000000f;
  border-bottom: 1px solid #ecedef;
  z-index: 5;
  transition: top 0.5s ease;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.hidden {
  top: 0 !important;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: min(calc(1440px - 2 * var(--space-16x)), calc(100% - 2 * var(--space-16x)));
}

.left {
  display: flex;
  gap: var(--space-4x);
  align-items: center;
}

.links {
  display: flex;
  gap: var(--space-4x);
  margin-right: var(--space-2x);
}

.link,
.link span {
  transition: color 0.2s ease;
  font-size: var(--space-4x);
  color: var(--Page-Foreground-Muted, #6c7585);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-0x) var(--space-0x) var(--space-0x) var(--space-2x);
  gap: var(--space-2x);
  font-weight: 600;
}

.link:hover {
  color: var(--blue-600);
}

@media screen and (min-width: 992px) {
  .nav {
    display: block;
  }
}
