.ccip-hero {
  background-color: var(--gray-100);
  border-bottom: 1px solid var(--gray-200);
}

.ccip-hero__heading {
  color: var(--gray-900);
  font-size: 2.5rem;
  margin-bottom: var(--space-6x);
}

.ccip-hero__content {
  padding: var(--space-16x) var(--space-4x);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-4x);
}

@media screen and (max-width: 768px) {
  .ccip-hero__heading {
    font-size: 2rem;
    margin-bottom: var(--space-4x);
  }
}
