.ccip-hero {
  background-color: var(--gray-100);
  border-bottom: 1px solid var(--gray-200);
}

.ccip-hero__heading {
  color: var(--gray-900);
}

.ccip-hero__content {
  padding: var(--space-16x) var(--space-4x);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-4x);
}
