.ccip-hero {
  background-color: var(--gray-100);
}

.ccip-hero__grid {
  width: 100vw;
}

.ccip-hero__heading {
  color: var(--gray-900);
}

.ccip-hero__content {
  padding: var(--space-16x) var(--space-4x);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-4x);
}

.ccip-hero__search {
  background-color: white;

  padding: var(--space-4x);
  display: flex;
  gap: var(--space-4x);
  width: 100%;
  max-width: 640px;
  border: 1px solid var(--gray-200);
  border-radius: var(--space-1x);
}

.ccip-hero__search input {
  padding: 0;
  border: none;
  outline: none;
}
