.segments__container {
  display: flex;

  border: 1px solid #e4e8ed;
  border-radius: 4px;
}

.segments__container a {
  border: none;
  background: none;
  cursor: pointer;
  padding: var(--space-2x) var(--space-4x);
  border-right: 1px solid #e4e8ed;
  color: #6b7c93;
  text-decoration: none;
}

.segments__container a.active {
  background: #f5f7fa;
  color: #0847f7;
}
