/* Callout buttons for Remix and other redirects*/
/* Applies to the first button, then applies different style to n+2 buttons */
.remix-callout {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--space-2x);
  margin-top: var(--space-2x);
}

.remix-callout > a {
  padding: 8px 20px;
  border: 2px solid #375bd2;
  margin: 0;
  border-radius: 6px;
  box-sizing: border-box;
  text-decoration: none !important;
  color: #ffffff !important;
  background-color: #375bd2;
  text-align: center;
  transition: all 0.2s;
}

.remix-callout > a:hover {
  color: #ffffff !important;
  background-color: #1a2b6b;
  border: 2px solid var(--gray-900);
}

.remix-callout > a:active {
  color: #ffffff !important;
  background-color: var(--gray-900);
  border: 2px solid var(--gray-900);
}

.remix-callout > a:nth-of-type(n + 2) {
  color: #375bd2 !important;
  background-color: #ffffff;
}

.remix-callout > a:nth-of-type(n + 2):hover {
  color: #1a2b6b !important;
  background-color: #f5f7fd;
  border: 2px solid #1a2b6b;
}

.remix-callout > a:nth-of-type(n + 2):active {
  color: var(--gray-900) !important;
  background-color: #f5f7fd;
  border: 2px solid var(--gray-900);
}
