.toc {
  position: fixed;
  z-index: 5;
  background-color: #fff;
  width: 100vw;
  box-shadow: 0 0 24px 0 rgba(35, 51, 123, 0.1);
}

.toc[aria-hidden="true"] {
  top: 0;
  transition: top 400ms ease;
}

.toc[aria-hidden="false"] {
  top: var(--theme-navbar-height);
  transition: top 400ms ease;
}

.toc ul {
  overflow-y: auto;
  padding: var(--space-2x) var(--space-4x) var(--space-24x);
  line-height: 1.5;
  list-style-type: none;
  height: calc(100vh - var(--theme-navbar-height) - var(--space-16x));
}

.heightWrapper {
  height: 100vh;
}

.heading {
  display: flex;
  align-items: center;
  gap: var(--space-2x);
  /* TODO: Set height to global token */
  height: var(--space-16x);
  padding: 0 var(--space-4x);
}

.heading button {
  min-width: fit-content;
  padding-left: var(--space-4x);
  padding-right: var(--space-4x);
}

.stickyHeader {
  margin: 0;
  color: var(--color-text-heading);
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.headerLink {
  display: block;
  color: var(--gray-500, #858a95);
  font-size: 16px;
  padding: var(--space-2x) 0;
  padding-left: var(--space-4x);
  border-left: 2px solid var(--theme-divider);
  transition-property: color, border-left-color;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
}

.headerLink.active,
.headerLink:hover,
.headerLink:focus {
  color: var(--blue-600, #375bd2);
  border-left-color: var(--blue-600, #375bd2);
}

.headerLink:focus-within {
  color: var(--theme-text-light);
  border-left-color: hsla(var(--color-gray-40), 1);
}

.headerLink.depth-3 {
  padding-left: var(--space-8x);
}

.headerLink.depth-4 {
  padding-left: var(--space-12x);
}

@media (min-width: 50em) {
  .toc {
    display: none;
  }
}
