.network-card__container {
  display: flex;
  /* flex-direction: column;
align-items: flex-start; */
  padding: 24px;
  gap: 16px;

  background: #ffffff;
  border: 1px solid #e4e8ed;
  border-radius: 4px;
}

.network-card__container:hover {
  background-color: var(--gray-50);
}

.network-card__container img {
  width: 40px;
  height: 40px;
}

.network-card__container h3 {
  font-size: 16px;
  font-weight: 500;
  color: #252e42;
  margin-bottom: 0;
}

.network-card__container p {
  margin-bottom: 0;
  font-size: var(--space-3x);
  color: var(--gray-500);
}
