.token-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
  gap: 16px;

  background: #ffffff;
  border: 1px solid #e4e8ed;
  border-radius: 4px;
}

.token-card__container img {
  width: 40px;
  height: 40px;
}

.token-card__container h3 {
  font-size: 16px;
  font-weight: 500;
  color: #252e42;
}

.truncate {
  white-space: nowrap; /* Prevent the text from wrapping to the next line */
  overflow: hidden; /* Ensure content is clipped within the container */
  text-overflow: ellipsis; /* Add ellipsis (…) when the text is truncated */
  width: 200px; /* Adjust the width as needed */
}
