.token-card__container {
  display: flex;
  width: 100%;
  height: 110px;
  min-width: 110px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--space-4x);
  gap: var(--space-3x);
  background: #ffffff;
  border: 1px solid var(--gray-200);
  border-radius: var(--space-1x);
  justify-content: center;
  cursor: pointer;
}

.token-card__container:hover {
  background-color: var(--gray-50);
}

.token-card__container object,
.token-card__container object img {
  width: var(--space-10x);
  height: var(--space-10x);
  border-radius: 50%;
}

.token-card__container h3 {
  font-size: var(--space-4x);
  font-weight: 500;
  color: var(--gray-950);
  margin-bottom: 0;
}

.truncate {
  white-space: nowrap; /* Prevent the text from wrapping to the next line */
  overflow: hidden; /* Ensure content is clipped within the container */
  text-overflow: ellipsis; /* Add ellipsis (…) when the text is truncated */
  width: 200px; /* Adjust the width as needed */
}

@media (min-width: 992px) {
  .token-card__container {
    height: 124px;
  }
}
