.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-left: 1px solid var(--border);
  border-top: 1px solid var(--border);
  margin: 56px 0;
}

.cardsWrapper h6 {
  font-size: 18px;
  margin-bottom: var(--space-4x);
}

:where(.cardsWrapper p) {
  font-size: 14px;
  line-height: 24px; /* 171.429% */
}

.card {
  padding: var(--space-5x) var(--space-6x);
  background: #fff;
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.card:hover {
  background: var(--gray-100);
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-6x);
  gap: var(--space-4x);
}

.link {
  color: var(--Color-Primary, #0e1119);
  display: flex;
  gap: var(--space-2x);
  align-items: center;
  cursor: default;
}

.link:hover span {
  opacity: 0.7;
}

.cardTitle {
  font-weight: 525;
  margin-bottom: var(--space-4x);
  font-size: 18px;
  color: var(--foreground);
}

@media screen and (max-width: 768px) {
  .cardsWrapper {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 425px) {
  .cardsWrapper {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
