---
import Card from "./Card.astro"
import styles from "./cards.module.css"
import { ICard } from "./types.ts"

interface Props {
  links: ICard[]
}

const { links } = Astro.props
---

<section class={styles.cardsWrapper}>
  {links.map((link) => <Card title={link.title} description={link.description} links={link.links} />)}
</section>
