.ccip-chain-hero {
  background-color: var(--gray-100);
  border-bottom: 1px solid var(--gray-200);
  min-height: 241px;
}

.ccip-chain-hero__heading {
  color: var(--gray-900);
  display: flex;
  align-items: center;
  gap: var(--space-6x);
  padding-top: var(--space-4x);
  padding-bottom: var(--space-4x);
}

.ccip-chain-hero__heading h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
}

.ccip-chain-hero__heading img {
  width: 80px;
  height: 80px;
}

.ccip-chain-hero__heading__images {
  position: relative;
}

.ccip-chain-hero__heading__images__small {
  width: var(--space-10x) !important;
  height: var(--space-10x) !important;
  border-radius: 50%;
  top: 60%;
  left: 60%;
  position: absolute;
}

.ccip-chain-hero__content {
  --gutter: var(--space-6x);
  --doc-padding: var(--space-6x);
  gap: var(--gutter);
  padding: var(--space-6x);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.ccip-chain-hero__token-logo {
  border-radius: 50%;
}

.ccip-chain-hero__top {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: start;
  gap: var(--space-6x);
}

.ccip-chain-hero__chainSearch {
  width: 100%;
}

.ccip-chain-hero__details {
  display: grid;
  gap: var(--space-6x);
  grid-template-columns: 1fr;
}

.ccip-chain-hero__details__label {
  /* Body/Body Semi S */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: var(--space-2x);
  color: var(--gray-500);
}

.ccip-chain-hero__feeTokens__list {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: var(--space-4x);
}

.ccip-chain-hero__feeTokens__item {
  display: flex;

  align-items: center;
  gap: var(--space-2x);
  color: var(--gray-900);
}

.ccip-chain-hero__feeTokens__native-gas-token {
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--space-4x);
  line-height: var(--space-6x);
  color: var(--gray-600);
}

.ccip-chain-hero__feeTokens__item a {
  font-size: var(--space-4x) !important;
}

.ccip-chain-hero__feeTokens__item__logo {
  width: var(--space-5x);
  height: var(--space-5x);
  border-radius: 50%;
}

.ccip-chain-hero__details__value {
  /* Body/Body */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  font-feature-settings: "liga" off;

  color: #212732;
}

.ccip-chain-hero__token-logo__symbol {
  font-weight: 500;
  font-size: 18px;
  color: var(--gray-500);
}

@media (min-width: 50em) {
  .ccip-chain-hero__content {
    max-width: 1440px;
  }
}

@media (min-width: 992px) {
  .ccip-chain-hero__top {
    flex-direction: row;
    gap: var(--space-16x);
    align-items: center;
  }

  .ccip-chain-hero__heading {
    padding-top: 0;
    padding-bottom: 0;
  }

  .ccip-chain-hero__chainSearch {
    width: 358px;
  }

  .ccip-chain-hero__details {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: var(--space-4x);
  }

  .ccip-chain-hero__feeTokens__list {
    align-items: center;
    flex-direction: row;
    gap: var(--space-20x);
  }

  .ccip-chain-hero__content {
    --gutter: var(--space-10x);
    grid-template-columns: 1fr 1fr;
    padding: var(--space-10x) var(--space-16x);
  }
}
