.ccip-hero {
  background-color: var(--gray-100);
}

.ccip-hero__grid {
  width: 100vw;
}

.ccip-hero__heading {
  color: var(--gray-900);
  font-size: 26px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: var(--space-6x);
}

.ccip-hero__heading img {
  width: 80px;
  height: 80px;
}

.ccip-hero__content {
  --gutter: var(--space-2x);
  --doc-padding: 2rem;
  margin: var(--space-8x) auto;
  gap: var(--gutter);
  padding: var(--doc-padding);
  padding: var(--space-4x);
  display: flex;
  flex-direction: column;
}

.ccip-hero__token-logo {
  border-radius: 50%;
}

.ccip-hero__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-16x);
}

.ccip-hero__chainSearch {
  width: 358px;
}

.ccip-hero__details {
  display: grid;
  gap: var(--space-4x);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.ccip-hero__details__label {
  /* Body/Body Semi S */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  color: #6c7585;
}

.ccip-hero__details__value {
  /* Body/Body */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  font-feature-settings: "liga" off;

  color: #212732;
}

@media (min-width: 50em) {
  .ccip-hero__content {
    max-width: 1440px;
  }
}

@media (min-width: 992px) {
  .ccip-hero__content {
    grid-template-columns: 1fr 1fr;
  }
}
