.lane-details-hero {
  background-color: var(--gray-100);
  padding: var(--space-6x);
  border-bottom: 1px solid var(--gray-200);
}

.lane-details-hero h2 {
  font-weight: var(--font-weight-medium);
  padding: 0;
  margin: 0;
  font-size: var(--space-4x);
  font-size: 22px;
  line-height: 28px;
}

.lane-details-hero__networks {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-6x);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-size: 28px;
  margin: var(--space-10x) 0;
}

.lane-details-hero__networks svg {
  transform: rotate(90deg);
  margin-left: var(--space-4x);
}

.lane-details-hero__network {
  display: flex;
  align-items: center;
  gap: var(--space-6x);
  color: var(--gray-900);
}

.lane-details-hero__network img {
  width: var(--space-12x);
  height: var(--space-12x);
}

.lane-details-hero__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-6x);
}

.lane-details-hero__details__label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;

  color: var(--gray-500);
}

.lane-details-hero__token-logo {
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .lane-details-hero {
    padding: var(--space-6x) var(--space-10x) var(--space-10x);
  }

  .lane-details-hero__details {
    grid-template-columns: 1fr 2fr;
  }

  .lane-details-hero__networks {
    flex-direction: row;
    align-items: center;
  }

  .lane-details-hero__networks svg {
    transform: rotate(0deg);
    margin-left: 0;
  }
}
