.laneDetailsHero {
  padding: var(--space-4x) var(--space-6x);
}

.laneDetailsHero h2 {
  font-weight: var(--font-weight-medium);
  padding: 0;
  margin: 0;
  font-size: var(--space-4x);
  font-size: 22px;
  line-height: 28px;
}

.laneDetailsHero__networks {
  display: flex;
  align-items: center;
  gap: var(--space-6x);

  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-size: 28px;
  margin: var(--space-12x) 0;
}

.laneDetailsHero__network {
  display: flex;
  align-items: center;
  gap: var(--space-6x);
}

.laneDetailsHero__network img {
  width: var(--space-12x);
  height: var(--space-12x);
}

.laneDetailsHero__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-6x);
}

.laneDetailsHero__details__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;

  color: #6c7585;
}

@media screen and (min-width: 768px) {
  .laneDetailsHero {
    padding: var(--space-12x);
  }
}
