---
import { Typography } from "@chainlink/blocks"
import ResourceGrid from "./ResourceGrid.astro"
import type { ResourceItem } from "./ResourceGrid.astro"
import styles from "./ResourceSection.module.css"

interface Props {
  title: string
  resources: ResourceItem[]
}

const { title, resources } = Astro.props
---

<section class={styles.section}>
  <Typography
    variant="h2"
    style={{
      fontSize: "32px",
    }}>{title}</Typography
  >
  <ResourceGrid resources={resources} />
</section>
