.card {
  display: flex;
  flex-direction: column;
  background: var(--color-background);
  padding: var(--space-6x);
  gap: var(--space-4x);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  text-decoration: none;
  transition: background-color 0.2s;
  min-height: 329px;
  cursor: default;
}

.card:nth-child(-n + 3) {
  border-top: 1px solid var(--border);
}

.card:hover {
  background-color: var(--muted);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playButtonWrapper {
  background-color: var(--brand);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  & svg {
    color: var(--white);
    fill: var(--white);
  }
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: var(--space-2x);
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cardLabel {
  font-size: 16px;
  font-weight: 525;
  color: var(--foreground);
  margin-bottom: var(--space-2x);
}

.cardFooter {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--space-2x);
  margin-top: var(--space-4x);
}

.footerText {
  font-size: 14px;
  color: var(--color-text-secondary);
}
@media screen and (max-width: 1024px) {
  .card:nth-child(-n + 3) {
    border-top: none;
  }

  .card:nth-child(-n + 2) {
    border-top: 1px solid var(--border);
  }
}

@media screen and (max-width: 768px) {
  .card:nth-child(n) {
    border-top: none;
  }

  .card:nth-child(1) {
    border-top: 1px solid var(--border);
  }
}
