---
import type { ImageMetadata } from "astro"
import ResourceCard from "./ResourceCard.astro"
import styles from "./ResourceGrid.module.css"

export interface ResourceItem {
  image?: string | ImageMetadata
  imageAlt?: string
  label: string
  link: string
  description: string
  type: "article" | "video"
}

interface Props {
  resources: ResourceItem[]
}

const { resources } = Astro.props
---

<div class={styles.grid}>
  {resources.map((resource) => <ResourceCard {...resource} />)}
</div>
