.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-6x);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-4x);
}

.sectionHeader {
  display: flex;
  gap: var(--space-4x);
  align-items: end;
}

.arrow {
  padding: 10px;
  border: 1px solid var(--border);
  height: fit-content;
  cursor: default;
  &:hover {
    border: 1px solid var(--foreground);
  }
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .sectionHeader {
    justify-content: space-between;
    width: 100%;
  }
}
