.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: #1a2332e5;
  backdrop-filter: blur(var(--space-1x)) opacity(0);
  transition: backdrop-filter 0.5s ease-in-out;
}

.drawer__open.drawer {
  backdrop-filter: blur(var(--space-1x)) opacity(0.9);
}

.drawer__close {
  display: none;
}

.drawer__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.drawer__content {
  overflow-y: auto;
  height: 100%;
}

.drawer__open .drawer__container {
  transform: translateX(0);
}

.drawer__closeMobile {
  position: absolute;
  top: var(--space-4x);
  right: var(--space-4x);
  color: black;
}

@media (min-width: 768px) {
  .drawer__container {
    width: 75%;
  }

  .drawer__closeMobile {
    display: none;
  }

  .drawer__close {
    position: fixed;
    top: var(--space-4x);
    right: calc(100% + var(--space-4x));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-1x);
  }

  .drawer__close button {
    width: var(--space-12x);
    height: var(--space-12x);
    background-color: var(--gray-900);
    border-radius: var(--space-1x);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .drawer__close:hover button {
    background-color: var(--blue-700);
  }

  .drawer__close label {
    color: var(--gray-500);
    font-size: 9px;
    font-family: Inter;
    font-weight: 400;
    line-height: 10.89px;
  }
}
