.bottomBar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 56px;
  width: 100vw;
  background-color: var(--color-background-secondary);
  color: var(--color-text-secondary);
  display: grid;
  align-items: center;
  justify-content: center;
}

.bottomBar :is(button, a) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2x);
  height: 100%;
  position: relative;
}

.back {
  color: var(--color-text-link);
}

.back svg {
  fill: var(--color-text-link);
}

.divider {
  background-color: var(--blue-200);
  width: 1px;
  height: 100%;
  align-self: center;
  position: absolute;
  left: 0;
}
