.root {
  display: initial;
}

.logo {
  margin-right: var(--space-2x);
}

.menuContent {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--white);
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 11;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-6x) var(--space-8x);
  /* border-bottom: 1px solid var(--gray-200); */
  box-shadow: 0px 4px 12px 0px #0000000f;
}

.content {
  width: 200vw;
  display: flex;
  transition: transform 0.3s;
}

.main {
  transform: translateX(0vw);
}

.submenu {
  transform: translateX(-100vw);
}

.productContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-4x);
  padding: var(--space-6x) var(--space-8x);
}

.productContentLink {
  font-size: var(--font-size-4x);
  font-weight: var(--font-weight-medium);
  color: var(--gray-600);
  margin-right: var(--space-5x);
  padding: var(--space-2x) 0;
  font-size: var(--font-size-4x);
  display: flex;
  justify-content: space-between;
}

.subProductContentPage {
  overflow: scroll;
}

.productContent,
.subProductContent {
  overflow: scroll;
  list-style: none;
  width: 100vw;
  padding-bottom: 56px;
}
.subProductContent {
  display: flex;
  flex-direction: column;
}

.subProductContentTitle {
  font-size: var(--font-size-4x);
  font-weight: var(--font-weight-medium);
  color: var(--blue-800);
  margin-right: var(--space-5x);
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.menuContent[data-state="open"] {
  animation: slideFromLeft 0.3s forwards;
}

.menuContent[data-state="closed"] {
  animation: slideToLeft 0.3s forwards;
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2x);
}

@media screen and (min-width: 992px) {
  .logo,
  .trigger {
    display: none;
  }
}
