<div id="hexagon-outerWrapper">
  <div style="position: relative">
    <div id="hexagon-wrapper">
      <div id="cube-cubeWrapper">
        <div id="cube-wrapper">
          <div id="cube-bottomCenter" class="cube-innerBox"></div>
          <div id="cube-topCenter" class="cube-innerBox"></div>
          <div id="cube-bottomLeft" class="cube-innerBox"></div>
          <div id="cube-topLeft" class="cube-innerBox"></div>
          <div id="cube-topRight" class="cube-innerBox"></div>
          <div id="cube-bottomRight" class="cube-innerBox"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  #hexagon-outerWrapper {
    position: absolute;
    overflow: hidden;
    width: 90vw;
    height: 100vh;
    z-index: -999;
  }

  #hexagon-wrapper {
    margin: 0px;
    position: absolute;
    top: -1180px;
    right: -156px;
    z-index: -1;
  }

  @media screen and (min-width: 1200px) {
    #hexagon-wrapper {
      top: -1150px;
      right: unset;
      left: -800px;
    }
  }

  #cube-cubeWrapper {
    --bg-color: transparent;
    --fill-color: rgb(245, 247, 253);
    --size: 1100px;
    --size-multiplier: 1.7;
    --radius-amount: 66;

    background-color: var(--bg-color);
    position: relative;
    height: calc(var(--size) * var(--size-multiplier));
    width: calc(var(--size) * var(--size-multiplier));
    mix-blend-mode: screen;
  }

  #cube-wrapper {
    transform: rotateX(236deg) rotateZ(-135deg);
    width: var(--size);
    height: var(--size);
    position: absolute;
    transform-style: preserve-3d;
    top: 44.5%;
    left: 20%;
  }

  #cube-wrapper > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .cube-innerBox {
    border-radius: calc(var(--size) / var(--border-radius));
    background-color: var(--fill-color);
  }

  #cube-topCenter {
    transform: translateZ(-var(--size));
  }
  #cube-topRight {
    transform: rotateY(90deg);
    transform-origin: left;
  }
  #cube-bottomLeft {
    transform: rotateY(-90deg);
    transform-origin: right;
  }

  #cube-topLeft {
    transform: rotateX(-90deg);
    transform-origin: top;
  }
  #cube-bottomRight {
    transform: rotateX(90deg);
    transform-origin: bottom;
  }
</style>
