._body_837gc_1 {
  overflow: hidden;
  color: var(--Foreground-Foreground, #141921);
  font-feature-settings: "liga" off, "calt" off;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: var(--Body-base, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: var(--leading-6, 1.5rem);
}
._bodyS_837gc_16 {
  color: var(--Foreground-Alt, #141921);
  font-feature-settings: "calt" off;
  font-family: Inter;
  font-size: var(--Body-sm, 0.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: var(--leading-5, 1.25rem);
}
._bodySemiS_837gc_27 {
  color: var(--Foreground-Alt, #141921);
  font-feature-settings: "calt" off;
  font-family: Inter;
  font-size: var(--Body-sm, 0.875rem);
  font-style: normal;
  font-weight: 600;
  line-height: var(--leading-5, 1.25rem);
}
._bodyXS_837gc_38 {
  color: var(--Muted-More-Foreground, #9fa7b2);
  font-feature-settings: "calt" off;
  font-family: Inter;
  font-size: var(--Body-xs, 0.75rem);
  font-style: normal;
  font-weight: 400;
  line-height: var(--leading-4, 1rem);
}
._bodySemiXS_837gc_49 {
  color: var(--Muted-More-Foreground, #9fa7b2);
  font-feature-settings: "calt" off;
  font-family: Inter;
  font-size: var(--Body-xs, 0.75rem);
  font-style: normal;
  font-weight: 600;
  line-height: var(--leading-4, 1rem);
}
._miniCard_qi33g_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.5rem;
  background: var(--Card-Card, #fff);
  width: 7.625rem;
  overflow: hidden;
  gap: 0;
}
._miniCardImage_qi33g_14 {
  width: 100%;
  height: auto;
}
._miniCardLabelContainer_qi33g_19 {
  display: flex;
  padding: 0.59481rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.19825rem;
  align-self: stretch;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  border: 1px solid var(--Border-Border, #e4e8ed);
}
._boxVertical_ttylk_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--2, 0.5rem);
  align-self: stretch;
}
._boxHorizontal_ttylk_9 {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: var(--2, 0.5rem);
  align-self: stretch;
  flex-wrap: wrap;
}
._boxVertical_ttylk_1,
._boxHorizontal_ttylk_9 {
  width: 100%;
}
._boxVertical_ttylk_1 p,
._boxHorizontal_ttylk_9 p {
  margin: 0;
}
._searchResultList_ic9rv_1 {
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: stretch;
}
._searchResultListItem_ic9rv_8 {
  margin: 0;
  padding: 0;
}
._searchResultListItem_ic9rv_8._itemActive_ic9rv_12 {
  background: var(--Muted-On-Popover, #f5f7fa);
}
._searchResultListItem_ic9rv_8._itemActive_ic9rv_12 ._itemIcon_ic9rv_15 {
  background: var(--Muted-More, #e4e8ed);
}
._searchResultListItem_ic9rv_8._itemActive_ic9rv_12 ._itemRightArrow_ic9rv_19 {
  display: inline;
}
._itemLink_ic9rv_25 {
  display: flex;
  padding: var(--2, 0.5rem);
  align-items: center;
  gap: var(--2, 0.5rem);
  align-self: stretch;
  border-radius: 0.25rem;
}
._itemLink_ic9rv_25:hover {
  background: var(--Muted-On-Popover, #f5f7fa);
}
._itemLink_ic9rv_25:hover ._itemIcon_ic9rv_15 {
  background: var(--Muted-More, #e4e8ed);
}
._itemLink_ic9rv_25:hover ._itemRightArrow_ic9rv_19 {
  display: inline;
}
._itemIcon_ic9rv_15 {
  display: flex;
  padding: var(--1, 0.25rem);
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: var(--1, 0.25rem);
  background: var(--Muted-On-Popover, #f5f7fa);
}
._itemLabel_ic9rv_58 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
._itemRightArrow_ic9rv_19 {
  margin-left: auto;
  display: none;
}
._defaultModalBodyContainer_1j6ia_1 {
  display: flex;
  flex-direction: column;
  height: 100%;
}
._defaultModalBodyLeft_1j6ia_8 {
  flex-grow: 1;
  display: flex;
  padding: var(--4, 1.5rem);
  background: var(--Background-Background, #fff);
}
._defaultModalBodyRight_1j6ia_15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: var(--4, 1.5rem);
  border-left: 1px solid var(--Border-Border, #e4e8ed);
  background: var(--Background-Alt, #fafbfc);
}
@media (min-width: 768px) {
  ._defaultModalBodyContainer_1j6ia_1 {
    flex-direction: row;
  }
}
._certificationCard_vrzug_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  max-width: 15.6875rem;
  padding: var(--3, 1rem);
  border-radius: var(--2, 0.5rem);
  border: 1px solid var(--Card-Border, #e4e8ed);
  background: var(--Card-Card, #fff);
}
._certificationCardHeader_vrzug_14 {
  display: flex;
  align-items: center;
  gap: var(--2, 0.5rem);
  align-self: stretch;
}
._certificationCardHeader_vrzug_14 span {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-width: 11.3125rem;
  text-align: start;
}
._certificationCardBody_vrzug_34 {
  display: flex;
  align-items: center;
  gap: var(--2, 0.5rem);
}
._modalBodyContainer_3bx9m_1 {
  display: flex;
  padding: var(--4, 1.5rem);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--5, 2rem);
  flex: 1 0 0;
  background: var(--Background-Background, #fff);
}
._modalBodyContainer_3bx9m_1 ._hideItem_3bx9m_11 {
  display: none;
}
._modalBodyCategoryList_3bx9m_16 {
  display: flex;
  align-items: center;
  gap: var(--2, 0.5rem);
  align-self: stretch;
  flex-wrap: nowrap;
  white-space: nowrap;
}
._modalBodyResultFiltered_3bx9m_26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--3, 1rem);
  width: 100%;
}
._backToAllResultsButton_3bx9m_35 {
  display: flex;
  padding: var(--1, 0.25rem) 0rem;
  align-items: center;
  gap: var(--2, 0.5rem);
  background: var(--Card-Card, #fff);
  border: none;
}
._backToAllResultsButton_3bx9m_35:hover {
  border: none;
}
._backToAllResultsButton_3bx9m_35 ._backToAllResultsButtonText_3bx9m_49 {
  color: var(--Foreground-Foreground, #141921);
}
._searchGroupHeader_3bx9m_54 {
  display: flex;
  height: 1.25rem;
  align-items: center;
  gap: var(--2, 0.5rem);
  align-self: stretch;
}
._searchGroupHeader_3bx9m_54 ._totalCount_3bx9m_61 {
  flex: 1 0 0;
  text-align: start;
}
._searchGroupHeader_3bx9m_54 ._showAllButton_3bx9m_66 {
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
}
._searchGroupHeader_3bx9m_54 ._showAllButton_3bx9m_66:hover,
._searchGroupHeader_3bx9m_54 ._showAllButton_3bx9m_66 span:hover {
  color: var(--Foreground-Link, #2e7bff);
}
._categoryButton_11i1q_1 {
  display: flex;
  padding: 0.25rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 1.5rem;
  border: 1px solid var(--Pill-Navigation-Border, #e4e8ed);
  background: var(--Pill-Navigation-Pill-Navigation, #fafbfc);
  outline: none;
}
._categoryButton_11i1q_1:hover {
  border: 1px solid var(--Pill-Navigation-Border-Hover, #d1d6de);
  background: var(--Pill-Navigation-Hover, #e4e8ed);
}
._categoryButton_11i1q_1._categoryButtonActive_11i1q_19 {
  border: 1px solid var(--Pill-Navigation-Border-Active, #c1dbff);
  background: var(--Pill-Navigation-Active, #dcebff);
}
._categoryButton_11i1q_1 ._categoryText_11i1q_24 {
  color: var(--Pill-Navigation-Foreground, #0e1119);
  text-align: center;
  white-space: nowrap;
}
._categoryListContainer_11i1q_31 {
  display: inline;
  position: relative;
}
._categoryMenuContainer_11i1q_36 {
  display: flex;
  width: 8.375rem;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: calc(100% + 0.375rem);
  border-radius: 0.25rem;
  border: 1px solid var(--Border-Border, #e4e8ed);
  background: var(--Background-Background, #fff);
  box-shadow: 0 16px 24px #0000000a;
}
._categoryMenuItem_11i1q_53 {
  height: 3rem;
  align-self: stretch;
  background: var(--Background-Background, #fff);
  border-radius: 0;
  text-align: start;
  padding: 0.84rem 1rem 0.78rem;
}
._categoryMenuItem_11i1q_53:hover {
  border: 1px solid var(--Pill-Navigation-Border-Hover, #d1d6de);
  background: var(--Pill-Navigation-Hover, #e4e8ed);
}
._categoryMenuItem_11i1q_53 ._categoryMenuItemText_11i1q_68 {
  color: var(--Muted-Foreground, #6c7585);
}
._modalOverlay_hhvgd_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  background-color: #0009;
  opacity: 1 !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0 !important;
  transition: opacity 0.25s ease;
}
._modalOverlayActive_hhvgd_19 {
  opacity: 1 !important;
}
._modalInner_hhvgd_23 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
}
._modalContainer_hhvgd_32 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  background: var(--Background-Alt, #fafbfc);
}
._modalHeader_hhvgd_42 {
  display: flex;
  height: calc((var(--4, 1.5rem) * 2) + 2rem);
  padding: var(--4, 1.5rem);
  align-items: center;
  gap: var(--2, 0.5rem);
  align-self: stretch;
  border-bottom: 1px solid var(--Border-Border, #e4e8ed);
  background: var(--Background-Background, #fff);
}
._searchInput_hhvgd_53 {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  height: 2rem;
  caret-color: #2e7bff;
  padding: 0;
  width: unset;
}
._searchInput_hhvgd_53::placeholder {
  font-feature-settings: "liga" off, "calt" off;
  font-family: Inter;
  font-size: var(--Body-base, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: var(--leading-6, 1.5rem);
}
._searchInput_hhvgd_53:focus {
  outline: none;
}
._clearButton_hhvgd_77 {
  display: flex;
  width: 4.5rem;
  height: 2rem;
  padding: 0.5rem 0.65625rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--Tertiary-Border, #d1d6de);
  background-color: transparent;
}
._modalBody_hhvgd_92 {
  overflow-y: auto;
  height: 100%;
  background: var(--Background-Background, #fff);
}
._modalFooter_hhvgd_98 {
  display: flex;
  justify-content: center;
  align-self: stretch;
  padding: 0.75rem var(--4, 1.5rem);
  align-items: center;
  border-top: 1px solid var(--Border-Border, #e4e8ed);
  background: var(--Background-Alt, #fafbfc);
}
._modalFooter_hhvgd_98 ._modalFooterShortcuts_hhvgd_108,
._modalFooter_hhvgd_98 ._modalFooterShortcut_hhvgd_108 {
  display: flex;
  align-items: center;
}
._modalFooter_hhvgd_98 ._modalFooterShortcuts_hhvgd_108 {
  display: none;
  gap: 1.5rem;
}
._modalFooter_hhvgd_98 ._modalFooterShortcut_hhvgd_108 {
  gap: 0.5rem;
}
@media (min-width: 768px) {
  ._modalInner_hhvgd_23 {
    padding: 10vh 0;
  }
  ._modalContainer_hhvgd_32 {
    flex-grow: unset;
    height: 500px;
    max-height: 500px;
    width: 49.3125rem;
    border-radius: 0.75rem;
    border: 1px solid var(--Border-Border, #e4e8ed);
    box-shadow: 0 16px 24px #0000000a;
  }
  ._modalFooter_hhvgd_98 {
    justify-content: space-between;
  }
  ._modalFooter_hhvgd_98 ._modalFooterShortcuts_hhvgd_108 {
    display: flex;
  }
}
._searchButton_kihn0_1 {
  gap: 0.5rem;
  border: 1px solid var(--mirage-10-11, #e4e8ed);
  background: var(--Background-Background, #fff);
  color: var(--grey-400, #9fa7b2);
  border-radius: 8px;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  height: 24px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 3px 8px 4px;
  font-size: 12px;
  line-height: 16px;
  transition: all 0.2s;
  display: flex;
}
._searchButton_kihn0_1 img,
._searchButton_kihn0_1 svg {
  width: 14px;
  height: 14px;
}
._searchButton_kihn0_1:hover {
  border-color: var(--blue-300, #a0b3f2);
  background-color: var(--blue-200, #dfe7fb);
  color: var(--grey-500, #858a95);
}
