.notice {
  color: black;
  padding: 0.5em;
}

.banner {
  display: inline-flex;
  border-color: black;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.4em;
}

.alert {
  background-color: var(--yellow-100);
}

.danger {
  background-color: var(--red-200);
}

.alert:before {
  background-color: var(--yellow-100);
}

.danger:before {
  background-color: var(--red-200);
}

.icon {
  min-width: 2em;
  margin-left: 1em;
  vertical-align: middle;
}

.iconSmall {
  min-width: 1em;
  margin-left: 0.5em;
  vertical-align: middle;
}

.tooltip {
  position: relative;
}

.tooltip:hover {
  color: var(--black);
  cursor: default;
}

.tooltip:before {
  position: absolute;
  z-index: 50;
  bottom: 4em;
  left: 0;
  right: 0;
  content: attr(tooltip-text);
  visibility: hidden;
  opacity: 0;
  max-width: 50vw;
  min-width: 24em;
  color: black;
  text-align: left;
  border: solid;
  border-color: black;
  border-width: 0.1em;
  border-radius: 0.4em;
  padding: 0.4em;
  transition: opacity 0.2s ease-in-out;
}

.tooltip:hover:before {
  opacity: 1;
  visibility: visible;
}
