.copy-code-button-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--space-2x) var(--space-2x) var(--space-0x) var(--space-0x);
}

.copy-code-button-wrapper > button {
  padding: var(--space-1x);
  display: flex;
}

.copy-code-button-wrapper > button > img {
  width: 16px;
  height: 16px;
}
