---
import ProductTabs from "../features/landing/sections/ProductTabs.astro"
import LandingLayout from "../layouts/LandingLayout.astro"
import HeroCTA from "../features/landing/sections/HeroCTA.astro"
---

<LandingLayout>
  <HeroCTA />
  <div class="home-wrapper" id="article">
    <ProductTabs />
  </div>
</LandingLayout>

<style>
  .home-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-12x);
  }

  body {
    background-color: #f5f7fd;
    z-index: 10;
  }
  body:after {
    background-image: url("/images/homepage-shape.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: calc(100% + 275px);
    height: 100%;
    content: " ";
    z-index: -1;
    min-height: 1706px;
    top: -850px;
    bottom: auto;
    left: -275px;
    overflow: hidden;
  }
</style>
