---
import LandingLayout from '../layouts/LandingLayout.astro';
---

<script is:inline>
	// Redirect your homepage to the first page of documentation.
	// If you have a landing page, remove this script and add it here!
	// window.location.pathname = `/en/introduction`;
</script>

<LandingLayout >
<h2>test</h2>
</LandingLayout>

<style lang="pcss">

</style>