.logo {
  width: var(--space-5x);
  height: var(--space-5x);
}

.docsHeaderTitleWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-3x);
}

.docsHeaderTitleWrapper span {
  color: var(--black);

  /* todo: This was manually set on request. Should be changed with Design System */
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
