.logo {
  width: var(--space-6x);
  height: var(--space-6x);
}

.docsHeaderTitleWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-3x);
  padding: var(--doc-padding) 0;
}

.docsHeaderTitleWrapper span {
  /* todo: This was manually set on request. Should be changed with Design System */
}
