---
import NavArrowLeftIcon from "./NavArrowLeftIcon.astro"
---

<a class="back text-200" href="/">
  <NavArrowLeftIcon />
  Back
</a>

<style>
  .back {
    display: flex;
    align-items: center;
    gap: var(--space-2x);
    color: var(--color-text-link);
    stroke: var(--color-text-link);
  }

  .back:hover {
    color: var(--color-text-link-hover);
    stroke: var(--color-text-link-hover);
  }

  @media (min-width: 50em) {
    .back {
      display: none;
    }
  }
</style>
