.feedbackContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.feedbackButtons {
  display: flex;
  gap: 15px;
}

.feedbackPrompt {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
}

.feedbackButton {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border: 1px solid var(--gray-500);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.feedbackButton:hover {
  background-color: var(--blue-500);
  color: white;
  border: 1px solid var(--blue-500);
}

.card {
  width: max-content;
  padding-top: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.textarea {
  resize: none;
  height: 150px;
  width: 100%;
}
