---
import { BaseFrontmatter } from "~/content/config"
import NavArrowLeftIcon from "./NavArrowLeftIcon.astro"

export type Props = {
  title: string
}
const { title } = Astro.props
---

<>
  <a class="back text-200" href="/">
    <NavArrowLeftIcon />
    Back</a
  >
  <h1>{title}</h1>
</>

<style>
  .back {
    display: flex;
    align-items: center;
    gap: var(--space-2x);
    color: var(--color-text-link);
    stroke: var(--color-text-link);
  }

  .back:hover {
    color: var(--color-text-link-hover);
    stroke: var(--color-text-link-hover);
  }

  :is(h1) {
    font-size: 32px;
    margin-top: var(--space-6x);
  }

  @media (min-width: 50em) {
    .back {
      display: none;
    }
  }
</style>
