---
export type Props = { content: Record<string, string> }
const { content = {} } = Astro.props as Props
---

<section>
  <h2>What's next</h2>
  <ul class="whats-next">
    {
      Object.keys(content).map((key) => (
        <li>
          <a href={content[key]}>{`> ${key}`}</a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  h2 {
    margin-top: var(--space-10x);
  }
  .whats-next {
    border: 1px solid var(--color-border-primary);
  }
  .whats-next li:first-child {
    border-top: 0;
  }
  .whats-next li {
    list-style: none;
    border-top: 1px solid var(--color-border-primary);
  }
  .whats-next li a {
    padding: var(--space-4x);
    width: 100%;
    display: inline-flex;
  }
  .whats-next li a:hover {
    background: var(--theme-bg-accent);
  }
</style>
