---
export type Props = { content: Record<string, string> }
const { content = {} } = Astro.props as Props
---

<section>
  <h2>What's next</h2>
  <ul>
    {
      Object.keys(content).map((key) => (
        <li>
          <a href={content[key]}>{`> ${key}`}</a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  section {
    margin-top: var(--space-10x);
  }

  h2 {
    margin: 0;
  }

  ul {
    list-style: none;
    margin-top: var(--space-5x);
    border: 1px solid var(--color-border-primary);
  }

  li {
    border-top: 1px solid var(--color-border-primary);
  }

  li:first-child {
    border-top: 0;
  }

  li a {
    display: inline-block;
    padding: var(--space-4x);
    width: 100%;
  }

  li a:hover {
    background: var(--theme-bg-accent);
  }
</style>
