{
  "openapi": "3.0.4",
  "info": {
    "title": "CRE Connect API",
    "version": "0.8.0",
    "description": "API specification for CRE Connect resources"
  },
  "servers": [
    {
      "url": "https://cre-connect.api.chain.link/v1",
      "description": "CRE Connect base URL."
    },
    {
      "url": "http://localhost:8080",
      "description": "Local development."
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Service health."
    },
    {
      "name": "Networks",
      "description": "Supported networks."
    },
    {
      "name": "Wallets",
      "description": "Wallet lifecycle."
    },
    {
      "name": "Channels",
      "description": "Channels for watchers, events, and operations."
    },
    {
      "name": "Watchers",
      "description": "Watchers scoped to a channel."
    },
    {
      "name": "Operations",
      "description": "Operations within a channel."
    },
    {
      "name": "Queries",
      "description": "Chain queries scoped to a channel."
    },
    {
      "name": "Events",
      "description": "Events (poll and historical search)."
    }
  ],
  "paths": {
    "/health-check": {
      "get": {
        "tags": ["Health"],
        "operationId": "getHealthCheck",
        "summary": "Health check endpoint",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheck"
                }
              }
            }
          }
        }
      }
    },
    "/networks": {
      "get": {
        "tags": ["Networks"],
        "operationId": "listNetworks",
        "summary": "Retrieves available networks.",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkList"
                },
                "example": {
                  "data": [],
                  "has_more": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      }
    },
    "/wallets": {
      "post": {
        "tags": ["Wallets"],
        "operationId": "createWallet",
        "summary": "Creates a new wallet.",
        "requestBody": {
          "description": "Wallet creation parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWallet"
              },
              "example": {
                "name": "my-wallet",
                "wallet_owner_address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                "chain_selector": "16015286601757825753",
                "wallet_type": "ecdsa",
                "configuration": {
                  "allowed_signers": []
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Wallet created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                },
                "example": {
                  "wallet_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "my-wallet",
                  "address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                  "chain_selector": "16015286601757825753",
                  "wallet_type": "ecdsa",
                  "wallet_owner_address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                  "status": "deployed",
                  "allowed_rsa_signers": [],
                  "allowed_ecdsa_signers": [],
                  "configuration": {
                    "allowed_signers": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "VALIDATION_ERROR",
                  "message": "Invalid request data."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "409": {
            "description": "Wallet name already exists in the organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "CONFLICT",
                  "code": "WALLET_ALREADY_EXISTS",
                  "message": "wallet name already exists in this organization"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Wallets"],
        "operationId": "listWallets",
        "summary": "Retrieves wallets for the organization.",
        "description": "Returns wallets for the organization. Archived wallets are excluded by default.\nTo include archived wallets, explicitly specify the archived status in the status filter.\n",
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "description": "Filter wallets by name (case-insensitive partial match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "chain_selector",
            "description": "Filter wallets by chain selector",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "owner",
            "description": "Filter wallets by owner address",
            "schema": {
              "$ref": "#/components/schemas/EthereumAddress"
            }
          },
          {
            "in": "query",
            "name": "address",
            "description": "Filter wallets by wallet address",
            "schema": {
              "$ref": "#/components/schemas/EthereumAddress"
            }
          },
          {
            "in": "query",
            "name": "type",
            "description": "Filter wallets by type",
            "schema": {
              "$ref": "#/components/schemas/WalletType"
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter wallets by status. Multiple values allowed. Archived wallets are excluded by default when no status filter is specified.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/WalletStatus"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "in": "query",
            "name": "chain_environment",
            "description": "Filter wallets by chain environment (mainnet or testnet). If omitted, returns all chain environments.",
            "schema": {
              "$ref": "#/components/schemas/ChainEnvironment"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Maximum number of wallets to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Number of wallets to skip for pagination",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletList"
                },
                "example": {
                  "data": [],
                  "has_more": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      }
    },
    "/wallets/{wallet_id}": {
      "get": {
        "tags": ["Wallets"],
        "operationId": "getWallet",
        "summary": "Retrieves a specific wallet by ID.",
        "parameters": [
          {
            "in": "path",
            "name": "wallet_id",
            "required": true,
            "description": "Unique wallet identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                },
                "example": {
                  "wallet_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "my-wallet",
                  "address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                  "chain_selector": "16015286601757825753",
                  "wallet_type": "ecdsa",
                  "wallet_owner_address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                  "status": "deployed",
                  "allowed_rsa_signers": [],
                  "allowed_ecdsa_signers": [],
                  "configuration": {
                    "allowed_signers": []
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Wallets"],
        "operationId": "updateWallet",
        "summary": "Updates a wallet name.",
        "parameters": [
          {
            "in": "path",
            "name": "wallet_id",
            "required": true,
            "description": "Unique wallet identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Wallet update parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWallet"
              },
              "example": {
                "name": "updated-wallet"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                },
                "example": {
                  "wallet_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "updated-wallet",
                  "address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                  "chain_selector": "16015286601757825753",
                  "wallet_type": "ecdsa",
                  "wallet_owner_address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                  "status": "deployed",
                  "allowed_rsa_signers": [],
                  "allowed_ecdsa_signers": [],
                  "configuration": {
                    "allowed_signers": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "VALIDATION_ERROR",
                  "message": "Invalid request data."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "409": {
            "description": "Wallet is already archived, or was modified concurrently by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "CONFLICT",
                  "code": "WALLET_ALREADY_ARCHIVED",
                  "message": "conflict error: wallet already in archived state"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      }
    },
    "/channels": {
      "post": {
        "tags": ["Channels"],
        "operationId": "createChannel",
        "summary": "Creates a new channel.",
        "requestBody": {
          "description": "Channel creation parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannel"
              },
              "example": {
                "name": "my-channel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Channel created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                },
                "example": {
                  "channel_id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                  "name": "my-channel",
                  "status": "active",
                  "created_at": 1715698800
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "VALIDATION_ERROR",
                  "message": "Invalid request data."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "409": {
            "description": "Channel with the same name already exists in the organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "CONFLICT",
                  "code": "CHANNEL_ALREADY_EXISTS",
                  "message": "resource already exists: channel with the same name already exists in this organization"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Channels"],
        "operationId": "listChannels",
        "summary": "Retrieves channels for the organization.",
        "description": "Returns channels for the organization. Archived channels are excluded by default.\nTo include archived channels, explicitly specify the archived status in the status filter.\n",
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "description": "Filter channels by name (case-insensitive partial match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter channels by status. Multiple values allowed. Archived channels are excluded by default when no status filter is specified.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ChannelStatus"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Maximum number of channels to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Number of channels to skip for pagination",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelList"
                },
                "example": {
                  "data": [],
                  "has_more": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}": {
      "get": {
        "tags": ["Channels"],
        "operationId": "getChannel",
        "summary": "Retrieves a specific channel by ID.",
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "description": "Unique channel identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                },
                "example": {
                  "channel_id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                  "name": "my-channel",
                  "status": "active",
                  "created_at": 1715698800
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Channel not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Channels"],
        "operationId": "updateChannel",
        "summary": "Updates a channel.",
        "description": "Updates channel properties. Can be used to update the name, description, or to transition the channel status (e.g., to archived).\nA channel cannot be archived if it has active watchers.\n",
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "description": "Unique channel identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Channel update parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchChannel"
              },
              "example": {
                "name": "updated-channel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                },
                "example": {
                  "channel_id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                  "name": "updated-channel",
                  "status": "active",
                  "created_at": 1715698800
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "VALIDATION_ERROR",
                  "message": "Invalid request data."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Channel not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "409": {
            "description": "Channel name already exists, or the channel cannot be archived because it has active watchers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "CONFLICT",
                  "code": "CHANNEL_ALREADY_EXISTS",
                  "message": "resource already exists: channel with the same name already exists in this organization"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}/queries": {
      "post": {
        "tags": ["Queries"],
        "operationId": "createQuery",
        "summary": "Creates a chain query under a channel.",
        "description": "Creates a channel-scoped Chain Query Request. New queries are rejected for archived channels.\nThe customer-provided idempotency_key is scoped to the organization and channel.\n",
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuery"
              },
              "examples": {
                "latestEVMCall": {
                  "summary": "EVM call resolved at the latest block",
                  "value": {
                    "idempotency_key": "balance-latest-001",
                    "query_kind": "evm_call",
                    "chain_selector": "16015286601757825753",
                    "params": {
                      "contract_address": "0x1111111111111111111111111111111111111111",
                      "call_data": "0x70a08231000000000000000000000000742d35Cc6634C0532925a3b844Bc454e4438f44e",
                      "block_selection": {
                        "type": "latest"
                      },
                      "from_address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
                    },
                    "metadata": {
                      "request_id": "balance-check-001"
                    }
                  }
                },
                "finalizedEVMCall": {
                  "summary": "EVM call resolved at the finalized block",
                  "value": {
                    "idempotency_key": "total-supply-finalized-001",
                    "query_kind": "evm_call",
                    "chain_selector": "16015286601757825753",
                    "params": {
                      "contract_address": "0x1111111111111111111111111111111111111111",
                      "call_data": "0x18160ddd",
                      "block_selection": {
                        "type": "finalized"
                      }
                    }
                  }
                },
                "explicitBlockEVMCall": {
                  "summary": "EVM call at an explicit block number",
                  "value": {
                    "idempotency_key": "decimals-block-001",
                    "query_kind": "evm_call",
                    "chain_selector": "16015286601757825753",
                    "params": {
                      "contract_address": "0x1111111111111111111111111111111111111111",
                      "call_data": "0x313ce567",
                      "block_selection": {
                        "type": "block_number",
                        "block_number": "6500000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Query accepted for execution.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryAcceptedResponse"
                },
                "example": {
                  "query_id": "5e4b3c2a-1f0e-4d9c-8b7a-6f5e4d3c2b1a",
                  "status": "accepted"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data, unsupported query kind, invalid params, invalid calldata, invalid block selection, or archived channel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "VALIDATION_ERROR",
                  "message": "Invalid query request."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Channel not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested channel was not found."
                }
              }
            }
          },
          "409": {
            "description": "Idempotency key reused with a different canonical request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "CONFLICT",
                  "code": "IDEMPOTENCY_KEY_MISMATCH",
                  "message": "Idempotency key reused with a different canonical request."
                }
              }
            }
          },
          "429": {
            "description": "Query create quota or workflow admission rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "VALIDATION_ERROR",
                  "message": "Query create quota or workflow admission rate limit exceeded."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Queries"],
        "operationId": "listQueries",
        "summary": "Lists chain queries for a channel.",
        "description": "Returns chain query records for the channel.\nEach item includes `target`, `event_hash`, `verifiable_result`, and `proof` when those fields are available.\nFilters compose with logical AND.\n",
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Maximum number of queries to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Number of queries to skip for pagination",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter queries by status. Multiple values allowed.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/QueryStatus"
              }
            },
            "style": "form",
            "explode": true,
            "example": ["accepted", "completed"]
          },
          {
            "in": "query",
            "name": "query_kind",
            "description": "Filter queries by kind. Multiple values allowed.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/QueryKind"
              }
            },
            "style": "form",
            "explode": true,
            "example": ["evm_call"]
          },
          {
            "in": "query",
            "name": "chain_selector",
            "description": "Filter queries by chain selector (network).",
            "schema": {
              "$ref": "#/components/schemas/ChainSelector"
            }
          },
          {
            "in": "query",
            "name": "chain_environment",
            "description": "Filter queries by chain environment (mainnet or testnet). If omitted, returns all chain environments.",
            "schema": {
              "$ref": "#/components/schemas/ChainEnvironment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryList"
                },
                "examples": {
                  "defaultList": {
                    "summary": "Default list — limit=20, offset=0",
                    "description": "`GET /channels/{channel_id}/queries?limit=20&offset=0`\n",
                    "value": {
                      "data": [
                        {
                          "query_id": "5e4b3c2a-1f0e-4d9c-8b7a-6f5e4d3c2b1a",
                          "channel_id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                          "status": "completed",
                          "query_kind": "evm_call",
                          "chain_selector": "16015286601757825753",
                          "target": "0x1111111111111111111111111111111111111111",
                          "event_hash": "0xabc123def456",
                          "verifiable_result": "eyJzZXJ2aWNlIjoiX2NyZWMiLCJuYW1lIjoiQ2hhaW5RdWVyeSJ9",
                          "proof": {
                            "alg": "ocr2vrf",
                            "ocr_report": "0xabc123",
                            "ocr_context": "0xdef456",
                            "signatures": ["0x789abc"]
                          },
                          "created_at": 1715698800,
                          "updated_at": 1715698815,
                          "expires_at": 1715702400,
                          "accepted_at": 1715698800,
                          "sending_at": 1715698801,
                          "sent_at": 1715698802,
                          "completed_at": 1715698815
                        },
                        {
                          "query_id": "9b1a52d7-3c11-4e88-9e1e-7b9a4b2c3d10",
                          "channel_id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                          "status": "sent",
                          "query_kind": "evm_call",
                          "chain_selector": "16015286601757825753",
                          "target": "0x2222222222222222222222222222222222222222",
                          "created_at": 1715698700,
                          "updated_at": 1715698710,
                          "expires_at": 1715702300,
                          "accepted_at": 1715698700,
                          "sending_at": 1715698705,
                          "sent_at": 1715698710
                        }
                      ],
                      "has_more": false
                    }
                  },
                  "filterByStatusAndChain": {
                    "summary": "Filter — status=completed, chain_selector=16015286601757825753",
                    "description": "`GET /channels/{channel_id}/queries?status=completed&chain_selector=16015286601757825753`\nCompleted Sepolia queries for the channel.\n",
                    "value": {
                      "data": [
                        {
                          "query_id": "9b1a52d7-3c11-4e88-9e1e-7b9a4b2c3d10",
                          "channel_id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                          "status": "completed",
                          "query_kind": "evm_call",
                          "chain_selector": "16015286601757825753",
                          "target": "0x1111111111111111111111111111111111111111",
                          "created_at": 1715698700,
                          "updated_at": 1715698712,
                          "completed_at": 1715698712
                        },
                        {
                          "query_id": "5e4b3c2a-1f0e-4d9c-8b7a-6f5e4d3c2b1a",
                          "channel_id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                          "status": "completed",
                          "query_kind": "evm_call",
                          "chain_selector": "16015286601757825753",
                          "target": "0x2222222222222222222222222222222222222222",
                          "created_at": 1715698800,
                          "updated_at": 1715698815,
                          "completed_at": 1715698815
                        }
                      ],
                      "has_more": false
                    }
                  },
                  "filterByKind": {
                    "summary": "Filter by kind — query_kind=evm_call",
                    "description": "`GET /channels/{channel_id}/queries?query_kind=evm_call`\nEVM call queries for the channel.\n",
                    "value": {
                      "data": [
                        {
                          "query_id": "5e4b3c2a-1f0e-4d9c-8b7a-6f5e4d3c2b1a",
                          "channel_id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                          "status": "completed",
                          "query_kind": "evm_call",
                          "chain_selector": "12922642891491394802",
                          "target": "0x3333333333333333333333333333333333333333",
                          "created_at": 1715698700,
                          "updated_at": 1715698715,
                          "completed_at": 1715698715
                        },
                        {
                          "query_id": "9b1a52d7-3c11-4e88-9e1e-7b9a4b2c3d10",
                          "channel_id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                          "status": "completed",
                          "query_kind": "evm_call",
                          "chain_selector": "16015286601757825753",
                          "target": "0x1111111111111111111111111111111111111111",
                          "created_at": 1715698800,
                          "updated_at": 1715698815,
                          "completed_at": 1715698815
                        }
                      ],
                      "has_more": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Channel not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested channel was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}/queries/{query_id}": {
      "get": {
        "tags": ["Queries"],
        "operationId": "getQuery",
        "summary": "Retrieves a specific chain query by ID.",
        "description": "Returns request fields, status timestamps, expiration, and terminal verifiable fields from the query resource.\nImplementations must not hydrate terminal query details by querying channel events.\n",
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "query_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query"
                },
                "example": {
                  "query_id": "5e4b3c2a-1f0e-4d9c-8b7a-6f5e4d3c2b1a",
                  "channel_id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                  "status": "completed",
                  "query_kind": "evm_call",
                  "chain_selector": "16015286601757825753",
                  "target": "0x1111111111111111111111111111111111111111",
                  "event_hash": "0xabc123def456",
                  "verifiable_result": "eyJzZXJ2aWNlIjoiX2NyZWMiLCJuYW1lIjoiQ2hhaW5RdWVyeSJ9",
                  "proof": {
                    "alg": "ocr2vrf",
                    "ocr_report": "0xabc123",
                    "ocr_context": "0xdef456",
                    "signatures": ["0x789abc"]
                  },
                  "created_at": 1715698800,
                  "updated_at": 1715698815,
                  "expires_at": 1715702400,
                  "accepted_at": 1715698800,
                  "sending_at": 1715698801,
                  "sent_at": 1715698802,
                  "completed_at": 1715698815
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Channel or query not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested query was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}/watchers": {
      "post": {
        "tags": ["Watchers"],
        "operationId": "createWatcher",
        "summary": "Creates a watcher in a channel.",
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "description": "Unique channel identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Watcher creation parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWatcher"
              },
              "example": {
                "name": "my-watcher",
                "chain_selector": "16015286601757825753",
                "address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                "service": "dta",
                "events": ["SubscriptionRequested"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Watcher created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Watcher"
                },
                "example": {
                  "watcher_id": "a8098c1a-f86e-11da-bd1a-00112444be1e",
                  "channel_id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                  "created_at": 1715698800,
                  "status": "active",
                  "chain_selector": "16015286601757825753",
                  "address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                  "events": ["SubscriptionRequested"],
                  "don_family": "zone-a"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "VALIDATION_ERROR",
                  "message": "Invalid request data."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Channel not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested channel was not found."
                }
              }
            }
          },
          "409": {
            "description": "Watcher with the same name already exists in the channel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "CONFLICT",
                  "code": "WATCHER_ALREADY_EXISTS",
                  "message": "conflict error: a watcher with name 'my-watcher' already exists in this channel"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Watchers"],
        "operationId": "listWatchers",
        "summary": "Retrieves watchers for a channel.",
        "description": "Returns watchers for the specified channel. Archived watchers are excluded by default.\nTo include archived watchers, explicitly specify the archived status in the status filter.\n",
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "description": "Unique channel identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Maximum number of watchers to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Number of watchers to skip for pagination",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "name",
            "description": "Filter watchers by name (case-insensitive partial match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter watchers by status. Multiple values allowed. Archived watchers are excluded by default when no status filter is specified.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/WatcherStatus"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "in": "query",
            "name": "chain_selector",
            "description": "Filter watchers by chain selector",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "chain_environment",
            "description": "Filter watchers by chain environment (mainnet or testnet). If omitted, returns all chain environments.",
            "schema": {
              "$ref": "#/components/schemas/ChainEnvironment"
            }
          },
          {
            "in": "query",
            "name": "address",
            "description": "Filter watchers by contract address",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "service",
            "description": "Filter watchers by service. Multiple values allowed.",
            "example": ["dta"],
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "in": "query",
            "name": "event_name",
            "description": "Filter watchers by event name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatcherList"
                },
                "example": {
                  "data": [],
                  "has_more": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Channel not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}/watchers/{watcher_id}": {
      "get": {
        "tags": ["Watchers"],
        "operationId": "getWatcher",
        "summary": "Retrieves a specific watcher by ID.",
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "description": "Unique channel identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "watcher_id",
            "required": true,
            "description": "Unique watcher identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Watcher found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Watcher"
                },
                "example": {
                  "watcher_id": "a8098c1a-f86e-11da-bd1a-00112444be1e",
                  "channel_id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                  "created_at": 1715698800,
                  "status": "active",
                  "chain_selector": "16015286601757825753",
                  "address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                  "events": ["SubscriptionRequested"],
                  "don_family": "zone-a"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Channel or query not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested query was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Watchers"],
        "operationId": "updateWatcher",
        "summary": "Updates a watcher.",
        "description": "Updates watcher properties. Can be used to update the name or to transition the watcher status (e.g., to archived).\nWhen transitioning to archived status, the operation is asynchronous and returns 202 with the watcher in archiving state.\n",
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "description": "Unique channel identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "watcher_id",
            "required": true,
            "description": "Unique watcher identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Watcher update parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWatcher"
              },
              "example": {
                "name": "updated-watcher"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Watcher updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Watcher"
                },
                "example": {
                  "watcher_id": "a8098c1a-f86e-11da-bd1a-00112444be1e",
                  "channel_id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                  "created_at": 1715698800,
                  "status": "active",
                  "chain_selector": "16015286601757825753",
                  "address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                  "events": ["SubscriptionRequested"],
                  "don_family": "zone-a"
                }
              }
            }
          },
          "202": {
            "description": "Archive request accepted. The watcher is transitioning to archived state asynchronously.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Watcher"
                },
                "example": {
                  "watcher_id": "a8098c1a-f86e-11da-bd1a-00112444be1e",
                  "channel_id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                  "created_at": 1715698800,
                  "status": "archiving",
                  "chain_selector": "16015286601757825753",
                  "address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                  "events": ["SubscriptionRequested"],
                  "don_family": "zone-a"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "VALIDATION_ERROR",
                  "message": "Invalid request data."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Channel or watcher not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "409": {
            "description": "Watcher with the same name already exists in the channel, or the watcher was modified concurrently by another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "CONFLICT",
                  "code": "WATCHER_ALREADY_EXISTS",
                  "message": "conflict error: a watcher with name 'updated-watcher' already exists in this channel"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}/operations": {
      "post": {
        "tags": ["Operations"],
        "operationId": "createOperation",
        "summary": "Creates a signed operation or draft request, scoped to a channel.",
        "description": "Creates a signed or draft operation first, depending on the presence of a signature.\nSigned operations are relayed immediately. Drafts can be finalized or cancelled later.\nThe operation is scoped to the channel, and will only be visible to the channel.\n",
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "description": "Unique channel identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Operation creation parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperation"
              },
              "example": {
                "chain_selector": "16015286601757825753",
                "address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                "wallet_operation_id": "42",
                "deadline": 0,
                "transactions": [
                  {
                    "to": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                    "value": "0",
                    "data": "0x"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Operation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponse"
                },
                "example": {
                  "operation_id": "c1e5b8d0-1234-5678-abcd-ef0123456789"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "VALIDATION_ERROR",
                  "message": "Invalid request data."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Channel or wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "examples": {
                  "channelNotFound": {
                    "value": {
                      "type": "NOT_FOUND",
                      "code": "CHANNEL_NOT_FOUND",
                      "message": "channel with ID abc not found"
                    }
                  },
                  "walletNotFound": {
                    "value": {
                      "type": "NOT_FOUND",
                      "code": "WALLET_NOT_FOUND",
                      "message": "wallet with address 0x742d35Cc6634C0532925a3b844Bc454e4438f44e and chain_selector 16015286601757825753 not found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Wallet is archived and can no longer accept operations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "CONFLICT",
                  "code": "WALLET_ALREADY_ARCHIVED",
                  "message": "conflict error: cannot create operations on an archived wallet"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Operations"],
        "operationId": "listOperations",
        "summary": "Retrieves operations for a channel.",
        "description": "Returns operation records for the channel, including audit subjects and preview snapshots when available.\n",
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "description": "Unique channel identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Maximum number of operations to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Number of operations to skip for pagination",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter operations by status. Multiple values allowed.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/OperationStatus"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "in": "query",
            "name": "chain_selector",
            "description": "Filter operations by chain selector",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "chain_environment",
            "description": "Filter operations by chain environment (mainnet or testnet). If omitted, returns all chain environments.",
            "schema": {
              "$ref": "#/components/schemas/ChainEnvironment"
            }
          },
          {
            "in": "query",
            "name": "address",
            "description": "Filter operations by wallet address",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "wallet_id",
            "description": "Filter operations by wallet ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "initiator_subject_type",
            "description": "Filter operations by initiator subject type.",
            "schema": {
              "$ref": "#/components/schemas/SubjectType"
            }
          },
          {
            "in": "query",
            "name": "initiator_subject_id",
            "description": "Filter operations by initiator subject ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "signer_subject_type",
            "description": "Filter operations by signer subject type.",
            "schema": {
              "$ref": "#/components/schemas/SubjectType"
            }
          },
          {
            "in": "query",
            "name": "signer_subject_id",
            "description": "Filter operations by signer subject ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "canceller_subject_type",
            "description": "Filter operations by canceller subject type.",
            "schema": {
              "$ref": "#/components/schemas/SubjectType"
            }
          },
          {
            "in": "query",
            "name": "canceller_subject_id",
            "description": "Filter operations by canceller subject ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                },
                "example": {
                  "data": [
                    {
                      "operation_id": "c1e5b8d0-1234-5678-abcd-ef0123456789",
                      "status": "accepted",
                      "chain_selector": "16015286601757825753",
                      "address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                      "wallet_operation_id": "42",
                      "deadline": 0,
                      "transactions": [],
                      "initiator": {
                        "subject_type": "api_key",
                        "subject_id": "key-123",
                        "subject_name": "my-key"
                      },
                      "signature": null,
                      "created_at": 1715698800,
                      "updated_at": 1715698800
                    }
                  ],
                  "has_more": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Channel not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested channel was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}/operations/{operation_id}": {
      "get": {
        "tags": ["Operations"],
        "operationId": "getOperation",
        "summary": "Gets Operation record for a specific operation.",
        "description": "Returns the operation record.\n",
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "description": "Unique channel identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "operation_id",
            "required": true,
            "description": "Unique operation identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                },
                "example": {
                  "operation_id": "c1e5b8d0-1234-5678-abcd-ef0123456789",
                  "status": "accepted",
                  "chain_selector": "16015286601757825753",
                  "address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                  "wallet_operation_id": "42",
                  "deadline": 0,
                  "transactions": [],
                  "initiator": {
                    "subject_type": "api_key",
                    "subject_id": "key-123",
                    "subject_name": "my-key"
                  },
                  "signature": null,
                  "created_at": 1715698800,
                  "updated_at": 1715698800
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Channel or operation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Operations"],
        "operationId": "finalizeOrCancelOperation",
        "summary": "Finalizes or cancels an operation.",
        "description": "Finalize by sending status accepted with signature and digest.\nCancel by sending status cancelled with no additional fields.\nThe request body is a oneOf with closed branches so invalid combinations and extra fields are rejected.\n",
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "description": "Unique channel identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "operation_id",
            "required": true,
            "description": "Unique operation identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Operation finalization or cancellation parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchOperation"
              },
              "example": {
                "status": "cancelled"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                },
                "example": {
                  "operation_id": "c1e5b8d0-1234-5678-abcd-ef0123456789",
                  "status": "cancelled",
                  "chain_selector": "16015286601757825753",
                  "address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                  "wallet_operation_id": "42",
                  "deadline": 0,
                  "transactions": [],
                  "initiator": {
                    "subject_type": "api_key",
                    "subject_id": "key-123",
                    "subject_name": "my-key"
                  },
                  "signature": null,
                  "created_at": 1715698800,
                  "updated_at": 1715698800
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "VALIDATION_ERROR",
                  "message": "Invalid request data."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Channel or operation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "409": {
            "description": "Operation could not be finalized or cancelled because it is in an invalid state, its deadline elapsed, or it was modified concurrently.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "examples": {
                  "notFinalizable": {
                    "value": {
                      "type": "CONFLICT",
                      "code": "OPERATION_NOT_FINALIZABLE",
                      "message": "conflict error: operation is not in a finalizable state"
                    }
                  },
                  "notCancellable": {
                    "value": {
                      "type": "CONFLICT",
                      "code": "OPERATION_NOT_CANCELLABLE",
                      "message": "conflict error: operation is not in a cancellable state"
                    }
                  },
                  "deadlineElapsed": {
                    "value": {
                      "type": "CONFLICT",
                      "code": "OPERATION_DEADLINE_ELAPSED",
                      "message": "conflict error: operation deadline has elapsed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}/events": {
      "get": {
        "tags": ["Events"],
        "operationId": "listChannelEvents",
        "summary": "Retrieves events from a channel.",
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "description": "Unique channel identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Maximum number of events to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 200
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset for message-oriented pagination. If not provided, the API returns the latest limit events ordered by descending offset.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Events retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                },
                "example": {
                  "events": [],
                  "has_more": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "VALIDATION_ERROR",
                  "message": "Invalid request parameters."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Channel not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}/events/search": {
      "get": {
        "tags": ["Events"],
        "operationId": "searchChannelEvents",
        "summary": "Query and search historical events from a channel.",
        "description": "Retrieves events with filtering capabilities. Use this endpoint for historical queries and searches. For real-time polling, use the /events endpoint.\n\nNote: Some query parameters only apply to specific event types. Invalid parameter combinations for a given event type will result in a 400 Bad Request response:\n- operation.status: status, chain_selector, address, wallet_operation_id\n- query.status: status, chain_selector, query_id\n- watcher.status: watcher_id, status, chain_selector\n- watcher.event: watcher_id, chain_selector, address, event_name, service\n- wallet.status: wallet_id, status, chain_selector, address\n\nUniversal parameters (apply to all types): type, limit, offset, created.*\nQuery event payload filtering by query_id is not supported; fetch /channels/{channel_id}/queries/{query_id} when a query_id is already known.\n",
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "description": "Unique channel identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Maximum number of events to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset for message-oriented pagination",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "type",
            "description": "Filter events by type. Multiple values allowed.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EventType"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "in": "query",
            "name": "created.lt",
            "description": "Filter events created before this timestamp",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "created.lte",
            "description": "Filter events created at or before this timestamp",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "created.gt",
            "description": "Filter events created after this timestamp",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "created.gte",
            "description": "Filter events created at or after this timestamp",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "chain_selector",
            "description": "Filter by chain selector",
            "example": ["16015286601757825753"],
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "in": "query",
            "name": "chain_environment",
            "description": "Filter by chain environment (mainnet or testnet). If omitted, returns all chain environments.",
            "schema": {
              "$ref": "#/components/schemas/ChainEnvironment"
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter by operation status. Multiple values allowed.",
            "example": ["confirmed"],
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "in": "query",
            "name": "watcher_id",
            "description": "Filter by watcher ID (applies to watcher.status and watcher.event types)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "wallet_id",
            "description": "Filter by wallet ID (applies to wallet.status type)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "address",
            "description": "Filter by wallet address. Multiple values allowed.",
            "example": ["0x742d35Cc6634C0532925a3b844Bc454e4438f44e"],
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EthereumAddress"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "in": "query",
            "name": "wallet_operation_id",
            "description": "Filter by wallet operation ID (applies to operation.status type)",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "operation_id",
            "description": "Filter by operation ID (applies to operation.status type)",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "query_id",
            "description": "Filter by query ID (applies to query.status type)",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "event_name",
            "description": "Filter by event name (applies to watcher.event type)",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "service",
            "description": "Filter by watcher service. Multiple values allowed.",
            "example": ["dta"],
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Events retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                },
                "example": {
                  "events": [],
                  "has_more": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "VALIDATION_ERROR",
                  "message": "Invalid request parameters."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Channel not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}/events/search/{event_id}": {
      "get": {
        "tags": ["Events"],
        "operationId": "getChannelEvent",
        "summary": "Retrieves a specific event by ID from a channel.",
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "description": "Unique channel identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "event_id",
            "required": true,
            "description": "Unique event identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                },
                "example": {
                  "event_id": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                  "payload": {
                    "status": "confirmed",
                    "status_reason": "",
                    "operation_id": "c1e5b8d0-1234-5678-abcd-ef0123456789",
                    "wallet_operation_id": "42",
                    "address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                    "chain_selector": "16015286601757825753",
                    "timestamp": 1715698800
                  },
                  "headers": {
                    "type": "operation.status",
                    "offset": 1,
                    "proofs": []
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OrganizationNotFound"
          },
          "404": {
            "description": "Channel or event not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "NOT_FOUND",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationError"
                },
                "example": {
                  "type": "INTERNAL_ERROR",
                  "message": "An internal error occurred."
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Send `Authorization: Apikey <api-key>`.\n"
      }
    },
    "responses": {
      "OrganizationNotFound": {
        "description": "The authenticated organization is not onboarded in CRE Connect. The caller's credentials are valid, but no matching organization exists.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApplicationError"
            },
            "example": {
              "type": "ORGANIZATION_NOT_FOUND",
              "message": "organization not found"
            }
          }
        }
      }
    },
    "schemas": {
      "WalletStatus": {
        "type": "string",
        "description": "Status of a wallet entity",
        "enum": ["pending", "deploying", "deployed", "archived", "failed"],
        "x-enum-varnames": [
          "WalletStatusPending",
          "WalletStatusDeploying",
          "WalletStatusDeployed",
          "WalletStatusArchived",
          "WalletStatusFailed"
        ],
        "example": "pending"
      },
      "WatcherStatus": {
        "type": "string",
        "description": "Status of a watcher entity",
        "enum": ["pending", "active", "failed", "archiving", "archived"],
        "x-enum-varnames": [
          "WatcherStatusPending",
          "WatcherStatusActive",
          "WatcherStatusFailed",
          "WatcherStatusArchiving",
          "WatcherStatusArchived"
        ],
        "example": "pending"
      },
      "OperationStatus": {
        "type": "string",
        "description": "Status of an operation",
        "enum": [
          "accepted",
          "pending_signature",
          "sending",
          "sent",
          "broadcasting",
          "confirmed_latest",
          "confirmed_safe",
          "confirmed",
          "cancelled",
          "expired",
          "failed"
        ],
        "x-enum-varnames": [
          "OperationStatusAccepted",
          "OperationStatusPendingSignature",
          "OperationStatusSending",
          "OperationStatusSent",
          "OperationStatusBroadcasting",
          "OperationStatusConfirmedLatest",
          "OperationStatusConfirmedSafe",
          "OperationStatusConfirmed",
          "OperationStatusCancelled",
          "OperationStatusExpired",
          "OperationStatusFailed"
        ],
        "example": "accepted"
      },
      "QueryStatus": {
        "type": "string",
        "description": "Status of a chain query.",
        "enum": ["accepted", "sending", "sent", "completed", "failed", "expired"],
        "x-enum-varnames": [
          "QueryStatusAccepted",
          "QueryStatusSending",
          "QueryStatusSent",
          "QueryStatusCompleted",
          "QueryStatusFailed",
          "QueryStatusExpired"
        ],
        "example": "accepted"
      },
      "QueryKind": {
        "type": "string",
        "description": "Kind of chain query.",
        "enum": ["evm_call"],
        "x-enum-varnames": ["QueryKindEVMCall"],
        "example": "evm_call"
      },
      "SubjectType": {
        "type": "string",
        "description": "Type of subject used for audit identity and filtering.",
        "enum": ["api_key", "user"],
        "x-enum-varnames": ["SubjectTypeApiKey", "SubjectTypeUser"],
        "example": "api_key"
      },
      "WalletType": {
        "type": "string",
        "description": "Type of wallet",
        "enum": ["ecdsa", "rsa", "protected_ecdsa", "protected_rsa"],
        "x-enum-varnames": ["WalletTypeECDSA", "WalletTypeRSA", "WalletTypeProtectedECDSA", "WalletTypeProtectedRSA"],
        "example": "ecdsa"
      },
      "EventType": {
[...]
