.navTabs {
  display: none;
  align-items: center;
  list-style: none;
  position: relative;
}

.navTabs li {
  padding: var(--space-5x) var(--space-4x);
}

.highlighted {
  color: var(--color-text-link-hover);
}

.navTabs svg {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.fade {
  transition: opacity 0.3s;
}

.slide {
  transition: left 0.3s;
}

@media screen and (min-width: 768px) {
  .navTabs {
    display: flex;
  }
}
