---
import ClickToZoomCustom from "./ClickToZoomCustom.tsx"

export type Props = {
  src: string
  alt?: string
  style?: string
  caption?: string
}
const { src, alt, style, caption } = Astro.props as Props
---

<div class="click-to-zoom-container">
  <ClickToZoomCustom src={src} alt={alt} style={style} caption={caption} client:only="react" />
</div>

<style>
  .click-to-zoom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
</style>
