.demosSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-6x);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid var(--border);
}

.card {
  display: flex;
  flex-direction: column;
  padding: var(--space-6x);
  overflow: hidden;
  transition: box-shadow 0.2s ease;
  gap: var(--space-4x);

  &:hover {
    background-color: var(--muted);
  }

  &:hover .footerTag {
    background-color: var(--background);
  }

  &:hover .footerArrow {
    opacity: 1;
  }
}

.card:not(:last-child) {
  border-right: 1px solid var(--border);
}

.imageContainer {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body {
  margin-bottom: var(--space-4x);
}
.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-4x);
  flex: 1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-1x);
}

.footer {
  display: flex;
  justify-content: space-between;

  margin-top: auto;
  padding-top: var(--space-4x);
}

.footerArrow {
  opacity: 0;
  display: flex;
  align-items: end;
}
@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 570px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .card:not(:last-child) {
    border-bottom: 1px solid var(--border);
    border-right: none;
  }
}
