---
import "../styles/theme.css"
import "../styles/index.css"
import "../styles/migrated.css"
import "../styles/prism-darcula.css"
import "@chainlink/design-system/global-styles.css"

export interface Props {
  title: string
}
const { title } = Astro.props
---

<title>{title}</title>

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="/images/logo.png" rel="apple-touch-icon" />

<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Preconnect to speed up external resource loading -->
<link rel="preconnect" href="https://d2f70xi62kby8n.cloudfront.net" crossorigin />
<link rel="dns-prefetch" href="https://d2f70xi62kby8n.cloudfront.net" />
<link rel="preconnect" href="https://smartcontract.imgix.net" crossorigin />
<link rel="dns-prefetch" href="https://smartcontract.imgix.net" />
<link rel="preconnect" href="https://js.hs-analytics.net" crossorigin />
<link rel="preconnect" href="https://js.hscollectedforms.net" crossorigin />
<link rel="preconnect" href="https://js.usemessages.com" crossorigin />

<!-- Preload critical fonts -->
<link
  rel="preload"
  href="https://smartcontract.imgix.net/fonts/Inter-VariableFont_opsz,wght.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>
<link
  rel="preload"
  href="https://smartcontract.imgix.net/fonts/TASAOrbiterDisplay-SemiBold.woff"
  as="font"
  type="font/woff"
  crossorigin
/>

<!-- Scrollable a11y code helper - defer to not block render -->
<script src="/make-scrollable-code-focusable.js" defer></script>

<!-- Google Tag Manager -->
<script type="text/javascript">
  ;(function (w, d, s, l, i) {
    w[l] = w[l] || []
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" })
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : ""
    j.async = true
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl
    f.parentNode.insertBefore(j, f)
  })(window, document, "script", "dataLayer", "GTM-N6DQ47T")
</script>
<!-- End Google Tag Manager -->

<meta name="algolia-site-verification" content="5C6E2FAC077D2F49" />

<meta name="zd-site-verification" content="o5ebdvmw2aadxhrrro8id" />
