---
import "../styles/theme.css"
import "../styles/index.css"
import "../styles/migrated.css"
import "../styles/prism-darcula.css"
import "@chainlink/design-system/global-styles.css"
import "../styles/tailwind.css"

export interface Props {
  title: string
}
const { title } = Astro.props
---

<title>{title}</title>

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="/images/logo.png" rel="apple-touch-icon" />

<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Preconnect to speed up external resource loading -->
<link rel="preconnect" href="https://d2f70xi62kby8n.cloudfront.net" crossorigin />
<link rel="dns-prefetch" href="https://d2f70xi62kby8n.cloudfront.net" />
<link rel="preconnect" href="https://smartcontract.imgix.net" crossorigin />
<link rel="dns-prefetch" href="https://smartcontract.imgix.net" />
<link rel="preconnect" href="https://js.hs-analytics.net" crossorigin />
<link rel="preconnect" href="https://js.hscollectedforms.net" crossorigin />
<link rel="preconnect" href="https://js.usemessages.com" crossorigin />

<!-- Preload critical fonts (company CDN) -->
<link
  rel="preload"
  href="https://smartcontract.imgix.net/fonts/TASAOrbiterDisplay-SemiBold.woff"
  as="font"
  type="font/woff"
  crossorigin
/>
<!-- Preload Inter fonts for better performance -->
<link
  rel="preload"
  href="https://smartcontract.imgix.net/fonts/Inter-VariableFont_opsz,wght.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>
<link
  rel="preload"
  href="https://smartcontract.imgix.net/fonts/Inter-Italic-VariableFont_opsz,wght.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>

<!-- Scrollable a11y code helper - defer to not block render -->
<script src="/make-scrollable-code-focusable.js" defer></script>

<!-- Preconnects to speed GTM/GA when they load -->
<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin />
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin />

<!-- Google Tag Manager (lazy init on first interaction or idle) -->
<script type="text/javascript">
  ;(function (w, d, s, l, i) {
    w[l] = w[l] || []
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" })
    function loadGTM() {
      if (w.__gtmLoaded) return
      w.__gtmLoaded = true
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : ""
      j.async = true
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl
      f.parentNode.insertBefore(j, f)
    }
    function onFirstInput() {
      loadGTM()
      ;["pointerdown", "keydown", "wheel", "touchstart"].forEach((evt) =>
        d.removeEventListener(evt, onFirstInput, { passive: true })
      )
    }
    ;["pointerdown", "keydown", "wheel", "touchstart"].forEach((evt) =>
      d.addEventListener(evt, onFirstInput, { passive: true })
    )
    if ("requestIdleCallback" in w) {
      requestIdleCallback(loadGTM, { timeout: 3000 })
    } else {
      setTimeout(loadGTM, 3000)
    }
  })(window, document, "script", "dataLayer", "GTM-N6DQ47T")
</script>

<meta name="algolia-site-verification" content="5C6E2FAC077D2F49" />

<meta name="zd-site-verification" content="o5ebdvmw2aadxhrrro8id" />
