<section class="overflow-wrapper">
  <slot />
</section>

<style>
  .overflow-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 82px;
    padding-top: 56px;
  }

  @media screen and (max-width: 425px) {
    .overflow-wrapper {
      gap: 36px;
      padding-top: 0;
    }
  }
</style>
