.copyContainer {
  display: inline-flex;
  align-items: center;
  gap: var(--space-1x);
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  margin-top: 0;
}

.copyBtn {
  background: none;
  border: none;
}

.copyBtn:hover {
  color: var(--color-text-link);
}
