---
export interface Props {
  tutorials: Array<{
    name: string
    url: string
    icon: string
  }>
}

const { tutorials } = Astro.props as Props

const currentPath = Astro.url.pathname

const normalizeUrl = (url: string) => {
  return url.trim().replace(/\/$/, "")
}

const isActive = (tutorialUrl: string) => {
  const normalizedCurrentPath = normalizeUrl(currentPath)
  const normalizedTutorialUrl = normalizeUrl(tutorialUrl)
  return normalizedCurrentPath === normalizedTutorialUrl
}

const tutorialDetails = tutorials.filter(
  (tutorial): tutorial is { name: string; url: string; icon: string } =>
    tutorial.url !== undefined && tutorial.icon !== undefined
)
---

<div class="tutorial-table">
  {
    tutorialDetails.map((tutorial) => (
      <a href={tutorial.url} class={`tutorial-column ${isActive(tutorial.url) ? "active" : ""}`}>
        <img src={tutorial.icon} alt={`${tutorial.name} icon`} class="tutorial-icon" />
        <div>{tutorial.name}</div>
      </a>
    ))
  }
</div>

<style>
  .tutorial-table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem;
  }

  .tutorial-column {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid var(--gray-200, rgb(236, 237, 239));
    color: var(--gray-500, rgb(133, 138, 149));
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 16px;
    padding: 9px 20px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  .tutorial-column:hover:not(.active) {
    color: var(--blue-700);
    border-bottom-color: var(--blue-700);
  }

  .tutorial-icon {
    margin-right: 10px;
    width: 23px;
    height: 23px;
  }

  .tutorial-column.active {
    color: var(--blue-600, rgb(55, 91, 210));
    border-bottom-color: var(--blue-600, rgb(55, 91, 210));
  }

  @media (max-width: 768px) {
    .tutorial-table {
      padding: 0.5rem;
    }

    .tutorial-column {
      padding: 9px 10px;
      flex-direction: column;
    }

    .tutorial-table {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .tutorial-icon {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
</style>
