.container {
  position: fixed;
  z-index: 5;
  background-color: #fff;
  width: 100vw;
  box-shadow: 0 0 24px 0 rgba(35, 51, 123, 0.1);
}

.container[aria-hidden="true"] {
  pointer-events: none;
  top: 0;
  opacity: 0;
  transition: top 400ms ease, opacity 0ms 400ms;
}

.container[aria-hidden="false"] {
  pointer-events: initial;
  /* Offset by 1 to eliminate spaces at top */
  top: calc(var(--theme-navbar-height) - 1px);
  opacity: 1;
  transition: top 400ms ease, opacity 0ms 0ms;
}

.heightWrapper {
  height: 100vh;
  height: -webkit-fill-available;
}

.heading {
  display: flex;
  align-items: center;
  gap: var(--space-2x);
  /* TODO: Set height to global token */
  height: var(--space-16x);
  padding: 0 var(--space-4x);
}

.heading button {
  min-width: fit-content;
  padding-left: var(--space-4x);
  padding-right: var(--space-4x);
}

.heading p {
  margin: 0;
  color: var(--color-text-heading);
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (min-width: 50em) {
  .container {
    display: none;
  }
}
