.container {
  height: auto;
  position: relative;
}

.container header {
  position: initial;
}

.searchForm {
  display: flex;
  align-items: center;
  gap: var(--space-4x);
  width: 100%;
  border: none;
  outline: none;
}

.searchTrigger {
  width: var(--space-5x);
  height: var(--space-5x);
}

.searchForm input {
  display: flex;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%; /* default width for smaller screens */
  border: var(--border-width-primary) solid var(--blue-200);
  outline: none;
}

/* Styles for viewports of at least 768px wide */
@media screen and (min-width: 768px) {
  .searchForm input {
    width: 190px; /* Set initial width */
    border: var(--border-width-primary) solid transparent;
    transition: width 0.5s ease, border 0.5s ease;
    text-overflow: ellipsis;
  }

  .searchForm input:hover {
    width: 250px; /* Set hover width */
    border: var(--border-width-primary) solid var(--blue-200);
    background: var(--color-background-primary);
    transition: width 0.3s ease, border 0.3s ease; /* Faster transitions on hover */
  }
}
