.header {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
}

.navBar {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: transform 0.3s ease-in-out;
}

.container {
  composes: container from global;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-block: var(--space-0x);
  width: auto;
  height: var(--space-16x);
  gap: var(--space-3x);
}

.headerPlaceholder {
  height: var(--space-16x);
  visibility: hidden;
}

.headerHidden {
  transform: translateY(-100%);
}

.logoSection,
.menuSection,
.rightSection {
  display: flex;
  align-items: center;
}

.rightSection {
  flex-direction: row-reverse;
  gap: var(--space-2x);
}

:is(.button, .iconButton) {
  display: none;
}

:global(.wg-drop.country-selector .wgcurrent.wg-li) {
  border: none;
  background: none;
  display: flex;
  height: var(--space-10x);
  padding: var(--space-2x) var(--space-2x) var(--space-2x) 0;
  line-height: var(--space-4x);
  justify-content: center;
  align-items: center;
  color: var(--blue-700);
  border: var(--border-width-primary) solid transparent;
  border-radius: var(--border-radius-primary);
  transition: background-color 300ms ease-out, border 300ms ease-out, border-radius 300ms ease-out;
}

:global(.wg-drop.country-selector .wgcurrent.wg-li):hover {
  border: var(--border-width-primary) solid var(--blue-200);
  background: var(--background-color-background-primary);
}

:global(.wg-drop.country-selector) {
  background: none !important;
}

:global(.weglot-container div:before) {
  content: url(/assets/icons/ecology-globe-message-1.svg);
  padding-left: 0.5rem;
  padding-top: 0.2rem;
}

:global(.wg-drop.country-selector .wg-current a) {
  padding-left: 0 !important;
  padding-right: 24px !important;
  color: var(--color-text-primary) !important;
}

:global(#weglot-listbox) {
  border-radius: var(--border-radius-primary);
  color: var(--color-text-primary) !important;
}

:global(.country-selector a) {
  color: var(--color-text-primary) !important;
  padding-right: 24px !important;
}

:global(.country-selector .wgcurrent:hover a),
:global(.country-selector :not(.wgcurrent) a:hover) {
  color: var(--color-text-link) !important;
}

:global(.wg-drop.country-selector .wgcurrent:after) {
  background-image: url("/assets/icons/caret.svg") !important;
}

:global(.wg-drop.country-selector .wgcurrent:hover:after) {
  background-image: url("/assets/icons/caret-blue.svg") !important;
}

:global(.wg-drop.country-selector.closed .wgcurrent:after) {
  transform: rotate(0deg) !important;
}

:global(.wg-drop.country-selector.open .wgcurrent:after) {
  transform: rotate(-180deg) !important;
}

.weglotContainer {
  margin-right: var(--space-2x);
  display: flex;
  align-items: center;
}

.quickLinksWrapper {
  position: relative;
  display: inline-block;
}

.quickLinksButton {
  display: none;
  background: none;
  border: var(--border-width-primary) solid transparent;
  cursor: pointer;
  border-radius: var(--border-radius-primary);
  padding: var(--space-1x);
  transition: background-color 300ms ease-out, border 300ms ease-out, border-radius 300ms ease-out;
}

.quickLinksButton:hover {
  border: var(--border-width-primary) solid var(--blue-200);
  background: var(--background-color-background-primary);
}

.quickLinksIcon {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  transition: filter 0.3s ease;
}

.quickLinksButton:hover .quickLinksIcon {
  filter: none;
}

.quickLinksTooltip {
  visibility: hidden;
  background-color: var(--blue-600);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  min-width: 130px;
  display: none;
  align-items: center;
  gap: 5px;
}

.quickLinksWrapper:hover .quickLinksTooltip {
  visibility: visible;
  opacity: 1;
}

.infoIcon {
  width: 14px;
  height: 14px;
  margin-right: 1px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modalContentWrapper {
  position: relative;
  background-color: #fff;
  padding: 4em 1em;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
}

.modalContent {
  overflow-y: auto;
  flex-grow: 1;
}

.modalTitle {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
}

.modalTitle span {
  font-weight: 600;
  font-size: inherit;
  line-height: inherit;
  color: var(--blue-600);
}

.modalDescription {
  margin-bottom: 1em;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 100%;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  color: var(--gray-600);
}

.closeButton:hover {
  color: var(--blue-600);
}

@media screen and (min-width: 768px) {
  .quickLinksButton {
    display: inline;
  }
}

@media screen and (min-width: 768px) {
  :is(.button) {
    display: flex;
    height: var(--space-10x);
    gap: var(--space-2x);
    padding: var(--space-2x);
    line-height: var(--space-4x);
    justify-content: center;
    align-items: center;
    color: var(--blue-700);
    border: var(--border-width-primary) solid transparent;
    transition: background-color 300ms ease-out, border 300ms ease-out, border-radius 300ms ease-out;
  }

  :is(.button):hover {
    border-radius: var(--border-radius-primary);
    border: var(--border-width-primary) solid var(--blue-200);
    background: var(--background-color-background-primary);
  }

  :is(.button) :is(svg, img) {
    width: var(--space-5x);
    height: var(--space-5x);
    min-width: var(--space-5x);
    min-height: var(--space-5x);
    fill: var(--color-text-primary);
  }

  .searchTrigger {
    display: initial;
  }

  .rightSection {
    flex-direction: row;
    justify-content: flex-end;
  }

  .quickLinksTooltip {
    display: flex;
  }
}

@media screen and (min-width: 1080px) {
  .quickLinksButton {
    display: inline;
  }

  .modalContentWrapper {
    width: 80%;
  }
}

/* For fixing the layout shifts caused by the search widget */
@media screen and (min-width: 995px) {
  .rightSection {
    width: 340px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--space-4x);
    height: var(--space-16x);
  }

  .logoSection {
    display: none;
  }

  .menuSection {
    order: 1;
    flex-grow: 0;
    justify-content: flex-start;
  }

  .rightSection {
    order: 3;
    flex-grow: 0;
    justify-content: flex-end;
  }

  .searchTrigger {
    display: none;
  }

  .weglotContainer {
    margin-right: 0;
  }
}
