.wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input {
  margin: 0px;
  font-size: 14px;
  border-width: var(--border-width-primary);
  border-style: solid;
  border-color: transparent;
  width: 100%;
  color: rgb(12, 22, 44);
  background-color: var(--bg-white);
  outline: 0px;
  display: block;
  background-repeat: no-repeat;
  appearance: none;
  line-height: 22px;
  border-radius: var(--border-radius-primary);
  background-image: url(/assets/search.svg);
  background-position: left 8px top 50%;
  padding: 8px 8px 8px 40px;
  flex-grow: 1;
}
.input:focus {
  border-color: var(--color-text-link);
}
.input::placeholder {
  font-style: italic;
}

.closeButton {
  background-color: transparent;
  border: none;
  padding: 0;
  display: none;
}

.closeButtonMobile {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--color-text-link);
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}
@media (min-width: 50em) {
  .closeButton {
    display: block;
  }

  .closeButtonMobile {
    display: none;
  }
}
