.ccip-table {
  border: none;
  text-align: start;
}

.ccip-table thead th {
  /* Body/Body Semi S */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  text-align: start;
  background-color: transparent;

  color: #6c7585;
}

.ccip-table tbody td {
  text-align: start;

  /* Body/Body */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #141921;
}
