---
import FeedsCommonCallout from "../callouts/FeedsCommonCallout.astro"
import { FeedList } from "./FeedList.tsx"
import type { DataFeedType } from "./FeedList.tsx"
import { Aside } from "~/components"
export type Props = {
  initialNetwork?: string
  ecosystem: string
  dataFeedType?: DataFeedType
}
import { getServerSideChainMetadata } from "../api/backend"
import { CHAINS, SOLANA_CHAINS } from "../data/chains"

const { initialNetwork, ecosystem, dataFeedType } = Astro.props

const initialCache = await getServerSideChainMetadata([
  ...CHAINS,
  ...SOLANA_CHAINS,
])
---

{
  ecosystem === "solana" ? (
    <>
      <p>
        To learn how to use these feeds, see the{" "}
        <a href="/docs/solana/using-data-feeds-solana/">Solana Examples</a> for
        Consuming Data Feeds.
      </p>
      <p>
        To learn how to obtain SOL tokens on the Solana Devnet, see the{" "}
        <a href="https://docs.solana.com/cli/transfer-tokens#airdrop-some-tokens-to-get-started">
          Solana Documentation.
        </a>
      </p>
    </>
  ) : (
    <>
      <p>
        To learn how to use these feeds, see the{" "}
        <a href="/docs/get-the-latest-price/">
          Ethereum Examples for Consuming Data Feeds.
        </a>
      </p>
      <p>
        For LINK token and Faucet details, see the{" "}
        <a href="/docs/link-token-contracts/">LINK Token Contracts</a> page.
      </p>
    </>
  )
}

<FeedsCommonCallout callout="etfBestPractices" />

<FeedsCommonCallout callout="quality" />

<FeedList
  client:idle
  initialNetwork={initialNetwork ?? "ethereum"}
  dataFeedType={dataFeedType ?? "default"}
  ecosystem={ecosystem ?? ""}
  initialCache={initialCache}
/>

<Aside type="caution">
  <p>
    Please be careful with the feeds used by your smart contracts. The feeds
    listed in our official documentation have been reviewed; feeds built for
    custom deployments by other community members might have additional risks.
    Please do close diligence on your feeds before implementing them in your
    contracts.{" "}
    <a href="/docs/data-feeds/selecting-data-feeds/">
      Learn more about making responsible data quality decisions.</a
    >
  </p>
</Aside>
