.detailHidden {
  display: none;
}

.hoverText {
  text-decoration: none;
}

hr.shutDate {
  margin: 2px;
  border: 0;
  height: 1px;
  background: #dfe2e5;
}

div.shutDate {
  font-size: 11px;
  text-align: center;
  line-height: 1.25em;
}

.clChainnavProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* position: sticky; */
  /* top: 0; */
  /* z-index: +1; */
}
.clChainnavProduct > div {
  background-color: #ffffff;
  max-width: 700px;
  min-width: 345px;
  padding: 16px 16px 16px 16px;
  border-radius: 8px;
  border: 1px solid #dee7fc;
  text-align: center;
  flex: 1;
}
.clChainnavProduct > div > div > div {
  color: rgb(61, 69, 86);
  font-size: 18px;
  display: inline-flex;
  width: 150px;
  height: 32px;
  margin: 6px;
}
.clChainnavProduct > div > div > div:hover {
  cursor: pointer;
  font-weight: bold;
}
.clChainnavProduct > div > div > div > span {
  margin-left: 6px;
  margin-top: 6px;
}
.clChainnavProduct > div > div > div > img {
  max-width: 32px;
  max-height: 32px;
  min-width: 32px;
  transition: all 0.2s;
}
.clChainnavProduct > div > div > div:hover > img {
  cursor: pointer;
  transform: scale(1.15);
}
.selectedNetwork {
  font-weight: bold;
  pointer-events: none;
}
.selectedNetwork > img {
  transform: scale(1.15);
}

.networkSwitchButton {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.networkSwitchButton[aria-selected="false"] span {
  border-color: transparent;
}
.networkSwitchButton img {
  height: 32px;
}
