---
import Aside from "@components/Aside.astro"
---

<Aside type={"tip"} title={"Prerequisites"}>
  <p>
    You should be familiar with the <a href="/docs/architecture-request-model/"
      >Chainlink Basic Request Model
    </a>. If you are new to developing smart contracts on Ethereum, see the <a
      href="/docs/conceptual-overview/"
      >Getting Started
    </a> guide to learn the basics.
  </p>
</Aside>
