---
---

<footer class="footer">
  <div class="footer-grid container">
    <nav class="footer-col">
      <h3 class="h3 footer-heading">Developers</h3>
      <ul role="list" class="footer-list">
        <li class="footer-list-item">
          <a href="https://chain.link/developer-resources" class="footer-list-item-link"> Developer resources</a>
        </li>
        <li class="footer-list-item">
          <a href="/resources/link-token-contracts" class="footer-list-item-link"> LINK Token Contracts</a>
        </li>
        <li class="footer-list-item">
          <a href="/data-feeds" class="footer-list-item-link"> Data Feeds</a>
        </li>
        <li class="footer-list-item">
          <a href="/data-streams" class="footer-list-item-link"> Data Streams</a>
        </li>
        <li class="footer-list-item">
          <a href="/vrf" class="footer-list-item-link"> VRF</a>
        </li>
        <li class="footer-list-item">
          <a href="/chainlink-automation" class="footer-list-item-link"> Automation</a>
        </li>
        <li class="footer-list-item">
          <a href="/chainlink-functions" class="footer-list-item-link"> Functions</a>
        </li>
        <li class="footer-list-item">
          <a href="/ccip" class="footer-list-item-link"> CCIP</a>
        </li>
      </ul>
    </nav>
    <nav class="footer-col">
      <h3 class="h3 footer-heading">Solutions</h3>
      <ul role="list" class="footer-list">
        <li class="footer-list-item">
          <a href="https://chain.link/solutions" class="footer-list-item-link"> Overview</a>
        </li>
        <li class="footer-list-item">
          <a href="https://chain.link/solutions/defi" class="footer-list-item-link"> DeFi</a>
        </li>
        <li class="footer-list-item">
          <a href="https://chain.link/vrf" class="footer-list-item-link"> Chainlink VRF</a>
        </li>
      </ul>
    </nav>
    <nav class="footer-col">
      <h3 class="h3 footer-heading">Community</h3>
      <ul role="list" class="footer-list">
        <li class="footer-list-item">
          <a href="https://chain.link/hackathon/" class="footer-list-item-link"> Chainlink Hackathon</a>
        </li>
        <li class="footer-list-item">
          <a href="https://chain.link/community" class="footer-list-item-link"> Community overview</a>
        </li>
        <li class="footer-list-item">
          <a href="https://chain.link/community/grants" class="footer-list-item-link"> Grant program</a>
        </li>
        <li class="footer-list-item">
          <a href="https://chain.link/community/events" class="footer-list-item-link"> Events</a>
        </li>
        <li class="footer-list-item">
          <a href="https://chain.link/community/advocates" class="footer-list-item-link"> Become an advocate</a>
        </li>
        <li class="footer-list-item">
          <a href="https://chain.link/code-of-conduct" class="footer-list-item-link"> Code of conduct</a>
        </li>
      </ul>
    </nav>
    <nav class="footer-col">
      <h3 class="h3 footer-heading">Chainlink</h3>
      <ul role="list" class="footer-list">
        <li class="footer-list-item">
          <a href="https://chain.link/ecosystem" class="footer-list-item-link"> Ecosystem</a>
        </li>
        <li class="footer-list-item">
          <a href="https://chain.link/press" class="footer-list-item-link"> Press</a>
        </li>
        <li class="footer-list-item">
          <a href="https://blog.chain.link" class="footer-list-item-link"> Blog</a>
        </li>
        <li class="footer-list-item">
          <a href="https://chain.link/team" class="footer-list-item-link"> Team</a>
        </li>
        <li class="footer-list-item footer-list-item-hidden">
          <a href="https://chainlinklabs.com/careers" class="footer-list-item-link"> Careers</a>
          <div class="footer-wearehiring-badge">
            <div class="badge-text">WE&nbsp;ARE&nbsp;HIRING!</div>
          </div>
        </li>
        <li class="footer-list-item">
          <a href="https://chain.link/brand-assets" class="footer-list-item-link"> Brand assets</a>
        </li>
        <li class="footer-list-item">
          <a href="https://chain.link/faqs" class="footer-list-item-link"> FAQs</a>
        </li>
      </ul>
    </nav>
    <nav class="footer-col">
      <h3 class="h3 footer-heading">Contact</h3>
      <ul role="list" class="footer-list">
        <li class="footer-list-item">
          <a href="mailto:security@chain.link" class="footer-list-item-link"> Security</a>
        </li>
        <li class="footer-list-item">
          <a href="mailto:support@chain.link" class="footer-list-item-link"> Support</a>
        </li>
        <li class="footer-list-item">
          <a href="mailto:press@chain.link" class="footer-list-item-link"> Press inquiries</a>
        </li>
      </ul>
    </nav>
    <nav class="footer-col">
      <h3 class="h3 footer-heading">Social</h3>
      <ul role="list" class="footer-list">
        <li class="footer-list-item-social">
          <img
            src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcc8de393ea2bffa0ff_twitter.svg"
            loading="lazy"
            width="24"
            height="24"
            alt=""
            class="footer-list-item-social-icon"
          /><a href="https://twitter.com/chainlink" class="footer-list-item-link"> Twitter</a>
        </li>
        <li class="footer-list-item-social">
          <img
            src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcc3830fc22d9bc18c8_youtube.svg"
            loading="lazy"
            width="24"
            height="24"
            alt=""
            class="footer-list-item-social-icon"
          /><a href="https://www.youtube.com/channel/UCnjkrlqaWEBSnKZQ71gdyFA" class="footer-list-item-link">
            YouTube
          </a>
        </li>
        <li class="footer-list-item-social">
          <img
            src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcff3840d5ec8300b30_discord.svg"
            loading="lazy"
            width="24"
            height="24"
            alt=""
            class="footer-list-item-social-icon"
          /><a href="https://discord.gg/aSK4zew" class="footer-list-item-link"> Discord</a>
        </li>
        <li class="footer-list-item-social">
          <img
            src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcceaf22843cde97118_telegram.svg"
            loading="lazy"
            width="24"
            height="24"
            alt=""
            class="footer-list-item-social-icon"
          /><a href="https://t.me/chainlinkofficial" class="footer-list-item-link"> Telegram</a>
        </li>
        <li class="footer-list-item-social">
          <img
            src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcc8e9ff41b546f039f_wechat.svg"
            loading="lazy"
            width="24"
            height="24"
            alt=""
            class="footer-list-item-social-icon"
          /><a href="https://blog.chain.link/chainlink-chinese-communities/" class="footer-list-item-link"> WeChat</a>
        </li>
        <li class="footer-list-item-social">
          <img
            src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcc8f83d17d2d857106_reddit.svg"
            loading="lazy"
            width="24"
            height="24"
            alt=""
            class="footer-list-item-social-icon"
          /><a href="https://www.reddit.com/r/Chainlink/" class="footer-list-item-link"> Reddit</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="footer-copyright-wrapper">
    <div class="footer-copyright">
      <div class="col footer-registry">
        <a href="/" class="footer-copyright-logo">
          <img
            src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f7610da8f83d1e6028573c7_chainlink-logo-footer.svg"
            loading="lazy"
            alt="Chainlink logo"
            class="logo-white"
          />
        </a>
        <div class="paragraph small footer-chainlinkreg hidden-sm">Chainlink®</div>
        <div class="paragraph small footer-chainlinkreg hidden-sm">
          {" "}&copy 2025 Chainlink Foundation
        </div>
      </div>
      <div class="col footer-privacyandterms">
        <a href="https://chain.link/privacy-policy">Privacy Policy</a>
        <a href="https://chain.link/terms">Terms of Use</a>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer {
    padding: 82px 0 0;
    background-color: var(--gray-800);
    font-size: 16px;
  }
  .footer-grid {
    display: grid;
    padding-bottom: 64px;
    gap: 32px;
  }
  .footer-heading {
    color: var(--white);
    font-size: 18px;
  }
  .footer-chainlinkreg {
    white-space: nowrap;
  }

  .footer-list-item {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
  }

  .footer-list-item.footer-list-item-hidden {
    display: none;
  }

  .footer-list-item-link {
    color: #9ea2ab;
  }
  .footer-list-item-link:hover {
    color: white;
  }

  .footer-list-item-social {
    display: flex;
    margin-bottom: 16px;
  }

  .footer-list-item-social-icon {
    margin-right: 8px;
  }

  .footer-copyright-wrapper {
    width: 100%;
    background-color: var(--gray-900);
    padding: var(--space-8x);
    font-size: 14px;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    gap: var(--space-8x);
  }
  .footer-registry {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer-privacyandterms {
    justify-content: space-evenly;
    gap: var(--space-8x);
  }
  .footer-privacyandterms a {
    color: var(--white);
  }

  @media (min-width: 50em) {
    .footer-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .footer-copyright {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .footer-registry {
      flex-direction: row;
    }
    .footer-copyright-logo {
      margin-right: var(--space-8x);
    }
    .footer-chainlinkreg {
      margin-right: var(--space-4x);
    }
  }

  /** Utilities */
  .col {
    display: flex;
    align-items: center;
  }
  .footer-logo-text-hide {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 0;
    height: 0;
    min-width: 0;
    opacity: 0;
  }
  .hidden-sm {
    display: none;
  }
  @media (min-width: 50em) {
    .hidden-sm {
      display: block;
    }
  }
</style>
