/* Tab styling - copied from TabGrid */
.gridHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-8x);
  flex-wrap: wrap;
  gap: var(--space-8x);
}

.tabsTrigger {
  height: 32px;
  padding: var(--space-1x) var(--space-2x);
  justify-content: center;
  align-items: center;
  border-radius: var(--space-2x);
  background-color: var(--pill);
  border: 1px solid var(--pill-border);
}

.tabsTrigger:hover {
  background-color: var(--pill-hover);
}

.tabsTrigger[data-state="active"] {
  background-color: var(--pill-active);
  border-color: var(--pill-active);
  border-bottom: 1px solid var(--pill-active);

  & h3 {
    color: var(--pill-active-foreground);
  }
}

.tabTitle {
  color: var(--pill-foreground);
  font-weight: 400;
}

.tabsList {
  display: flex;
  gap: var(--space-2x);
  border-bottom: 0;
  flex-wrap: wrap;
  justify-content: start !important;
}

.journeyGrid {
  display: grid;
  grid-template-columns: 1fr;
  border-left: 1px solid var(--border);
  border-top: 1px solid var(--border);
}

.journeyCard {
  display: flex;
  flex-direction: column;
  gap: var(--space-6x);
  padding: var(--space-6x);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.journeyCard:hover {
  background-color: var(--muted);

  .footerTag {
    background-color: var(--background);
  }

  .footerIcon {
    opacity: 1;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-2x);
}

.journeyFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  flex: 1;
  width: 100%;
}

.footerIcon {
  height: 12px;
  width: 12px;
  opacity: 0;
}

.footerTag {
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .journeyGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .gridHeader > h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 425px) {
  .journeyGrid {
    grid-template-columns: 1fr;
  }
  .gridHeader {
    margin-bottom: var(--space-6x);
  }
}

@media screen and (max-width: 390px) {
  .gridHeader {
    flex-direction: column;
    align-items: start;
  }
}
