---
import FeedsCommonCallout from "../callouts/FeedsCommonCallout.astro"
import { FeedList } from "./FeedList.tsx"
import type { DataFeedType } from "./FeedList.tsx"
import { Aside } from "~/components"
export type Props = {
  initialNetwork?: string
  ecosystem: string
  dataFeedType?: DataFeedType
}
import { getServerSideChainMetadata } from "../api/backend"
import { CHAINS } from "../data/chains"
import { Aside } from "@components"

const { initialNetwork, ecosystem, dataFeedType } = Astro.props

const initialCache = await getServerSideChainMetadata([...CHAINS])
---

{
  ecosystem === "deprecating" ? (
    <>
      <p>
        The smart contract ecosystem is constantly evolving. As a result, Data Feeds within the Chainlink ecosystem are
        continuously evaluated for their usage and economic viability across all the blockchains and layer-2 networks
        they are deployed on.
      </p>
      <p>
        Data Feeds without publicly known active users may be scheduled for deprecation. Doing so not only helps
        preserve blockchains as public goods by optimizing blockspace usage, but it helps reduce unnecessary costs
        incurred by Chainlink node operators. This process is part of a broader ecosystem shift towards Chainlink
        Economics 2.0, designed to maximize the adoption of the Chainlink protocol while optimizing for cost-efficiency
        and long-term economic sustainability. Over time, new Data Feeds may be launched or relocated to alternative{" "}
        blockchains/layer-2s that better reflect current user demand.
      </p>
      <p>
        For status updates regarding Data Feeds, users should join the official Chainlink Discord and subscribe to the{" "}
        <a href="https://discord.gg/Dqy5N9UbsR">data-feeds-user-notifications channel</a>.
      </p>
      <p>Users with additional questions are encouraged to reach out here.</p>
      <p>
        A list of data feeds designated for deprecation along with their corresponding shutdown date can be found below.
      </p>
    </>
  ) : (
    <>
      {dataFeedType === "nftFloor" ? (
        <>
          <p>
            To learn how to use these feeds, see the{" "}
            <a href="/data-feeds/nft-floor-price">NFT Floor Price Feeds documentation.</a>
          </p>
          <p>
            For LINK token and Faucet details, see the <a href="/docs/link-token-contracts/">LINK Token Contracts</a>{" "}
            page.
          </p>
          <Aside type="note" title="Talk to an expert">
            <a href="https://chainlinkcommunity.typeform.com/to/OYQO67EF?page=docs-datafeeds">Contact us</a> to talk to
            an expert about integrating Chainlink Data Feeds with your applications.
          </Aside>
        </>
      ) : dataFeedType === "por" ? (
        <>
          <p>
            To learn how to use these feeds, see the{" "}
            <a href="/data-feeds/proof-of-reserve/">Proof Of Reserve Feeds documentation.</a>
          </p>
          <p>
            For LINK token and Faucet details, see the <a href="/docs/link-token-contracts/">LINK Token Contracts</a>{" "}
            page.
          </p>
          <Aside type="note" title="Talk to an expert">
            <a href="https://chainlinkcommunity.typeform.com/to/OYQO67EF?page=docs-datafeeds">Contact us</a> to talk to
            an expert about integrating Chainlink Data Feeds with your applications.
          </Aside>
          <FeedsCommonCallout callout="porVerification" />
          <FeedsCommonCallout callout="quality" />
        </>
      ) : (
        <>
          <p>
            To learn how to use these feeds, see the <a href="/data-feeds/price-feeds/">Using Price Feeds guide.</a>
          </p>
          <p>
            For LINK token and Faucet details, see the <a href="/docs/link-token-contracts/">LINK Token Contracts</a>{" "}
            page.
          </p>
          <Aside type="note" title="Talk to an expert">
            <a href="https://chainlinkcommunity.typeform.com/to/OYQO67EF?page=docs-datafeeds">Contact us</a> to talk to
            an expert about integrating Chainlink Data Feeds with your applications.
          </Aside>
          <FeedsCommonCallout callout="etfBestPractices" />
          <FeedsCommonCallout callout="quality" />
        </>
      )}
    </>
  )
}

<FeedList
  client:idle
  initialNetwork={initialNetwork ?? "ethereum"}
  dataFeedType={dataFeedType ?? "default"}
  ecosystem={ecosystem ?? ""}
  initialCache={initialCache}
/>

<Aside type="caution">
  <p>
    Please be careful with the feeds used by your smart contracts. The feeds listed in our official documentation have
    been reviewed; feeds built for custom deployments by other community members might have additional risks. Please do
    close diligence on your feeds before implementing them in your contracts.{" "}
    <a href="/data-feeds/selecting-data-feeds"> Learn more about making responsible data quality decisions.</a>
  </p>
</Aside>
