.tableWrapper {
  overflow-x: auto;
  margin-top: var(--space-2x);
}

.table {
  table-layout: auto;
  width: 100%;
}

.table th[aria-hidden="true"],
.table td[aria-hidden="true"] {
  display: none;
}

.table th:nth-child(1),
.table td:nth-child(1) {
  width: 150px;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 80px;
}
.table th:nth-child(3),
.table td:nth-child(3) {
  width: 80px;
}
.table th:nth-child(4),
.table td:nth-child(4) {
  width: 50px;
}

.heading {
  font-family: var(--font-family-text);
  line-height: 1.3;
  font-weight: var(--font-weight-medium);
  color: var(--color-text-heading);
}

.statusIcon {
  margin-right: var(--space-1x);
}

.assetPair {
  /* white-space: nowrap; */
  color: var(--color-text-heading);
  width: 100%;
}

.assetName {
  min-width: 150px;
}

.assetAddress {
  display: flex;
  align-items: center;
  gap: var(--space-1x);
}

.addressLink {
  background: var(--color-background-secondary);
  padding: 1px 0px;
  border-radius: var(--border-radius-10);
  word-break: break-word;
}

.copyBtn {
  background: none;
  border: none;
  height: 16px;
  width: 16px;
  min-width: 12px;
}

.copyBtn:hover {
  color: var(--color-text-link);
}

.porDl > div {
  display: flex;
  align-items: center;
  gap: var(--space-1x);
}

.pagination {
  display: flex;
  margin: 8px 0px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4px;
}

@media screen and (max-width: 500px) {
  .pagination {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.pagination p {
  text-align: center;
  margin: 8px 0px 0px;
}

@media screen and (max-width: 500px) {
  .pagination p {
    order: 1;
    width: 100%;
  }
}
