.table th[aria-hidden="true"],
.table td[aria-hidden="true"] {
  display: none;
}

.heading {
  font-family: var(--font-family-text);
  line-height: 1.3;
  font-weight: var(--font-weight-medium);
  color: var(--color-text-heading);
}

.statusIcon {
  margin-right: var(--space-1x);
}

.assetPair {
  /* white-space: nowrap; */
  color: var(--color-text-heading);
  width: 100%;
}

.assetName {
  min-width: 150px;
}

.assetAddress {
  display: flex;
  align-items: center;
  gap: var(--space-1x);
}

.addressLink {
  background: var(--color-background-secondary);
  padding: 1px 5px;
  border-radius: var(--border-radius-10);
}
.copyBtn {
  background: none;
  border: none;
}
.copyBtn:hover {
  color: var(--color-text-link);
}

.porDl > div {
  display: flex;
  align-items: center;
  gap: var(--space-1x);
}
