.tabPane {
  display: none;
}

.tabElement {
  margin-top: var(--space-4x);
}

.active {
  display: block;
}

.navTabs {
  display: flex;
  list-style: none;
  margin: 0;
  border-bottom: 2px solid var(--gray-200);
}

.navTabs li a {
  padding: var(--space-4x);
  gap: var(--space-4x);
}

.activeTab {
  border-bottom: 2px solid var(--color-text-link);
  margin-bottom: -2px;
}
