.section {
  display: flex;
  flex-direction: column;
  gap: var(--space-8x);
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-6x);
}

.mediaWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: var(--space-2x);
}
