.container {
  position: relative;
  padding-right: var(--space-24x);
  padding-left: var(--space-24x);
  padding-bottom: var(--space-4x);
  padding-top: var(--space-4x);
}

.container p {
  margin-right: var(--space-6x);
  margin-bottom: 0px;
}

.dismiss {
  position: absolute;
  right: var(--space-24x);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--space-4x);
  cursor: pointer;
  background: white;
  border-radius: 50%;
  color: var(--color-primary);
}

@media (max-width: 72em) {
  .container {
    padding-right: var(--space-16x);
    padding-left: var(--space-16x);
  }

  .dismiss {
    right: var(--space-12x);
  }
}

@media (max-width: 768px) {
  .container {
    justify-content: start;
  }

  .container {
    padding-right: var(--space-6x);
    padding-left: var(--space-6x);
  }
  .dismiss {
    right: var(--space-6x);
  }
}
