.container {
  position: relative;
}

.dismiss {
  position: absolute;
  right: var(--space-24x);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--space-4x);
  cursor: pointer;
  background: white;
  border-radius: 50%;
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .container {
    justify-content: start;
  }

  .container p {
    padding-right: var(--space-6x);
  }
  .dismiss {
    right: var(--space-6x);
  }
}
