---
import { Code } from "astro/components"
import fs from "node:fs/promises"
import path from "node:path"

const { src, lang } = Astro.props
console.log(path.join(process.cwd(), "public", src))

const data = await fs.readFile(path.join(process.cwd(), "public", src), "utf-8")
---

<Code code={data.toString()} lang={lang} />
<div class="remix-callout">
  <a
    href={`https://remix.ethereum.org/#url=https://docs.chain.link/${src}`}
    target="_blank"
    >Open in Remix
  </a>
  <a href="/docs/conceptual-overview/#what-is-remix">What is Remix?</a>
</div>
