.ccip-hero__breadcrumb {
  display: flex;
  gap: var(--space-2x);
  align-items: center;
  color: var(--gray-500);
  flex-wrap: wrap;
}

.ccip-hero__breadcrumb a {
  color: var(--gray-500);
}

.ccip-hero__breadcrumb a:hover {
  color: var(--gray-700);
}

.ccip-hero__breadcrumb a:last-child {
  color: var(--gray-900);
  font-weight: var(--font-weight-bold);
}
