* {
  box-sizing: border-box;
}
body {
  font-family: 'Circular', Tahoma, sans-serif;
}

pre {
  background: #272822;
  color: #f8f8f2;
  padding: 1em;
  overflow: auto;
  border-radius: 0.3em;
}
p code,
ul li code {
  color: #a50909;
  background-color: #f6f8fa;
  border-radius: 3px;
  margin: 0;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
}

#page {
  max-width: 1440px;
  margin: 0px auto;
  color: #666;
  padding-bottom: 40px;
}

/** Code Tabs */
code-tabs {
  max-width: 100%;
  overflow-x: scroll;
}
.tab-bar {
  margin-top: 32px;
  white-space: nowrap;
}
.tab-bar > * {
  border: 1px solid #ccc;
  border-width: 1px 1px 0 1px;
  border-radius: 8px 8px 0 0;
  padding: 12px 8px;
  cursor: pointer;
}
.tab-bar .selected {
  background-color: #1a2b6b;
  color: white;
}

.tab-bar .selected:empty {
  display: none;
}

/** Callouts */
rdme-callout {
  display: block;
  border-style: solid;
  border-width: 0 0 0 3.5px;
  border-color: rgb(80, 175, 81);
  background-color: rgb(243, 248, 243);
  padding: 16px 16px 4px 16px;
  margin: 32px 0;
}
rdme-callout > *:first-child {
  color: rgb(72, 158, 73);
  font-size: 17.5px;
}
rdme-callout[theme='error'] {
  border-color: rgb(175 80 80);
  background-color: rgb(248 243 243);
}
rdme-callout[theme='error'] > *:first-child {
  color: rgb(158, 72, 72);
  font-size: 17.5px;
}
rdme-callout[theme='warn'] {
  border-color: #f0ad4e;
  background-color: #fcf8f2;
}
rdme-callout[theme='warn'] > *:first-child {
  color: #eea236;
  font-size: 17.5px;
}

.footer-heading,
.cl-box-blue h1,
.cl-box-blue h2,
.cl-box-blue h3 {
  color: #fff;
  margin-top: 0;
}

/** Top Navigation */
#nav-container {
  height: 88px;
  border-bottom: 4px solid #dfe7fb;
}
#nav-container nav {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  margin: 0px auto;
  max-width: 1440px;
  height: 100%;
  padding: 0 32px;
  display: flex;
  align-items: center;
}
#nav-container nav > div {
  margin-right: 40px;
}
#nav-container nav a {
  color: rgb(61, 69, 86);
}
#nav-container nav a.active {
  border-bottom: 2px solid #375bd2;
  color: #375bd2;
}
#nav-container .tab a {
  margin-right: 15px;
}
a:hover,
#nav-container .tab a:hover {
  color: #375bd2;
}
a.anchor {
  display: none;
}
h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor {
  display: inline;
}
a.anchor img {
  margin: 0 0 0 8px;
}

/** Home page */

.home-content {
  display: flex;
}
.home-content > div {
  margin: 0px auto;
  padding: 0 16px 16px 16px;
}

/** Side navigation */
.nav-content {
  display: flex;
}
.nav-content > div {
  width: 800px;
  max-width: 800px;
  margin: 0px auto;
  padding: 0 16px 16px 16px;
}
navigation {
  padding: 24px 8px 0 16px;
  min-width: calc(250px + 32px + 8px);
  margin-top: 20px;
  border-right: 1px solid #ccc;
  height: 100%;
  max-height: 100vh;
  overflow: auto;
  position: sticky;
  top: 0;
}
navigation a {
  display: block;
  color: #666;
  padding-left: 16px;
}
navigation a:hover {
  background-color: #f2f2f2;
}
navigation > * {
  margin-bottom: 32px;
  width: 250px;
}
navigation > * > * {
  padding-top: 4px;
  padding-bottom: 4px;
}

navigation .active,
navigation a.active:hover {
  background-color: #2a5ada;
  color: white;
}
navigation .menu {
  display: none;
}
.nomenu {
  display: none;
}
.nav-header {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 16px;
  color: #384248;
}

/* notification */
.notification {
  transition: max-height 2s ease-out;
  max-height: 0px;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 15000;
}
.notification-info {
  position: relative;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 0;
  line-height: 1.8;
  font-family: sans-serif;
  font-weight: 400;
  justify-content: center;
  border-bottom: 4px solid #dfe7fb;
  background-color: #1a2b6b;
  color: #fff;
}

.notification-info a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

.notification-text {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.notification-text-highlight {
  margin-right: 8px;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
  background-color: #375bd2;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}

.notification-close {
  float: right;
  padding-top: 5px;
  font-size: 10px;
  cursor: hand;
  cursor: pointer;
}

.clear {
  clear: both;
}

/** Tables */
th {
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5px;
}
th,
td {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}
thead tr {
  background-color: #f6f8fa;
}
tr:nth-child(2n) {
  background-color: rgb(251, 252, 253);
}

hr {
  margin-bottom: 40px;
}
.title {
  display: flex;
}
.title h1 {
  flex-grow: 1;
}
.title .corner-floated {
  white-space: nowrap;
  width: 170px;
  margin-top: 40px;
  text-align: right;
}

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.cl-button-container {
  align-items: center;
  text-align: center;
}
.cl-section {
  padding: 0 0 48px;
  justify-content: center;
  align-content: space-between;
}
.cl-section-header {
  padding: 0 0 48px;
  justify-content: left;
}
.markdown-body .cl-section {
  padding: 0 0 48px;
  text-align: center;
}
.markdown-body img {
  box-sizing: content-box;
  display: inline-block;
  vertical-align: middle;
  max-width: 48px;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  outline: none !important;
}

.cl-section--one {
  margin-top: 30px;
}
.cl-section--one h3 {
  font-size: 18px;
}
.remix-callout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** Search */
#searchbox-button {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  padding-right: 50px;
  opacity: 50%;
}
#searchbox-button:hover {
  opacity: 100%;
}
#resultsBox {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  border-radius: 8px;
  border: 1px solid #ccc;
  height: 60vh;
  left: 5%;
  right: 5%;
  margin: 32px;
  padding: 16px;
  z-index: 10000;
  background-color: white;
  overflow: hidden;

  filter: drop-shadow(5px 5px 4px #ccc);
  box-shadow: rgb(12 22 44 / 32%) 0px 8px 24px -16px;
}
#search-form {
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(206, 208, 213);
  color: rgb(109, 115, 128);
  background-color: rgb(255, 255, 255);
  outline: 0px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
#search-query {
  width: 100%;
  height: 44px;
  border: 0px solid white;
}
#resultsOutput {
  overflow-y: scroll;
  flex-grow: 1;
  padding-bottom: 32px;
  height: 90%;
}

/** Fonts */
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6fbcaf971fa9e17e9_Circular-light.ttf')
    format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6889a3104ca8ef398_circular-bold.otf')
    format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b670be0c59b5a42a52_circular-black-italic.otf')
    format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6f70ec965c3533791_circular-black.otf')
    format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6fbcaf987b59e17ea_circular-book.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6db7e2e3b93a8f81e_circular-bold-italic.otf')
    format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6276c78c4766f0b5f_circular-book-italic.otf')
    format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6276c786d176f0b60_circular-medium-italic.otf')
    format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6b0e2c7aa6fa925f8_circular-medium.otf')
    format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/** Custom Chain Cards **/

.cl-chaincard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cl-chaincard h2 {
  margin-top: 16px;
}

.cl-chaincard > div {
  width: 300px;
  min-width: 275px;
  max-width: 320px;
  margin: 8px;
  border-radius: 8px;
  border: 1px solid #dee7fc;
  text-align: center;
  flex: 1;
}

.cl-chaincard-logo {
  display: block;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.cl-chaincard-logo > img {
  height: 40px;
  max-height: 40px;
  transition: all 0.2s;
}

.cl-chaincard-logo:hover > img {
  cursor: pointer;
  transform: scale(1.2);
 }

.cl-chaincard-logo:hover > h2 {
  cursor: pointer;
  color: #6d7380;
}

.cl-chaincard-links {
  list-style-type: none;
  padding: 8px;
  margin: 0px;
  text-align: left;
}

.cl-chaincard-links > li {
  margin-bottom: 12px;
}

.cl-chaincard-links > li > a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  color: #6d7380;
  transition: all 0.2s;
}

.cl-chaincard-links > li:hover > a {
  color: #375bd2;
}

.cl-chaincard-links > li > a > img {
  margin-left: auto;
  margin-right: 0px;
  width: 12px;
  transition: all 0.2s;
}

.cl-chaincard-links > li:hover > a > img {
  transform: translate(5px, 0px);
}

/** Imported from old site **/
.cl-custom-page {
  text-align: center;
}

.cl-custom-page .cl-section {
  padding: 0 0 48px;
}

.cl-featuredcard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0px 0px;
}
.cl-featuredcard > div {
  padding: 24px;
  border-radius: 8px;
  margin: 8px;
  border: 1px solid #dee7fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}
.cl-featuredcard > div > div {
  max-height: 225px;
}

.cl-button--ghost-sm {
  padding: 2px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.cl-button--ghost {
  display: inline-block;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #375bd2;
  margin: 6px auto;
  border-radius: 6px;
  box-sizing: border-box;
  text-decoration: none !important;
  color: #375bd2;
  text-align: center;
  transition: all 0.2s;
}

.cl-button--ghost:hover {
  color: #ffffff;
  background-color: #375bd2;
}

.cl-box {
  width: 100%;
  height: auto;
  margin: 0px auto;
  text-align: center;
  border-radius: 16px;
}

.cl-box__lightblue {
  background-color: #f5f7fe;
}

.docs__main-link {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.cl-section--docs img {
  height: 70px;
}

.cl-section--docs h2 {
  margin-bottom: 40px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #dee7fc;
  margin-left: 0;
  margin-right: 0;
}

.cl-section--tools h2 {
  margin-bottom: 40px;
}

.cl-productcard {
  padding: 16px;
  padding-top: 32px;
  width: 100%;
  border-radius: 8px;
  border: 0px solid #dee7fc;
  background-color: #ffffff;
  transition: all 0.2s;
}

.cl-productcard:hover {
  background-color: #f5f7fe;
  cursor: pointer;
}

.cl-productcard:hover h2 {
  color: #375bd2 !important;
}
.cl-productcard h3 {
  font-size: 18px;
}

.cl-box-blue {
  background-color: #375bd2;
  border-radius: 16px;
  color: #fff;
  padding: 32px;
}

.cl-box-blue a {
  border: 2px solid #fff;
  color: #fff;
}

.cl-box-blue a:hover {
  color: #375bd2;
  background-color: #fff;
}

.cl-section--questions,
.cl-section--questions p {
  color: #fff !important;
}

.cl-select {
  padding: 2px 1px;
}

.nextSteps table td a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 16px;
}
.nextSteps table td:hover {
  background-color: rgba(238, 238, 238, 0.7);
}

/** Copied from chain.link **/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  color: #375bd2;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  max-width: 80%;
  vertical-align: middle;
  display: inline-block;
}

svg:not(:root) {
  overflow: hidden;
}

pre,
textarea {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input {
  line-height: normal;
}

input[type='search'] {
  -webkit-appearance: none;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-size: 16px;
  line-height: 21px;
  color: #333;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

/* The logo next to the page title */
img.page-logo {
  margin: 30px 10px 0px 0px;
  max-height: 50px;
  max-width: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #384248;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 40px;
  line-height: 44px;
}

h1.page-title {
  font-size: 34px;
}

h1 {
  font-size: 32px;
  line-height: 34px;
}

h2 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

.w-list-unstyled {
  padding-left: 0;
  list-style: none;
}

.w-embed:after,
.w-embed:before {
  content: ' ';
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-embed:after {
  clear: both;
}

button,
html input[type='button'],
input[type='reset'] {
  border: 0;
  cursor: pointer;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 64px;
  padding-left: 64px;
}

.paragraph.small {
  font-size: 14px;
}

.paragraph.small.footer-copyright {
  width: auto;
  margin-right: 24px;
  color: #858a95;
}

.paragraph.small.footer-copyright.footer-chainlinkreg {
  display: block;
  color: #858a95;
}

.paragraph.small.footer-chainlinkreg {
  color: #858a95;
}

.footer {
  padding: 120px 0 0;
  background-color: #252e42;
  font-size: 16px;
}
.footer h3 {
  font-size: 16px;
  font-weight: 700;
}

.footer-grid {
  padding-bottom: 120px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-row-gap: 32px;
  -ms-grid-columns: auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-col {
  width: auto;
}

.footer-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.footer-list-item.footer-list-item-hidden {
  display: none;
}

.footer-list-item-link {
  color: #9ea2ab;
}

.footer-list-item-social {
  display: flex;
  margin-bottom: 8px;
}

.footer-list-item-social-icon {
  margin-right: 8px;
}

.footer-copyright {
  width: 100%;
  background-color: #0c162c;
}

.footer-copyright-wrapper {
  display: flex;
  height: 92px;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright-wrapper-col {
  display: flex;
  align-items: center;
}

.footer-copyright-logo {
  margin-right: 24px;
}

.footer-copyright-logo.w--current {
  position: relative;
}

.footer-logo-text-hide {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 0;
  height: 0;
  min-width: 0;
  opacity: 0;
}

.html-embed {
  max-height: 30px;
  max-width: 120px;
}

/** Mobile */
@media screen and (max-width: 900px) {
  navigation:not(.open) {
    display: none;
  }
  navigation.open {
    display: block;
    position: absolute;
    margin-top: 0;
    height: 100vh;
    background-color: white;
    z-index: 10000;
    width: 100%;
    padding-top: 0;
  }
  .nomenu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  navigation .menu {
    display: block;
    width: 100%;
  }
  .nav-content > div {
    width: 100%;
  }
  #nav-container {
    height: auto;
  }
  #nav-container nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
  }
  #nav-container .tab {
    padding: 8px 8px 4px 0;
    display: inline;
  }
  #nav-container .tab a {
    padding: 0;
  }
  #github-button {
    display: none;
  }
  .nav-content {
    flex-direction: column;
  }
  .nav-content > div {
    padding-top: 0px;
  }
  footer.footer {
    padding-top: 0px;
  }
  footer > .container {
    display: none;
  }
  .container {
    padding: 0;
  }
  #searchbox-button {
    padding: 0;
  }
  .page-title {
    margin-top: 8px;
  }
  .title {
    flex-direction: column;
  }
  .title .corner-floated {
    width: 100%;
    text-align: left;
    margin-top: 8px;
  }
  .cl-featuredcard {
    flex-direction: column;
  }
  .cl-featuredcard > div > div {
    height: auto;
  }
  .cl-featuredcard {
    height: auto;
    margin-bottom: 20px;
  }
  .cl-section--one .cl-featuredcard {
    height: auto;
  }
  .cl-box {
    padding: 24px 24px;
  }
  .cl-featuredcard-docs {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #dee7fc;
    margin-bottom: 20px;
  }
  .corner-floated {
  }
}
@media only screen and (min-width: 576px) {
  .col-md-4 {
    flex-basis: 32%;
    max-width: 32%;
    margin: 0 10px 10px 0;
  }
  .col-md-4:last-child {
    margin-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
    margin-left: 20px;
  }
}

.form-success-message {
  position: static;
  height: 100px;
  background-color: transparent;
  display: none;
}

.subscribe-header {
  margin-bottom: 32px;
}

.h1.cta-subscribe-h1 {
  margin-top: 0px;
  margin-bottom: 48px;
  color: #1a2b6b;
  font-size: 40px;
  line-height: 56px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.subscribe-form-success-social {
  margin-right: 4px;
  margin-left: 4px;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.subscribe-form-success-social:hover {
  -webkit-transform: translate(0px, -4px);
  -ms-transform: translate(0px, -4px);
  transform: translate(0px, -4px);
}

.subscribe-text-block {
  display: block;
  border-radius: 3px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
}

.form-subscribe-field-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.field-label-hidden {
  overflow: hidden;
  width: 0px;
  height: 0px;
  text-indent: 100%;
  white-space: nowrap;
}

.btn {
  padding: 16px 32px;
  border-style: solid;
  border-width: 2px;
  border-color: #e7e8ea;
  border-radius: 4px;
  background-color: #e7e8ea;
  box-shadow: 0 12px 32px -12px rgba(12, 22, 44, 0.32);
  color: #6d7380;
  line-height: 20px;
  text-decoration: none;
}

.btn.btn-secondary {
  border-color: #375bd2;
  background-color: #fff;
  -webkit-transition: background-color 300ms ease, border-color 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border-color 300ms ease, color 300ms ease;
  color: #375bd2;
  cursor: pointer;
}

.btn.btn-secondary:hover {
  border-color: #1a2b6b;
  background-color: #f5f7fd;
  color: #1a2b6b;
}

.btn.btn-secondary:active {
  border-color: #0c162c;
  color: #0c162c;
}

.form-subscribe-wrapper {
  height: auto;
}

.form-error-message {
  position: relative;
  top: 50px;
  max-width: 555px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  background-color: #ea6a5d;
  display: none;
}

.form-subscribe-checkbox {
  display: block;
  margin-top: 16px;
  cursor: pointer;
  font-size: 14px;
  color: #6d7380;
}

.form-subscribe-checkbox > input {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  cursor: pointer;
  vertical-align: middle;
}

.cta-subscribe-input {
  width: 416px;
  height: 56px;
  max-height: 56px;
  max-width: 416px;
  min-height: 56px;
  margin-right: 16px;
  margin-bottom: 0px;
  padding-right: 24px;
  padding-left: 24px;
  border-style: solid;
  border-width: 2px;
  border-color: #ced0d5;
  border-radius: 4px;
  box-shadow: 0 12px 32px -12px rgba(12, 22, 44, 0.32);
}

.cta-subscribe-input:focus {
  border-color: #375bd2;
}

.cta-subscribe-input::-webkit-input-placeholder {
  color: #6d7380;
  line-height: 20px;
}

.cta-subscribe-input:-ms-input-placeholder {
  color: #6d7380;
  line-height: 20px;
}

.cta-subscribe-input::-ms-input-placeholder {
  color: #6d7380;
  line-height: 20px;
}

.cta-subscribe-input::placeholder {
  color: #6d7380;
  line-height: 20px;
}

.form-subscribe {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 555px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.subscribe-success-social {
  margin-top: 8px;
}

.cta-subscribe {
  padding-top: 64px;
  padding-bottom: 64px;
  background-image: url('./images/background-light.jpg');
  background-position: 0% 50%;
  background-size: cover;
  color: #0c162c;
  text-align: center;
}

.cta-subscribe-inline {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
  background-image: url('./images/background-light.jpg');
  background-position: 0% 50%;
  background-size: cover;
  color: #0c162c;
  text-align: center;
}

.cta-learnmore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 72px 0px;
  background-color: #3e59c8;
}

.cta-learnmore > * {
  margin: 16px;
  padding: 48px 32px;
  border-radius: 8px;
  border: 0px solid #dee7fc;
  background-color: #ffffff;
  transition: all 0.2s;
}

.cta-learnmore > *:hover {
  background-color: #f5f7fe;
  cursor: pointer;
  transform: translate(0, -8px);
}

.cta-learnmore > * > * {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.cta-learnmore > * > * > div {
  flex-grow: 1;
}
.cta-learnmore .arrowed-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cta-learnmore-avatar {
  width: 56px;
  margin-right: 24px;
}
.cta-learnmore-arrow {
  margin-left: 16px;
}

.cta-learnmore > * > * > div > *:nth-child(1) {
  font-weight: bold;
  margin-bottom: 8px;
  color: #1a2b6b;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }

  .h1.cta-subscribe-h1 {
    max-width: 20ch;
    margin-right: auto;
    margin-left: auto;
  }

  .cta-learnmore > * {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }

  .h1 {
    font-size: 32px;
    line-height: 48px;
  }

  .cta-subscribe-input {
    width: 290px;
    max-width: 290px;
  }

  .form-subscribe {
    max-width: 427px;
  }

  .subscribe-success-message-text {
    width: 30ch;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .container {
    overflow: visible;
    padding-right: 24px;
    padding-left: 24px;
  }

  .form-subscribe-field-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .btn {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    text-align: center;
  }

  .btn.btn-secondary {
    font-size: 16px;
  }

  .form-subscribe-wrapper {
    height: auto;
  }

  .form-error-message {
    top: 55px;
  }

  .cta-subscribe-input {
    width: 100%;
    max-width: none;
    margin-bottom: 16px;
  }

  .form-subscribe {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .subscribe-success-message-text {
    width: 80%;
  }
}
