* {
  box-sizing: border-box;
}
body {
  font-family: 'Circular', Tahoma, sans-serif;
}
h1,
h2,
h3,
h4 {
  color: #384248;
}

code-tabs {
  max-width: 100%;
  overflow-x: scroll;
}
.tab-bar {
  margin-top: 16px;
}
.tab-bar > * {
  border: 1px solid #ccc;
  border-width: 1px 1px 0 1px;
  border-radius: 8px 8px 0 0;
  padding: 16px;
  cursor: pointer;
}
.tab-bar .selected {
  background-color: #1a2b6b;
  color: white;
}

#nav-container {
  height: 88px;

  border-bottom: 4px solid #dfe7fb;
}
#page {
  max-width: 1440px;
  margin: 0px auto;
  color: #666;
}
#nav-container nav {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  margin: 0px auto;
  max-width: 1440px;
  height: 100%;
  padding: 0 32px;
  display: flex;
  align-items: center;
}
#nav-container nav > * {
  margin-right: 40px;
}
#nav-container nav a {
  color: rgb(61, 69, 86);
}
a:hover {
  color: #375bd2;
  
}
.nav-content {
  display: flex;
}
.nav-content > div {
  max-width: 800px;
  margin: 0px auto;
  padding: 16px;
}
navigation {
  padding: 24px 8px 0 16px;
  width: calc(250px + 32px + 8px);
  margin-top: 20px;
  border-right: 1px solid #ccc;
}
navigation a {
  display: block;
  color: #666;
  padding:0 0 0 16px;
}
navigation a:hover {
  background-color:#F2F2F2;
}
navigation > * {
  margin-bottom: 32px;
  width: 250px;
}
navigation > * > * {
  margin-bottom: 6px;
}
.nav-header {
  font-weight: bold;
  text-transform: uppercase;
  padding-left:16px;
  color:#384248
}

#search-form input {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-family: circular, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(206, 208, 213);
  color: rgb(109, 115, 128);
  background-color: rgb(255, 255, 255);
  outline: 0px;
  display: block;
  background-position: left 8px top 50%;
  background-repeat: no-repeat;
  appearance: none;
  border-radius: 4px;
  box-shadow: rgb(12 22 44 / 32%) 0px 8px 24px -16px;
}

.cl-button--ghost {
  display: inline-block;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #375bd2;
  margin: 0 0.3em 0.3em 0;
  border-radius: 6px;
  box-sizing: border-box;
  text-decoration: none !important;
  color: #375bd2;
  text-align: center;
  transition: all 0.2s;
}
.cl-button--ghost:hover {
  color: #fff;
  background-color: #375bd2;
}

@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6fbcaf971fa9e17e9_Circular-light.ttf')
    format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6889a3104ca8ef398_circular-bold.otf')
    format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b670be0c59b5a42a52_circular-black-italic.otf')
    format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6f70ec965c3533791_circular-black.otf')
    format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6fbcaf987b59e17ea_circular-book.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6db7e2e3b93a8f81e_circular-bold-italic.otf')
    format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6276c78c4766f0b5f_circular-book-italic.otf')
    format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6276c786d176f0b60_circular-medium-italic.otf')
    format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6b0e2c7aa6fa925f8_circular-medium.otf')
    format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
