* {
  box-sizing: border-box;
}
body {
  font-family: 'Circular', Tahoma, sans-serif;
}

pre {
  background: #272822;
  color: #f8f8f2;
  padding: 1em;
  overflow: auto;
  border-radius: 0.3em;
}
p code,
ul li code {
  background-color: #f6f8fa;
  border-radius: 3px;
  margin: 0;
  padding: 0.2em 0.4em;
}

#page {
  max-width: 1440px;
  margin: 0px auto;
  color: #666;
  padding-bottom: 40px;
}

/** Code Tabs */
code-tabs {
  max-width: 100%;
  overflow-x: scroll;
}
.tab-bar {
  margin-bottom: -18px;
  margin-top: 32px;
  white-space: nowrap;
}
.tab-bar > * {
  border: 1px solid #ccc;
  border-width: 1px 1px 0 1px;
  border-radius: 8px 8px 0 0;
  padding: 12px 8px;
  cursor: pointer;
}
.tab-bar .selected {
  background-color: #1a2b6b;
  color: white;
}

.tab-bar .selected:empty, .tab-bar >span:empty {
  display: none;
}

/** Callouts */
rdme-callout {
  display: block;
  border-style: solid;
  border-width: 0 0 0 3.5px;
  border-color: rgb(80, 175, 81);
  background-color: rgb(243, 248, 243);
  padding: 16px 16px 4px 16px;
  margin: 32px 0;
}
rdme-callout > *:first-child {
  color: rgb(72, 158, 73);
  font-size: 17.5px;
}

.footer-heading,
.cl-box-blue h1,
.cl-box-blue h2,
.cl-box-blue h3 {
  color: #fff;
  margin-top: 0;
}

/** Top Navigation */
#nav-container {
  height: 88px;
  border-bottom: 4px solid #dfe7fb;
}
#nav-container nav {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  margin: 0px auto;
  max-width: 1440px;
  height: 100%;
  padding: 0 32px;
  display: flex;
  align-items: center;
}
#nav-container nav > div {
  margin-right: 40px;
}
#nav-container nav a {
  color: rgb(61, 69, 86);
}
#nav-container nav a.active {
  border-bottom: 2px solid #375bd2;
  color: #375bd2;
}
#nav-container .tab a {
  padding: 16px;
}
a:hover,
#nav-container .tab a:hover {
  color: #375bd2;
}

/** Side navigation */
.nav-content {
  display: flex;
}
.nav-content > div {
  max-width: 800px;
  margin: 0px auto;
  padding: 0 16px 16px 16px;
}
navigation {
  padding: 24px 8px 0 16px;
  width: calc(250px + 32px + 8px);
  margin-top: 20px;
  border-right: 1px solid #ccc;
}
navigation a {
  display: block;
  color: #666;
  padding-left: 16px;
}
navigation a:hover {
  background-color: #f2f2f2;
}
navigation > * {
  margin-bottom: 32px;
  width: 250px;
}
navigation > * > * {
  padding-top: 4px;
  padding-bottom: 4px;
}

navigation .active,
navigation a.active:hover {
  background-color: #2a5ada;
  color: white;
}
.nav-header {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 16px;
  color: #384248;
}

/** Tables */
th {
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}
thead tr {
  background-color: #f6f8fa;
}
tr:nth-child(2n) {
  background-color: rgb(251, 252, 253);
}

hr {
  margin-bottom: 40px;
}
.corner-floated {
  float: right;
  margin-top: 30px;
  padding-right: 30px;
  z-index: 1000;
  position: relative;
}

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.cl-button-container {
  align-items: center;
  text-align: center;
}
.cl-section {
  padding: 0 0 48px;
  justify-content: center;
  align-content: space-between;
}
.markdown-body .cl-section {
  padding: 0 0 48px;
  text-align: center;
}
.markdown-body img {
  box-sizing: content-box;
  display: inline-block;
  vertical-align: middle;
  max-width: 48px;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  outline: none !important;
}

.cl-section--one {
  margin-top: 30px;
}
.cl-section--one h3 {
  font-size: 18px;
}
.remix-callout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** Fonts */
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6fbcaf971fa9e17e9_Circular-light.ttf')
    format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6889a3104ca8ef398_circular-bold.otf')
    format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b670be0c59b5a42a52_circular-black-italic.otf')
    format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6f70ec965c3533791_circular-black.otf')
    format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6fbcaf987b59e17ea_circular-book.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6db7e2e3b93a8f81e_circular-bold-italic.otf')
    format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6276c78c4766f0b5f_circular-book-italic.otf')
    format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6276c786d176f0b60_circular-medium-italic.otf')
    format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Circular';
  src: url('https://assets.website-files.com/5f6b7190899f41fb70882d08/5f6b71b6b0e2c7aa6fa925f8_circular-medium.otf')
    format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/** Imported from old site **/
.cl-custom-page {
  text-align: center;
}

.cl-custom-page .cl-section {
  padding: 0 0 48px;
}

.cl-featuredcard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0px -8px;
}
.cl-featuredcard > div {
  padding: 24px;
  border-radius: 8px;
  margin: 8px;
  border: 1px solid #dee7fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}
.cl-featuredcard > div > div {
  height: 250px;
}

.cl-button--ghost-sm {
  padding: 2px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.cl-button--ghost {
  display: inline-block;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #375bd2;
  margin: 24px auto;
  border-radius: 6px;
  box-sizing: border-box;
  text-decoration: none !important;
  color: #375bd2;
  text-align: center;
  transition: all 0.2s;
}

.cl-button--ghost:hover {
  color: #ffffff;
  background-color: #375bd2;
}

.cl-box {
  width: 100%;
  height: auto;
  margin: 0px auto;
  text-align: center;
  border-radius: 16px;
}

.cl-box__lightblue {
  background-color: #f5f7fe;
}

.docs__main-link {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.cl-section--docs img {
  height: 70px;
}

.cl-section--docs h2 {
  margin-bottom: 40px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #dee7fc;
  margin-left: 0;
  margin-right: 0;
}

.cl-section--tools h2 {
  margin-bottom: 40px;
}

.cl-productcard {
  padding: 16px;
  padding-top: 32px;
  width: 100%;
  border-radius: 8px;
  border: 0px solid #dee7fc;
  background-color: #ffffff;
  transition: all 0.2s;
}

.cl-productcard:hover {
  background-color: #f5f7fe;
  cursor: pointer;
}

.cl-productcard:hover h2 {
  color: #375bd2 !important;
}
.cl-productcard h3 {
  font-size: 18px;
}

.cl-box-blue {
  background-color: #375bd2;
  border-radius: 16px;
  color: #fff;
  padding: 32px;
}

.cl-box-blue a {
  border: 2px solid #fff;
  color: #fff;
}

.cl-box-blue a:hover {
  color: #375bd2;
  background-color: #fff;
}

.cl-section--questions,
.cl-section--questions p {
  color: #fff !important;
}

.cl-select {
  padding: 2px 1px;
}

.nextSteps table td a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 16px;
}
.nextSteps table td:hover {
  background-color: rgba(238, 238, 238, 0.7);
}

/** Copied from chain.link **/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  color: #375bd2;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  max-width: 80%;
  vertical-align: middle;
  display: inline-block;
}

.nav-content img {
  margin: 16px;
}

svg:not(:root) {
  overflow: hidden;
}

pre,
textarea {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input {
  line-height: normal;
}

input[type='search'] {
  -webkit-appearance: none;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-size: 16px;
  line-height: 21px;
  color: #333;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #384248;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 40px;
  line-height: 44px;
}

h1.page-title {
  font-size: 34px;
}

h1 {
  font-size: 32px;
  line-height: 34px;
}

h2 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

.w-list-unstyled {
  padding-left: 0;
  list-style: none;
}

.w-embed:after,
.w-embed:before {
  content: ' ';
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-embed:after {
  clear: both;
}

button,
html input[type='button'],
input[type='reset'] {
  border: 0;
  cursor: pointer;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 64px;
  padding-left: 64px;
}

.paragraph.small {
  font-size: 14px;
}

.paragraph.small.footer-copyright {
  width: auto;
  margin-right: 24px;
  color: #858a95;
}

.paragraph.small.footer-copyright.footer-chainlinkreg {
  display: block;
  color: #858a95;
}

.paragraph.small.footer-chainlinkreg {
  color: #858a95;
}

.footer {
  padding: 120px 0 0;
  background-color: #252e42;
  font-size: 16px;
}
.footer h3 {
  font-size: 16px;
  font-weight: 700;
}

.footer-grid {
  padding-bottom: 120px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-row-gap: 32px;
  -ms-grid-columns: auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-col {
  width: auto;
}

.footer-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.footer-list-item.footer-list-item-hidden {
  display: none;
}

.footer-list-item-link {
  color: #9ea2ab;
}

.footer-list-item-social {
  display: flex;
  margin-bottom: 8px;
}

.footer-list-item-social-icon {
  margin-right: 8px;
}

.footer-copyright {
  width: 100%;
  background-color: #0c162c;
}

.footer-copyright-wrapper {
  display: flex;
  height: 92px;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright-wrapper-col {
  display: flex;
  align-items: center;
}

.footer-copyright-logo {
  margin-right: 24px;
}

.footer-copyright-logo.w--current {
  position: relative;
}

.footer-logo-text-hide {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 0;
  height: 0;
  min-width: 0;
  opacity: 0;
}

.html-embed {
  max-height: 30px;
  max-width: 120px;
}

/** Mobile */
@media screen and (max-width: 900px) {
  navigation {
    display: none;
  }
  .nav-content > div {
    width: 100%;
  }
  #nav-container {
    height: auto;
  }
  #nav-container nav {
    flex-direction: column;
    align-items: flex-start;
  }
  #nav-container .tab {
    padding: 8px 0 4px;
  }
  #nav-container .tab a {
    padding: 0;
  }

  #github-button {
    display: none;
  }
  .nav-content > div {
    padding-top: 0px;
  }
  footer.footer {
    padding-top: 0px;
  }
  footer > .container {
    display: none;
  }
  .container {
    padding: 0;
  }
  .cl-featuredcard {
    flex-direction: column;
  }
  .cl-featuredcard > div > div {
    height: auto;
  }
}
@media only screen and (max-width: 1023px) {
  .cl-featuredcard {
    height: auto;
    margin-bottom: 20px;
  }
  .cl-section--one .cl-featuredcard {
    height: auto;
  }
  .cl-box {
    padding: 24px 24px;
  }
  .cl-featuredcard-docs {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #dee7fc;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1099px) {
  .corner-floated {
    clear: both;
    float: none;
    padding: 4px 16px 0;
    margin-top: 0;
  }
}
@media only screen and (min-width: 576px) {
  .col-md-4 {
    flex-basis: 32%;
    max-width: 32%;
    margin: 0 10px 10px 0;
  }
  .col-md-4:last-child {
    margin-right: 0;
  }
}
@media only screen and (min-width: 768px) {
  .col-md-6 {
    flex-basis: 48%;
    max-width: 48%;
    margin: 0 10px 10px 0;
  }
  .col-md-6:last-child {
    margin-right: 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 1140px) {
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .cl-section--questions a {
    display: block;
  }
}
@media all and (max-width: 1100px) {
  .cl-custom-page {
    margin-right: 30px;
  }
}
