.form {
  margin-top: var(--space-5x);
  display: flex;
  flex-direction: column;
}

.form label {
  color: var(--blue-800);
  display: block;
  margin-bottom: var(--space-2x);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-normal);
  font-size: 0.875rem;
}

.input {
  border: var(--border-width-primary) solid var(--gray-300);
  border-radius: var(--border-radius-primary);
  padding: var(--space-2x) var(--space-4x);
  line-height: 22px;
  margin-bottom: var(--space-2x);
}
