.tooltip {
  position: relative;
}

.tooltip:hover {
  color: var(--black);
  background-color: var(--gray-300);
  cursor: text;
}

.tooltip:before {
  position: absolute;
  z-index: 50;
  bottom: 4em;
  left: 0;
  right: 0;
  content: attr(tooltip-text);
  visibility: hidden;
  opacity: 0;
  width: 50vw;
  max-width: 30em;
  background-color: var(--gray-300);
  color: var(--gray-700);
  text-align: left;
  border-radius: 0.4em;
  padding: 0.4em;
  transition: opacity 0.2s ease-in-out;
}

.tooltip:hover:before {
  opacity: 1;
  visibility: visible;
}

.textTooltip {
  position: relative;
  color: var(--gray-800);
  background-color: var(--gray-200);
  border-radius: 0.4em;
  padding: 0.15em;
}

.textTooltip:hover {
  color: var(--black);
  background-color: var(--gray-300);
  cursor: text;
}

.textTooltip:before {
  position: absolute;
  z-index: 50;
  bottom: 1.7em;
  left: 0;
  right: 0;
  content: attr(tooltip-text);
  visibility: hidden;
  opacity: 0;
  width: 50vw;
  max-width: 30em;
  background-color: var(--gray-300);
  color: var(--gray-700);
  text-align: left;
  border-radius: 0.4em;
  padding: 0.4em;
  transition: opacity 0.2s ease-in-out;
}

.textTooltip:hover:before {
  opacity: 1;
  visibility: visible;
}
