.tokens__grid {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: var(--space-2x);
}

@media (min-width: 992px) {
  .tokens__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--space-4x);
  }
}
