.toc {
  border-radius: 4px;
  border: 1px solid var(--border-color-secondary, #ced0d5);
  background: var(--background-color-primary, #fff);
  box-shadow: 0px var(--space-3x) var(--space-6x) -2px rgba(35, 51, 123, 0.1);
  padding: var(--space-8x) var(--space-6x);
  margin-top: var(--space-10x);
  width: 100%;
}

.toc ul {
  margin-top: var(--space-4x);
}

.headerLink {
  color: var(--gray-500, #858a95);
  font-size: 14px;
  line-height: 1.5;
  list-style-type: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.headerLink.depth-3 {
  padding-left: 2rem;
}

.headerLink.depth-4 {
  padding-left: 3rem;
}

.headerLink a {
  display: flex;
  justify-content: space-between;
  font: inherit;
  color: inherit;
  font-size: 16px;
}

h2.heading {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

@media (min-width: 48em) {
  .toc {
    border: initial;
    background: initial;
    box-shadow: initial;
    top: 0;
    padding: var(--doc-padding) 0;
    margin-top: 0;
    overflow: auto;
    position: sticky;
  }

  .headerLink {
    padding-left: 1rem;
    border-left: 2px solid var(--theme-divider);
    transition-property: color, border-left-color;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
  }

  .headerLink.active,
  .headerLink:hover,
  .headerLink:focus {
    color: var(--blue-600, #375bd2);
    border-left-color: var(--blue-600, #375bd2);
  }

  .headerLink:focus-within {
    color: var(--theme-text-light);
    border-left-color: hsla(var(--color-gray-40), 1);
  }

  .headerLink a {
    font-size: 14px;
  }

  .headerLink a > svg {
    display: none;
  }
}
