.headerLink {
  color: var(--gray-500, #858a95);
  font-size: 14px;
  padding-left: 1rem;
  border-left: 2px solid var(--theme-divider);
  line-height: 2.7;
  list-style-type: none;
  transition-property: color, border-left-color;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
}

.headerLink.active,
.headerLink:hover,
.headerLink:focus {
  border-left-color: var(--blue-600, #375bd2);
  color: var(--blue-600, #375bd2);
}

.headerLink:focus-within {
  border-left-color: hsla(var(--color-gray-40), 1);
  color: var(--theme-text-light);
}

.headerLink a {
  display: flex;
  font: inherit;
  color: inherit;
}
