.toc {
  border-radius: var(--space-1x);
  border: 1px solid var(--border-color-secondary, #ced0d5);
  background: var(--background-color-primary, #fff);
  box-shadow: 0px var(--space-3x) var(--space-6x) -2px rgba(35, 51, 123, 0.1);
  padding: var(--space-8x) var(--space-6x);
  margin-top: var(--space-10x);
  width: 100%;
}

.toc ul {
  margin-top: var(--space-4x);
  list-style: none;
  line-height: 1.5;
}

.heading {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}

.headerLink {
  color: var(--Page-Foreground-Muted, #6c7585);
  padding: var(--space-2x) 0;
}

.headerLink.depth-3 {
  padding-left: var(--space-4x);
}

.headerLink.depth-4 {
  padding-left: var(--space-8x);
}

.headerLink {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

h2.heading {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

@media (min-width: 50em) {
  .toc {
    border: initial;
    background: initial;
    box-shadow: initial;
    top: 0;
    padding: var(--doc-padding) 0;
    margin-top: 0;
    overflow: auto;
    position: sticky;
  }

  .headerLink {
    font-size: 14px;
    padding-left: var(--space-4x);
    border-left: 2px solid var(--theme-divider);
    transition-property: color, border-left-color;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
  }

  .headerLink.depth-3 {
    padding-left: var(--space-8x);
  }

  .headerLink.depth-4 {
    padding-left: var(--space-12x);
  }

  .headerLink.active,
  .headerLink:hover,
  .headerLink:focus {
    color: var(--Page-Foreground-Blue, #2e7bff);
    border-left-color: var(--Page-Foreground-Blue, #2e7bff);
    font-weight: 600;
  }

  .headerLink:focus-within {
    color: var(--theme-text-light);
    border-left-color: hsla(var(--color-gray-40), 1);
  }

  .headerLink > svg {
    display: none;
  }
}
