.layoutHero {
  display: flex;
  flex-direction: column;
  gap: var(--space-8x);
  margin: 0 auto;
  background-color: var(--gray-100);
  position: relative;
  width: 100%;
  height: 345px;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.heroContent {
  display: flex;
  flex-direction: column;
  padding-left: 55px;
  width: 100%;
  height: 100%;
  justify-content: center;
  max-width: 540px;
}

.heroContentWrapper {
  display: flex;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.heroBackgroundImg {
  position: absolute;
  right: 0;
  z-index: 1;
}
.heroTitle {
  font-size: 3rem;
  line-height: 50px;
  color: var(--gray-950);
  margin-bottom: var(--space-3x);
  letter-spacing: -0.48px;
  font-weight: 400;
}

.heroButtons {
  display: flex;

  gap: var(--space-4x);
  margin-top: var(--space-8x);
}

.heroImage {
  display: flex;
  position: absolute;
  bottom: 35px;
  right: 0;
}

.heroImage img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 425px) {
  .layoutHero {
    height: auto;
    padding: var(--space-8x) 0;
  }
}

/* lesser values cause overlapping of elements */
@media screen and (max-width: 1400px) {
  .layoutHero {
    border: none;
    background-color: transparent;
  }
  .heroImage,
  .heroBackgroundImg {
    display: none;
  }

  .heroContent {
    padding-left: 0;
  }

  .heroButtons {
    margin-top: var(--space-6x);
  }

  .heroButtons a {
    width: fit-content;
  }

  .heroTitle {
    font-size: 40px;
  }
}
