/* Overrides the top-level of the import (modal) */
.searchWrapper > * {
  z-index: unset !important;
  background-color: unset !important;
  position: unset !important;
}

.searchWrapper :is(ul, ol) {
  padding-left: var(--space-5x);
}

/* Design system overrides */
.searchWrapper :is(p, h2) {
  margin-bottom: unset;
}

.searchWrapper :is(p, li) {
  font-family: var(--font-family-text);
}

.searchWrapper ul {
  overflow: auto;
  margin-top: var(--space-2x);
  margin-bottom: var(--space-2x);
}

@media screen and (max-width: 480px) {
  .searchWrapper button {
    white-space: nowrap;
  }
}

@media screen and (min-width: 480px) {
  /* Overrides the search container */
  .searchWrapper > * > * {
    border-radius: 0.5rem !important;
  }
}
