.default {
  display: flex;
  align-items: center;
  padding: var(--space-2x);

  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: var(--space-1x);
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
  cursor: pointer;
  gap: vaR(--space-2x);
}

.mobile {
  display: inline;
}

.default .icon {
  min-width: var(--space-4x);
  height: var(--space-4x);
  fill: #6d7380;
}

.default .text {
  display: none;
  font-size: 14px;
  color: #6d7380;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.default .shortcut {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

@media screen and (min-width: 996px) {
  .default {
    max-width: 160px; /* Initial width */
    transition: max-width 0.5s ease, border 0.5s ease; /* Transitions for width and border */
    padding: 11px var(--space-2x);
  }

  .default:hover {
    max-width: 260px; /* Expanded width on hover */
    border-radius: var(--space-1x);
    border: 1px solid var(--blue-blue-200, #dfe7fb);
    background: var(--background-color-background-primary, #fff);
    transition: max-width 0.4s ease, border 0.4s ease; /* Faster transitions on hover */
  }

  .default .text {
    display: inline;
  }
}

@media screen and (min-width: 1080px) {
  .default {
    padding: 5px var(--space-2x);
  }

  .default .shortcut {
    display: flex;
    padding: var(--space-1x) var(--space-2x);
    align-items: center;
    gap: var(--space-1x);
    border-radius: var(--space-2x);
    border: 1px solid var(--border-color-border-primary, #ecedef);
    color: #6d7380;
  }
}
