.default {
  display: none;
  align-items: center;
  padding: var(--space-2x);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: var(--space-1x);
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
  cursor: pointer;
  gap: var(--space-2x);
}

.mobile {
  display: inline;
  padding-top: 3.2px;
}

.default img {
  min-width: 14px;
  height: 14px;
  margin-right: var(--space-2x);
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .default {
    display: flex;
  }
}

@media screen and (min-width: 996px) {
  .default {
    max-width: 160px; /* Initial width */
    transition: max-width 0.5s ease, border 0.5s ease; /* Transitions for width and border */
    padding: 11px var(--space-2x);
  }

  .default:hover {
    border-color: var(--blue-300);
    background-color: var(--blue-200);
    color: var(--grey-500);
  }
}

@media screen and (min-width: 768px) {
  .default {
    padding: 5px var(--space-2x);
    display: flex;
    padding: 3px var(--space-2x) var(--space-1x);
    align-items: center;
    gap: var(--space-1x);
    border-radius: var(--space-2x);
    border: 1px solid var(--border-color-border-primary, #ecedef);
    color: var(--gray-400);
    font-size: var(--space-3x);
  }
}
