---
import BaseLayout from "./BaseLayout.astro"
---

<BaseLayout title="Chainlink Documentation">
  <main class="layout">
    <slot />
  </main>

  <style>
    .layout {
      display: grid;
      grid-template-columns: auto;
      --gutter: var(--space-6x);
      --doc-padding: var(--space-6x);
      margin-bottom: 0;
      width: 100%;
      padding: var(--doc-padding) var(--gutter);
    }

    @media (min-width: 50em) {
      .layout {
        grid-template-columns: 1fr;
        gap: var(--gutter);
        width: 100vw;
        max-width: 1505px;
        padding: 0 var(--space-6x);
      }
    }

    @media (min-width: 992px) {
      .layout {
        gap: var(--doc-padding);
      }
    }
  </style>
</BaseLayout>
