---
import BaseLayout from "./BaseLayout.astro"
---

<BaseLayout title="Chainlink Documentation">
  <main class="layout">
    <slot />
  </main>

  <style>
    .layout {
      display: flex;
      flex-direction: column;
      align-self: center;
      max-width: var(--max-width);
      padding: 0 var(--space-6x);
    }
    @media (min-width: 50em) {
      .layout {
        max-width: var(--fullwidth-max-width);
      }
    }
    @media (min-width: 72em) {
      .layout {
        max-width: min(calc(1440px - 2 * var(--space-16x)), calc(100% - 2 * var(--space-16x)));
        padding: 0;
      }
    }
  </style>
</BaseLayout>
