.parameters {
  background: var(--color-background-secondary);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: var(--space-4x);
  display: flex;
  flex-direction: column;
  gap: var(--space-3x);
}

.parametersIntro {
  margin-bottom: var(--space-3x);
}

.steps {
  counter-reset: tutorial-step; /* This initializes the counter */
  display: flex;
  flex-direction: column;
  gap: var(--space-4x);
  list-style: none;
  padding: 0;
  margin: 0;
}
