name: Test
on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .astro
    steps:
      - name: Checkout Repo
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      - name: Install Dependencies
        run: npm i
      - name: Build
        run: npm run build
      # TODO: fix css files throwing 404 errors
      # - name: Check Links
      #   run: npm run linkcheck
      - name: Check Solidity
        run: npm run test
