---
export function getStaticPaths() {
  return [{ params: { stub: "ethereum-addresses" } }, { params: { stub: "rover" } }, { params: { stub: "spot" } }]
}

const { stub } = Astro.params
---

<div>Good stub, {stub}!</div>
